<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ? OR "auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_caracterizationitem", "change_caracterizationitem", "add_caracterizationcategory", "change_caracterizationcategory").present? || user.is_superuser == true %>

<%= f.label :user_id, "User" %>
<%= f.searchable_select :user_id, AuthUser.all, :id, :username %>
<%= f.hint "Select the user for this caracterization" %>

<%= f.label :citem_id, "Citem" %>
<%= f.searchable_select :citem_id, CaracterizationCaracterizationitem.all, :id, :name %>
<%= f.hint "Select the caracterization" %>

<%= f.label :current_state %>
<div class="field-cluster"><%= f.check_box :current_state %></div>
<%= f.hint "Is current state" %>

<% else %>
	No tienes los permisos necesarios para modificar la página
<% end %>