<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "delete_caracterizationitem", "delete_caracterizationcategory").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :user_id %>
      <%= index_th :citem_id %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |caracterization| %>
      <tr>
        <%= index_td caracterization, AuthUser.find(caracterization.user_id).username %>
        <%= index_td caracterization, CaracterizationCaracterizationitem.find(caracterization.citem_id).name %>
        <%= actions_td caracterization %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>