<%= javascript_include_tag Ckeditor.cdn_url %>
<script type="text/javascript">
  CKEDITOR.config.pasteFromWordPromptCleanup = true;
  CKEDITOR.config.pasteFromWordRemoveFontStyles = true;
  CKEDITOR.config.forcePasteAsPlainText = true;
  CKEDITOR.config.ignoreEmptyParagraph = true;
  CKEDITOR.config.removeFormatAttributes = true;
</script>

<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_module", "change_module").present? || user.is_superuser == true %>

<%= f.label :name %>
<%= f.text_field :name, placeholder:"Name" %>
<%= f.hint "Name of the module" %>
<br><br><br><br><br>

<%= f.label :html %><br><br><br>
<%= f.cktext_area :html %>
<%= f.hint "Html of the module" %>

<%= f.label :javascript %>
<%= f.text_area :javascript, value: "" %>
<%= f.hint "Javascript code" %>

<%= f.label :js_file %>
<%= f.attachment_field :js_file , value: " " %>
<%= f.hint "Use this field to upload a the js file" %>

<%= f.label :css %>
<%= f.text_area :css, value: "" %>
<%= f.hint "Css code" %>

<%= f.label :css_file %>
<%= f.attachment_field :css_file , value: " " %>
<%= f.hint "Use this field to upload a the css file" %>

<%= f.label :order %>
<%= f.text_field :order, placeholder:"Order", type: "number" %>
<%= f.hint "Number of order" %>

<%= f.label :position %>
<select id="cms_module_position" name="cms_module[position]">
<% @positions_templates.each do |position| %>
  <% if @resource.position == position %>
    <option value= <%=position%> selected="selected"><%=position%></option>
  <% else %>
    <option value= <%=position%> ><%=position%></option>
  <% end %>
<% end %>
</select>
<%= f.hint "Select the positions of the module" %>

<%= f.label :display %>
<select id="cms_module_display" name="cms_module[display]">

  <%if @resource.display == 'pages' %>
    <option value="pages" selected="selected">Whole Site</option>
  <% else %>
    <option value="pages">Whole Site</option>
  <% end %>

  <%if @resource.display =='sections' %>  
    <option value="sections" selected="selected">All Sections</option>
  <% else %>
    <option value="sections">All Sections</option>
  <% end %>

  <%if @resource.display =='about' %>
    <option value="about" selected="selected">All About Pages</option>
  <% else %>
    <option value="about">All About Pages</option>
  <% end %>

  <%if @resource.display =='articles' %>
    <option value="articles" selected="selected">All Articles</option>
  <% else %>
    <option value="articles">All Articles</option
  <% end %>

  <%if @resource.display =='tags' %>
    <option value="tags" selected="selected">All Tag pages</option>
  <% else %>
    <option value="tags">All Tag pages</option>
  <% end %>

  <%if @resource.display =='home' %>
    <option value="home" selected="selected" selected="selected">Homepage</option>
  <% else %>
    <option value="home">Homepage</option>
  <% end %>

  <%if @resource.display =='selected' %>
    <option value="selected" selected="selected">Selected Content</option>
  <% else %>
    <option value="selected">Selected Content</option>
  <% end %>

</select>
<%= f.hint "Select where display the module" %>
<%= f.label :cms_page_ids, "Pages" %>

<%= f.searchable_select :cms_page_ids, CmsPage.all, :id, :title, multiple:true %>
<%= f.hint "Select all pages where appears the module" %>

<%= f.label :news_article_ids, "Articles" %>
<%= f.searchable_select :news_article_ids, NewsArticle.all, :id, :title, multiple:true %>
<%= f.hint "Select all articles where appears the ad" %>

<%= f.label :taggit_tag_ids, "Tags" %>
<%= f.searchable_select :taggit_tag_ids, TaggitTag.all, :id, :name, multiple:true %>
<%= f.hint "Select all tags where appears the ad" %>

<%= f.label :django_site_ids, "Sites" %>
<%= f.searchable_select :django_site_ids, DjangoSite.all, :id, :domain, multiple:true %>
<%= f.hint "Select all sites where ad appears" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>