<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_site", "change_site").present? || user.is_superuser == true %>

<%= f.label :domain %>
<%= f.text_field :domain , placeholder:"Domain of the site" %>
<%= f.hint "Domain of the site" %>

<%= f.label :name %>
<%= f.text_field :name , placeholder:"Name of the site" %>
<%= f.hint "Name of the site" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>