<%

type1 = Type.new
type1.id = 1
type1.name = "Normal"
type2 = Type.new
type2.id = 2
type2.name = "Diagnostic"
type3 = Type.new
type3.id = 3
type3.name = "Progress"
type4 = Type.new
type4.id = 4
type4.name = "Pre-Task"
type5 = Type.new
type5.id = 5
type5.name = "Task"
type6 = Type.new
type6.id = 6
type6.name = "Post-Task"

%>

<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_sequence", "change_sequence").present? || user.is_superuser == true %>

<%= f.label :name %>
<%= f.text_field :name , placeholder:"Name" %>
<%= f.hint "Please type the name to identify the sequence" %>

<%= f.label :level %>
<%= f.searchable_select :level, LmsLevel.all.order(:difficulty_level), :id, :difficulty_level, include_blank:false %>
<%= f.hint "Please type the level of the sequence of activities" %>

<%= f.label :description %>
<%= f.text_area :description, placeholder:"Description" %>
<%= f.hint "Please type a description of the sequence of activities" %>

<% activities = LmsActivity.joins(:lms_level).where('published = true').order('"LMS_level"."difficulty_level"') %>
<% types = [type1,type2,type3,type4,type5,type6] %>

<%= f.has_many :sequence_lms_activities do |u| %>

	<%= u.has_many_header allow_destroy:true %>

	<%= u.label :lms_activity_id, "Activity" %>
	<%= u.searchable_select :lms_activity_id, activities, :id, :name %>
	<%= u.hint "Select a template to be sended" %>

	<%= u.label :type_activity, "Type" %>
	<%= u.searchable_select :type_activity, types, :id, :name %>
	<%= u.hint "Select the type of the activity inside the sequence" %>

	<%= u.label :percentage, "Precentage" %>
	<%= u.text_field :percentage, type: "number" %>
	<%= u.hint "This is the percentage where the students can pass to other activity" %>

	<%= u.label :order, "Order" %>
	<%= u.text_field :order, type: "number" %>
	<%= u.hint "Put the order where the activity will appear in the sequence" %>

<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>