<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_category", "change_category").present? || user.is_superuser == true %>

<%= f.label :name %>
<%= f.text_field :name , placeholder:"Name of the category" %>
<%= f.hint "Please type the name of the category" %>

<%= f.label :icon %>
<%= f.text_area :icon %>
<%= f.hint "Icon must be SVG just copy and paste SVG code" %>

<%= f.label :intro %>
<%= f.text_area :intro %>
<%= f.hint "Please add an introduction for the category" %>

<%= f.label :slug %>
<%= f.slug_field :slug , placeholder:"Slug", pattern:"/*" %>
<%= f.hint "Please type the slug of category" %>

<%= f.label :order %>
<%= f.text_field :order , placeholder:"Order", type: "number" %>
<%= f.hint "Please type the order of category" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>