<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_caracterizationitem", "change_caracterizationitem").present? || user.is_superuser == true %>

<%= f.label :name, "Name" %>
<%= f.text_field :name, placeholder: "Name of caracterization item" %>
<%= f.hint "Name of caracterization item" %>

<%= f.label :category_id, "Category" %>
<%= f.searchable_select :category_id, CaracterizationCaracterizationcategory.all, :id, :detail %>
<%= f.hint "Select the caracterization category" %>

<%= f.label :state %>
<div class="field-cluster"><%= f.check_box :state %></div>
<%= f.hint "Is state" %>

<% else %>
	No tienes los permisos necesarios para modificar la página
<% end %>