<%= f.label :id %>
<%= f.text_field :id , placeholder:"Id type", disabled: true %>
<%= f.hint "Id type" %>

<%= f.label :nombre %>
<%= f.text_field :nombre , placeholder:"Name" %>
<%= f.hint "Name" %>
