<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :id %>
      <%= index_th :nombre %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |frase| %>
      <tr>
        <%= index_td frase, :id %>
        <%= index_td frase, :nombre %>        
        <%= actions_td frase %>
      </tr>
    <% end %>
  </tbody>
<% end %>