<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_question", "change_question").present? || user.is_superuser == true %>

<%= f.label :name %>
<%= f.text_field :name, placeholder: "The name"%>
<%= f.hint "Type name" %>

<% else %>
	No tienes los permisos necesarios para modificar la página
<% end %>

