<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_ad", "change_ad").present? || user.is_superuser == true %>

<%= f.label :title %>
<%= f.text_field :title, placeholder:"Title" %>
<%= f.hint "Title of ad" %>

<%= f.label :type %>
<select include_blank="false" name="ads_ad[type]" id="ads_ad_type">

  <%if @resource.type =='code' %>
    <option value="code" selected="selected">Code</option>
  <% else %>
    <option value="code">Code</option>
  <% end %>

  <%if @resource.type =='image' %>
    <option value="image" selected="selected">Image</option>
  <% else %>
    <option value="image">Image</option>
  <% end %>

</select>
<%= f.hint "Type of ad" %>

<%= f.label :image %>
<%= f.image_field :image, preview_url:@resource.image.url %>
<%= f.hint "Image for ad" %>

<%= f.label :link %>
<%= f.text_field :link, placeholder: "Link of ad" %>
<%= f.hint "Link of ad" %>

<%= f.label :script %>
<%= f.text_area :script, placeholder: "Script of ad" %>
<%= f.hint "Script of ad" %>

<%= f.label :include_code %>
<%= f.text_area :include_code, placeholder: "Include code" %>
<%= f.hint "Include code for the ad" %>

<%= f.label :postition %>
<select include_blank="false" name="ads_ad[position]" id="ads_ad_position">

  <%if @resource.type =='header' %>
    <option value="header" selected="selected">header UP</option>
  <% else %>
    <option value="header">header UP</option>
  <% end %>

  <%if @resource.type =='header-d' %>
    <option value="header-d" selected="selected">header DOWN</option>
  <% else %>
    <option value="header-d">header DOWN</option>
  <% end %>

  <%if @resource.type =='sidebar1' %>
    <option value="sidebar1" selected="selected">sidebar first</option>
  <% else %>
    <option value="sidebar1">sidebar first</option>
  <% end %>

  <%if @resource.type =='sidebar2' %>
    <option value="sidebar2" selected="selected">sidebar second</option>
  <% else %>
    <option value="sidebar2">sidebar second</option>
  <% end %>

  <%if @resource.type =='sidebar3' %>
    <option value="sidebar3" selected="selected">sidebar third</option>
  <% else %>
    <option value="sidebar3">sidebar third</option>
  <% end %>

  <%if @resource.type =='sidebar4' %>
    <option value="sidebar4" selected="selected">sidebar fourth</option>
  <% else %>
    <option value="sidebar4">sidebar fourth</option>
  <% end %>

  <%if @resource.type =='idioms' %>
    <option value="idioms" selected="selected">Idioms</option>
  <% else %>
    <option value="idioms">Idioms</option>
  <% end %>

  <%if @resource.type =='before_content' %>
    <option value="before_content" selected="selected">Before content</option>
  <% else %>
    <option value="before_content">Before content</option>
  <% end %>

  <%if @resource.type =='after_content' %>
    <option value="after_content" selected="selected">After content</option>
  <% else %>
    <option value="after_content">After content</option>
  <% end %>

  <%if @resource.type =='footer' %>
    <option value="footer" selected="selected">Footer</option>
  <% else %>
    <option value="footer">Footer</option>
  <% end %>

</select>
<%= f.hint "Select all tags where appears the ad" %>

<%= f.label :display %>
<select id="ads_ad_display" name="ads_ad[display]">

  <%if @resource.type =='pages' %>
    <option value="pages" selected="selected">Whole Site</option>
  <% else %>
    <option value="pages">Whole Site</option>
  <% end %>

  <%if @resource.type =='sections' %>  
    <option value="sections" selected="selected">All Sections</option>
  <% else %>
    <option value="sections">All Sections</option>
  <% end %>

  <%if @resource.type =='about' %>
    <option value="about" selected="selected">All About Pages</option>
  <% else %>
    <option value="about">All About Pages</option>
  <% end %>

  <%if @resource.type =='articles' %>
    <option value="articles" selected="selected">All Articles</option>
  <% else %>
    <option value="articles">All Articles</option
  <% end %>

  <%if @resource.type =='tags' %>
    <option value="tags" selected="selected">All Tag pages</option>
  <% else %>
    <option value="tags">All Tag pages</option>
  <% end %>

  <%if @resource.type =='home' %>
    <option value="home" selected="selected" selected="selected">Homepage</option>
  <% else %>
    <option value="home" selected="selected">Homepage</option>
  <% end %>

  <%if @resource.type =='selected' %>
    <option value="selected" selected="selected">Selected Content</option>
  <% else %>
    <option value="selected">Selected Content</option>
  <% end %>

</select>
<%= f.hint "Select where display the ad" %>

<%= f.label :news_section_ids, "Sections" %>
<%= f.searchable_select :news_section_ids, NewsSection.all, :id, :title, multiple:true %>
<%= f.hint "Select all sections where appears the ad" %>

<%= f.label :cms_page_ids, "Pages" %>
<%= f.searchable_select :cms_page_ids, CmsPage.all, :id, :title, multiple:true %>
<%= f.hint "Select all pages where appears the ad" %>

<%= f.label :news_article_ids, "Articles" %>
<%= f.searchable_select :news_article_ids, NewsArticle.all, :id, :title, multiple:true %>
<%= f.hint "Select all articles where appears the ad" %>

<%= f.label :taggit_tag_ids, "Tags" %>
<%= f.searchable_select :taggit_tag_ids, TaggitTag.all, :id, :name, multiple:true %>
<%= f.hint "Select all tags where appears the ad" %>

<%= f.label :django_site_ids, "Sites" %>
<%= f.searchable_select :django_site_ids, DjangoSite.all, :id, :domain, multiple:true %>
<%= f.hint "Select all sites where ad appears" %>

<%= f.label :order %>
<%= f.text_field :order, placeholder:"Order", type: "number" %>
<%= f.hint "Order of the ad" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>