<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_userquestion", "change_userquestion").present? || user.is_superuser == true %>

<%= f.label :user_id, "User" %>
<%= f.searchable_select :user_id, AuthUser.all, :id, :username %>
<%= f.hint "Select the user" %>

<%= f.label :question_id, "Question" %>
<%= f.searchable_select :question_id, LmsQuestion.all, :id, :text %>
<%= f.hint "Select the question" %>

<%= f.label :category_id, "Category" %>
<%= f.searchable_select :category_id, LmsCategory.all, :id, :name %>
<%= f.hint "Select the category" %>

<%= f.label :passed, "Passed" %>
<div class="field-cluster"><%= f.check_box :passed %></div>
<%= f.hint "Is passed" %>

<%= f.label :assigned, "Assigned" %>
<div class="field-cluster"><%= f.check_box :assigned %></div>
<%= f.hint "Is assigned" %>

<%= f.label :phrases_id, "Phrases" %>
<div class="field-cluster"><%= f.check_box :phrases_id %></div>
<%= f.hint "Has Phrases" %>

<%= f.label :date %>
<div class="field-cluster"><%= f.date_select :date %></div>
<%= f.hint "Date of assigned question" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>