<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_userquestion").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :id %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |assigned| %>
      <tr>
        <%= index_td assigned, assigned.id %>       
        <%= actions_td assigned %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>