<div class="container">
  <div class="login">
      <div class="heading">
          <%= image_tag("login_bg.png") %>
      </div>
      <div class="content">        
        <p>Input your new password</p>
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
          <%= devise_error_messages! %>
          <%= f.hidden_field :reset_password_token %>
            <p></p>
            <label for="id_new_password1">New password:</label>
            <%= f.password_field :password, autofocus: true, autocomplete: "off", class: "form-control" %>

            <p></p>
            <label for="id_new_password2">Confirm your new password:</label>
            <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control" %>
            <br>
            <%= f.submit "Change my password", class: "btn" %>
        <% end %>
      </div>
  </div>
</div>
