<div class="container">
    <div class="login">
        <div class="heading">
            <%= image_tag("login_bg.png") %>
        </div>
        <div class="content">
            <p>Have you forgotten your password? type in your email and we will send instructions to start the
                recovery process</p>
            <br>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  				<%= devise_error_messages! %>
  				<%= f.email_field :email, autofocus: true, class: "form-control", placeholder: "Email" %>
  				<%= f.submit "Recover my password" %>
            <% end %>
        </div>
    </div>
</div>