<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
    <style>
      
    </style>
  </head>

  <body>
	<h1>A new user request more info to Elpost</h1>
    <p>
      <h3>User info:<br><h3>
      <b>first name is:</b> <%= @user[0] %><br>
      <b>Last name is:</b> <%= @user[1] %><br>
      <b>Email is:</b> <%= @user[2] %><br>
      <b>Phone is:</b> <%= @user[3] %><br>
      <b>Country is:</b> <%= @user[4] %><br>
      <b>City is:</b> <%= @user[5] %><br>
      <b>Accept terms and conditions:</b> <%= @user[6] %><br>
    </p>
  </body>
</html>