<!-- Para lograr insertar los atributos del usuario -->
<% @content = @content.gsub("\#{@user.username}","#{@user.username}") %>
<% @content = @content.gsub("\#{@user.first_name}","#{@user.first_name}") %>
<% @content = @content.gsub("\#{@user.last_name}","#{@user.last_name}") %>
<% @content = @content.gsub("\#{@user.date_joined}","#{@user.date_joined}") %>
<% @content = @content.gsub("\#{@user.email}","#{@user.email}") %>

<!-- Para lograr insertar los atributos del usuario de su perfil -->
<% @content = @content.gsub("\#{@user.latamusers_userprofiles.first.date_end}","#{@user.latamusers_userprofiles.first.date_end}") %>
<% @content = @content.gsub("\#{@user.latamusers_userprofiles.first.city}","#{@user.latamusers_userprofiles.first.city}") %>
<% @content = @content.gsub("\#{@user.latamusers_userprofiles.first.gender}","#{@user.latamusers_userprofiles.first.gender}") %>
<% @content = @content.gsub("\#{@user.latamusers_userprofiles.first.country}","#{@user.latamusers_userprofiles.first.country}") %>
<% @content = @content.gsub("\#{@user.latamusers_userprofiles.first.ocupation}","#{@user.latamusers_userprofiles.first.ocupation}") %>
<% @content = @content.gsub("\#{@user.latamusers_userprofiles.first.birthday}","#{@user.latamusers_userprofiles.first.birthday}") %>
<% @content = @content.gsub("\#{@user.password}","#{@user.password}") %>

<%= @content.html_safe %>