<% content_for :title, " - Editar perfil" %>
<script type="text/javascript">
  $(".fake-autofill-fields").show();
    // some DOM manipulation/ajax here
    window.setTimeout(function () {
        $(".fake-autofill-fields").hide();
    },1);
</script>
<main id="main">
            
    <div class="container">
    <%= render "modules/sidebar"%>
    <div class="main_l" id="main">
        <h2 class="page_title">Editar perfil</h2>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

        <%= devise_error_messages! %>
        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <input type="text" class="fake-autofill-fields"/>
        <input type="password" class="fake-autofill-fields"/>

          <div class="row">
              <div class="form-group">
                  <%= f.label :first_name %><br />
                  <%= f.text_field :first_name, autofocus: true, class: "form-control" %>
              </div>
              <div class="form-group">
                  <%= f.label :last_name %><br />
                  <%= f.text_field :last_name, class: "form-control" %>
              </div>
          </div>
          <div class="row">
              <div class="form-group">
                <%= f.label :email %><br />
                <%= f.email_field :email, class: "form-control" %>
              </div>

          <%= f.fields_for :latamusers_userprofiles do |p| %>
              <div class="form-group">
                <%= p.label :thumbnail, "Profile picture" %><br />
                <%= p.file_field :thumbnail %>
              </div>
          </div>
          <div class="row">
              <div class="form-group">
                <%= p.label :country %><br />
                <%= p.select :english_level, options_for_select(Country.order(:country).map{|c| [ c.country, c.country ]}, :selected => if resource.latamusers_userprofiles.first.country.present? then resource.latamusers_userprofiles.first.country else "Colombia" end), class: "form-control"%> 
              </div>
              <div class="form-group">
                <%= p.label :city %><br />
                <%= p.text_field :city, class: "form-control"%>
              </div>
          </div>
          <div class="row">
              <div class="form-group">
                <%= p.label :gender %><br/>
                <%= p.select :gender, options_for_select([['Male', 'M'],['Female', 'F']], :selected => resource.latamusers_userprofiles.first.gender), class: "form-control"%>
              </div>

              <div class="form-group">
                  <%= p.label :birthday %><br/>
                  <%= p.date_field :birthday, class: "form-control"%>
              </div>
          </div>
          <div class="row">
              <div class="form-group">
                <%= p.label :english_level %><br/>
                <%= p.select :english_level, options_for_select([['A1', 'A1'],['A2', 'A2'],['B1', 'B1'], ['B2', 'B2'], ['C1', 'C1'], ['C2', 'C2']], :selected => resource.latamusers_userprofiles.first.english_level), class: "form-control"%>        
              </div>

              <div class="form-group">
                <%= p.label :education %><br/>
                <%= p.select :education, options_for_select([['Primaria', 'grade_school'],['Secundaria', 'high_school'],['Universitario', 'college'],['Postgrado', 'graduate']], :selected => resource.latamusers_userprofiles.first.education), class: "form-control"%>  
              </div>
          </div>

          <div class="row">
            <div class="form-group">
              <%= p.label :ocupation %><br/>
              <%= p.select :ocupation, options_for_select([['Estudiante', 'student'],['Empleado', 'employee'],['Independiente', 'freelance'],['Desempleado', 'unemployed']], :selected => resource.latamusers_userprofiles.first.ocupation), class: "form-control"%>    
            </div>
          </div>

          <%= p.text_field :type, type: "hidden", value: "student"%>
          <% end %>

            <div class="row">
              <div class="form-group">
                <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
                <%= f.password_field :current_password %>
              </div>
            </div>
            <button type="submit" class="btn-post">Guardar</button>
        <% end %>

      <div class="row"> 
        <h3>Cancel my account</h3>
      </div>
      <p><button data-confirm="Are you sure?" class="btn-post" type="submit">Cancel my account</button></p>

   </div>

  </b>
  </div>
</main>