<% content_for :title, " - Regístrate" %>
<% @disable_nav = true %>
<% @disable_foot = true %>

<style type="text/css">
  @media only screen and (max-width: 992px) {
    body {

        background-image: url("../assets/bg-2.jpg") !important;
    }

    .menu-bottom{
      display: none;
    }

    .logo-uplogin{
      padding-bottom: 0px;
      padding-top: 0px;
      display: inherit !important;
    }

    .align-left{
      display: none;
    }

    .form-show{
      display: inherit !important;
    }

    .responsive-form{
      width: 100% !important;
    }

    .new_auth_user{
      width: 100% !important;
    }

    .responsive-title{
      display: none;
    }

    .responsive-title-gen{
      color: white;
    }
  }
</style>

<style type="text/css">
  body  {
    background-image: url("../assets/fondo0.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
  }

  .new_auth_user { background-color: white;
    width: 80%;
    height: 70%;
    top: 50%;
    left: 50%;
    padding: 3%;
    border-radius: 25px; 
    box-shadow: 0px 0px 53px -6px rgba(0,0,0,0.82);
  }
</style>

<style type="text/css">
.input-box {
    margin-bottom: 10px;
    margin-top: 10px;
    height: 50px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.success, .error {
    display: none;
}
.standard-button2:hover {
    border: none;
}
.btn:active {
    outline: inherit;
}
.standard-button2 {
    font-size: 18px;
    font-weight: 400 !important;
    border-radius: 4px !important;
    text-shadow: 0 !important;
    color: #ffffff;
    min-width: 150px;
    border: none;
    padding: 16px 25px 16px 25px;
    margin: 5px;
    -webkit-transition: all ease 0.25s;
    transition: all ease 0.25s;
}
li { cursor: pointer; }
</style>

<style type="text/css">

  .menu-bottom{
    height: 10%;
  } 

  .login-landing{
    height: 80%;
  }

  .head-landing{
    height: 10%;
  } 

  li{
    display: inline;
    font-size: 1.5em;
    padding-left: 1em;
  }

  .active-item{
    color: #F53759;
  }

</style>

<style type="text/css">
  .btn.btn-signin {
    /*background-color: #4d90fe; */
    background-color: rgb(12, 97, 33);
    /* background-color: linear-gradient(rgb(104, 145, 162), rgb(12, 97, 33));*/
    padding: 0px;
    font-weight: 700;
    font-size: 14px;
    height: 36px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: none;
    -o-transition: all 0.218s;
    -moz-transition: all 0.218s;
    -webkit-transition: all 0.218s;
    transition: all 0.218s;
}

.btn.btn-signin:hover,
.btn.btn-signin:active,
.btn.btn-signin:focus {
    background-color: rgb(104, 145, 162);
}
</style>

<style type="text/css">
  .align-left{
    text-align: center;
    top: 0;
  }  
</style>


<div class="head-landing">
</div>

<div class="login-landing">
  <div class="col-md-12">
    <div class="col-md-4 text-center responsive-form">
      <div class="row" style="width: 90%;">
        <br>
        <div class="align-left">
          <%= image_tag("logoPostNosotros.png", :style => "height: auto; width: 150px;") %>
        </div>
        <br>
      </div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div class="logo-uplogin" style="display: none;">
          <%= image_tag("logoPostNosotros.png", :style => "height: auto; width: 100px;") %>
        </div>

        <div class="row">
          <div class="col-md-8 col-md-offset-2 text-center responsive-title">
            <h3 style="margin-top: 20px; margin-bottom: 0px; color: #000000; border-bottom: inherit;">Registrarse</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= f.email_field :email, autofocus: true, placeholder: "Correo" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= f.text_field :username, placeholder: "Nombre de usuario" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= f.password_field :password, autocomplete: "off", placeholder: "Contraseña" %>
          </div>
        </div>
        <br>
        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <%= f.password_field :password_confirmation, autocomplete: "off", placeholder: "Confirmar contraseña" %>
          </div>
        </div>
        <br>
        <%= f.check_box :terms %>
        <%= f.label :terms, "Acepto términos y condiciones" %>
        <br>
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Registrarse</button>
          </div>
        </div>

      <% end %>
    </div>
    <div class="col-md-8 text-center">
      <br><br><br>
      <div class="form-show" style="display: none;">
        <h2 class="light-text responsive-title-gen">Conoce más sobre <%= image_tag("elpost-titulo-negro.png")%></h2>
        <br>
        <form id="form_contacto" method="post" action="/send_contact_mail"> 
          <h4 class="success">
            <i class="icon_check"></i> Su mensaje ha sido enviado satisfactoriamente.
          </h4>
            
          <h4 class="error">
            <i class="icon_error-circle_alt"></i> E-mail debe ser válido y el mensaje debe tener más de un caracter.
          </h4>
            
          <div class="col-md-4">
            <input class="form-control input-box" id="txtNombre" type="text" name="txtNombre" placeholder="Nombre">
          </div>
                      
          <div class="col-md-4">
            <input class="form-control input-box" id="txApellido" type="text" name="txtApellido" placeholder="Apellido">
          </div>
            
          <div class="col-md-4">
            <input class="form-control input-box" id="txtEmail" type="email" name="txtEmail" placeholder="E-mail">
          </div>
                      
          <div class="col-md-4">
            <input class="form-control input-box" id="txtTelefono/Celular" type="text" name="txtTelefono" placeholder="Teléfono/Celular">
          </div>
                    
          <div class="col-md-4">
            <input class="form-control input-box" id="txtPais" type="text" name="txtPais" placeholder="País">
          </div>
                    
          <div class="col-md-4">
            <input class="form-control input-box" id="txtCiudad" type="text" name="txtCiudad" placeholder="Ciudad">
          </div>
          
          <div class="col-md-12">
            <label class="responsive-title-gen"><input type="checkbox" name="chkAcepto" id="chkAcepto" value="S"> Acepto recibir boletines gratuitos y promociones por mail.</label>
          </div>
                    
          <button class="btn btn-primary standard-button2 ladda-button" type="submit" id="txtAcepto" name="condiciones" data-style="expand-left">Solicitar información</button>
        </form>
      </div>
    </div>
  </div>
</div>

<div class="menu-bottom">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <ul class="options-landing">
      <li id="nosotros">Nosotros</li>
      <li id="funciona">¿Cómo funciona?</li>
      <li id="quien">¿Para quien?</li>
      <li id="contacto">Contacto</li>
    </ul>
  </div>
</div>

<script type="text/javascript">
  
  if ( $(window).width() > 992) {  
    var index = 0;
    console.log(index);
    var listaimg = ["../assets/fondo0.jpg", "../assets/fondo1.jpg", "../assets/fondo2.jpg", "../assets/fondo3.jpg", "../assets/fondo4.jpg"];


    var ticker = function() {
      changeImage();
    };

    window.clearInterval(myTimer);
    var myTimer = window.setInterval(ticker, 5000);

    function changeImage() {
      $('body').css("background-image", 'url(' + listaimg[index] + ')');               
      index++;               
      if(index == listaimg.length)
        index = 0;

      if(index == 1){
        window.clearInterval(myTimer);
        myTimer = window.setInterval(ticker, 5000);
        $(".active-item").removeClass("active-item");
        $(".form-show").hide();
      } else if (index == 2){
        window.clearInterval(myTimer);
        myTimer = window.setInterval(ticker, 5000);
        $(".active-item").removeClass("active-item");
        $("#nosotros").addClass("active-item");
        $(".form-show").hide();
      } else if(index == 3){
        window.clearInterval(myTimer);
        myTimer = window.setInterval(ticker, 5000);
        $(".active-item").removeClass("active-item");
        $("#funciona").addClass("active-item");
        $(".form-show").hide();
      } else if(index == 4){
        window.clearInterval(myTimer);
        myTimer = window.setInterval(ticker, 5000);
        $(".active-item").removeClass("active-item");
        $("#quien").addClass("active-item");
        $(".form-show").hide();
      } else if(index == 0){
        window.clearInterval(myTimer);
        myTimer = window.setInterval(ticker, 60000);
        $(".active-item").removeClass("active-item");
        $("#contacto").addClass("active-item");
        $(".form-show").show("1000");
      }

    }

    $( "#nosotros" ).click(function() {
      index = 1;
      window.clearInterval(myTimer);
      myTimer = window.setInterval(ticker, 5000);
      $(".active-item").removeClass("active-item");
      $(this).addClass("active-item");
      changeImage();
    });

    $( "#funciona" ).click(function() {
      index = 2;
      window.clearInterval(myTimer);
      myTimer = window.setInterval(ticker, 5000);
      $(".active-item").removeClass("active-item");
      $(this).addClass("active-item");
      changeImage();
    });

    $( "#quien" ).click(function() {
      index = 3;
      window.clearInterval(myTimer);
      myTimer = window.setInterval(ticker, 5000);
      $(".active-item").removeClass("active-item");
      $(this).addClass("active-item");
      changeImage();
    });

    $( "#contacto" ).click(function() {
      index = 4;
      window.clearInterval(myTimer);
      myTimer = window.setInterval(ticker, 60000);
      $(".active-item").removeClass("active-item");
      $(this).addClass("active-item");
      changeImage();
    });
  }
</script>
<script>
    (function($){
        $(document).ready(function() {
            
            $("#form_contacto").submit(function(e) {                        
                if ($("#form_contacto #txtNombre").val() === ""){
                    alert('Debe ingresar el nombre');
                    e.preventDefault();
                    return false;
                }
                if ($("#form_contacto #txtEmail").val() === ""){
                    alert('Debe ingresar el email');
                    e.preventDefault();
                    return false;
                }
            });
            
            $('a[href*=\\#]').click(function() {
                if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'')
                 && location.hostname == this.hostname) {
                     var $target = $(this.hash);
                     $target = $target.length && $target || $('[name=' + this.hash.slice(1) +']');
                     if ($target.length) {
                         var targetOffset = $target.offset().top;
                         $('html,body').animate({scrollTop: targetOffset}, 1000);
                         return false;
                    }
                }
            });

        });
    })(jQuery);
</script>
<script>
  (function (i, s, o, g, r, a, m) {
      i['GoogleAnalyticsObject'] = r;
      i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
      }, i[r].l = 1 * new Date();
      a = s.createElement(o),
              m = s.getElementsByTagName(o)[0];
      a.async = 1;
      a.src = g;
      m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  ga('create', 'UA-57877027-6', 'auto');
  ga('send', 'pageview');
</script>