<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_user", "change_user").present? || user.is_superuser == true %>

<% if @resource.id.blank? %>
	<%= f.label :import_users %>
	<a href="#" onClick="window.open('<%=import_users_path%>','Importar desde CSV','resizable,height=500,width=500'); return false;">Importar usuarios</a>
	<%= f.hint "Click here to upload an Excel or CSV to import users" %>
<% end %>

<% if @resource.id.present? %>
	<%= f.label :login_as_this_user %>
	<a href="<%=login_users_path_url(:username => @resource.username)%>" target="_blank">Login as this user</a>
	<%= f.hint "Login as this user" %>
<% end %>

<%= f.label :username %>
<%= f.text_field :username , placeholder:"Username" %>
<%= f.hint "Required. 30 characters or fewer. Letters, digits and @/./+/-/_ only" %><br><br><br><br><br><br><br><br><br>

<% if @resource.id.present? %>
	<%= f.label :change_password %>
	<a href="#" onClick="window.open('<%=edit_password_admin_path(@resource)%>','Cambiar contraseña','resizable,height=260,width=370'); return false;">Cambiar contraseña</a>
	<%= f.hint "Click here to update the password of this user" %>
<% else %>
	<%= f.label :password %>
	<%= f.text_field :password, type: "password", placeholder: "Password"%>
	<%= f.hint "Password for user" %>
<% end %>

<%= f.label :first_name %>
<%= f.text_field :first_name, placeholder: "First name"%>
<%= f.hint "First name of the user" %>

<%= f.label :last_name %>
<%= f.text_field :last_name, placeholder:"Last name" %>
<%= f.hint "Last name of the user" %>

<%= f.label :email %>
<%= f.text_field :email , placeholder:"Email address" %>
<%= f.hint "Email of user" %>

<%= f.label :is_active %>
<div class="field-cluster"><%= f.check_box :is_active %></div>
<%= f.hint "Designates whether this user should be treated as active. Unselect this instead of deleting accounts." %>

<%= f.label :is_staff %>
<div class="field-cluster"><%= f.check_box :is_staff %></div>
<%= f.hint "Designates whether the user can log into this admin site." %>

<%= f.label :is_superuser %>
<div class="field-cluster"><%= f.check_box :is_superuser %></div>
<%= f.hint "Designates that this user has all permissions without explicitly assigning them." %>

<%= f.label :auth_group_ids, "Groups" %>
<%= f.searchable_select :auth_group_ids, AuthGroup.all, :id, :name, multiple:true %>
<%= f.hint "Select the groups for this user" %>

<%= f.label :auth_permission_ids, "Permissions" %>
<%= f.searchable_select :auth_permission_ids, AuthPermission.all, :id, :name, multiple:true %>
<%= f.hint "Select the permissions for this user" %>

<%= f.label :last_sign_in_at %>
<%= f.timestamp_field :last_sign_in_at %>
<%= f.hint "Date last login of user" %>

<%= f.label :date_joined %>
<%= f.timestamp_field :date_joined %>
<%= f.hint "Date date joined of user" %>

<% else %>
	No tienes los permisos necesarios para modificar la página
<% end %>

