<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_masive", "change_masive").present? || user.is_superuser == true %>

<%= f.label :subject %>
<%= f.text_field :subject %>
<%= f.hint "Add a subject to email" %>
<br><br><br><br><br><br>

<%= f.label :auth_user_ids, "Users" %>
<%= f.searchable_select :auth_user_ids, AuthUser.all, :id, :username, multiple:true %>
<%= f.hint "Select each user to send email" %>

<%= f.label :latamusers_usergroup_ids, "Groups" %>
<%= f.searchable_select :latamusers_usergroup_ids, LatamusersUsergroup.all, :code, :name, multiple:true %>
<%= f.hint "Select each group to send email" %>

<%= f.label :latamusers_intitution_ids, "Institutions" %>
<%= f.searchable_select :latamusers_intitution_ids, LatamusersIntitution.all, :id, :name, multiple:true %>
<%= f.hint "Select each institution to send email" %>

<%= f.label :template_id, "Template" %>
<%= f.searchable_select :template_id, Temp.all, :id, :title %>
<%= f.hint "Select a template to be sended" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>