<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_masive").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :id %>
      <%= index_th :auth_user_ids %>
      <%= index_th :template_id %>
      <%= index_th :latamusers_usergroup_ids %>
      <%= index_th :latamusers_intitution_ids %>
      <%= index_th :success %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |masive| %>
      <tr>
        <%= index_td masive, :id %>
        <%= index_td masive, :auth_user_ids %>
        <%= index_td masive, Temp.find(masive.template_id).title %>
        <%= index_td masive, :latamusers_usergroup_ids %>
        <%= index_td masive, :latamusers_intitution_ids %>
        <%= index_td masive, :success %>
        <%= actions_td masive %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>