<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_word", "change_word").present? || user.is_superuser == true %>

<%= f.label :word %>
<%= f.text_field :word , placeholder:"Word" %>
<%= f.hint "Please type the word" %>

<%= f.has_many :lms_definitions do |u| %>

	<%= u.has_many_header allow_destroy:true %>

	<%= u.label :use, "Use" %>
	<%= u.text_field :use %>
	<%= u.hint "Write the use of the word" %>

	<%= u.label :definition, "Definition" %>
	<%= u.text_field :definition %>
	<%= u.hint "Write the definition of the word" %>

	<%= u.label :example, "Example" %>
	<%= u.text_field :example %>
	<%= u.hint "Write an example for the word" %>

<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>