<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_word").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :id %>
      <%= index_th :word %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |word| %>
      <tr>
        <%= index_td word, :id %>
        <%= index_td word, :word %>
        <%= actions_td word %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>