<%= javascript_include_tag Ckeditor.cdn_url %>

<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_article", "change_article").present? || user.is_superuser == true %>

<%= f.label :title %>
<%= f.text_field :title , placeholder:"Title of the article" %>
<%= f.hint "Type the title of the article" %>

<%= f.label :news_section_ids, "Section" %>
<%= f.searchable_select :news_section_ids, NewsSection.all.joins(:django_sites).where('domain = ?', 'elpost.co'), :id, :title, multiple:true %>
<%= f.hint "Select the sections of the article" %>
<br><br><br><br><br><br><br><br><br>

<%= f.label :content %><br><br><br><br>
<%= f.cktext_area :content %>
<%= f.hint "Please add the content of the article" %>
<br><br><br>

<%= f.label :excerpt %><br><br><br>
<%= f.cktext_area :excerpt %>
<%= f.hint "Please add the excerpt of the article" %>

<%= f.label :author %>
<%= f.text_field :author %>
<%= f.hint "Please add the author of the article" %>

<%= f.label :source %>
<%= f.text_field :source %>
<%= f.hint "Please add the source of the article" %>

<%= f.label :source_url %>
<%= f.text_field :source_url %>
<%= f.hint "Please add the source url of the article" %>

<%= f.label :pubDate, "Publishing Date" %>
<%= f.timestamp_field :pubDate %>
<%= f.hint "The date this article should be published." %>

<%= f.label :upDate, "Update Date" %>
<%= f.timestamp_field :upDate %>
<%= f.hint "The date this article was updated" %>

<%= f.label :featured, "Featured" %>
<div class="field-cluster"><%= f.check_box :featured %></div>
<%= f.hint "Select if the article is featured" %>

<%= f.label :slug %>
<%= f.slug_field :slug, placeholder:"Slug", pattern:"/*" %>
<%= f.hint "Slug of article" %>

<%= f.label :description %>
<%= f.text_field :description %>
<%= f.hint "Please add a description for the article" %>

<%= f.label :watch, "Watch" %>
<div class="field-cluster"><%= f.check_box :watch %></div>
<%= f.hint "Select if the article is visible" %>

<%= f.label :show_link_to_post, "Show link" %>
<div class="field-cluster"><%= f.check_box :show_link_to_post %></div>
<%= f.hint "Select if the link of post is going to be visible" %>

<%= f.label :taggit_tag_ids, "Tags" %>
<%= f.text_field :tags, id: "tag1" %>
<%= f.hint "Put all the tags for this article" %>

<%= f.has_many :media_galleries do |m| %>

	<% if m.index == 1 %>
		<%= m.label :media_medium_ids, "Media Images" %>
	<% else %>
		<%= m.label :media_medium_ids, "Media Audio" %>
	<% end %>

	<div class="field-cluster"><%= m.searchable_select :media_medium_ids, (m.index == 1) ? MediaMedium.where('type in(?)','image').order(id: :desc) : MediaMedium.where('type in(?)','audio').order(id: :desc), :id, :title, multiple:true %><button class="button" id="refresh-media-<%=m.index%>"><%= image_tag("refresh.jpg", size: "30x30")%></button></div>
	<%= m.hint "Select all the media for this gallery" %>

	<%= m.text_field :content_type_id, type: "hidden", value: "13" %>

	<script type="text/javascript">

		(function(funcName, baseObj) {
		    funcName = funcName || "docReady";
		    baseObj = baseObj || window;
		    var readyList = [];
		    var readyFired = false;
		    var readyEventHandlersInstalled = false;

		    function ready() {
		        if (!readyFired) {
		            readyFired = true;
		            for (var i = 0; i < readyList.length; i++) {
		                readyList[i].fn.call(window, readyList[i].ctx);
		            }
		            readyList = [];
		        }
		    }

		    function readyStateChange() {
		        if ( document.readyState === "complete" ) {
		            ready();
		        }
		    }

		    baseObj[funcName] = function(callback, context) {
		        if (typeof callback !== "function") {
		            throw new TypeError("callback for docReady(fn) must be a function");
		        }
		        if (readyFired) {
		            setTimeout(function() {callback(context);}, 1);
		            return;
		        } else {
		            readyList.push({fn: callback, ctx: context});
		        }
		        if (document.readyState === "complete") {
		            setTimeout(ready, 1);
		        } else if (!readyEventHandlersInstalled) {
		            if (document.addEventListener) {
		                document.addEventListener("DOMContentLoaded", ready, false);
		                window.addEventListener("load", ready, false);
		            } else {
		                document.attachEvent("onreadystatechange", readyStateChange);
		                window.attachEvent("onload", ready);
		            }
		            readyEventHandlersInstalled = true;
		        }
		    }
		})("docReady", window);

		docReady(function() {			
			$(".has-many-create").hide();
			$("#refresh-media-<%=m.index%>").click(function reload_media(){
				html_select = "";
				html_selected = [];
				$("#news_article_media_galleries_attributes_<%=m.index%>_media_medium_ids_chosen .chosen-choices .search-choice .search-choice-close").each(function(i, obj) {
					html_selected.push($('#news_article_media_galleries_attributes_<%=m.index%>_media_medium_ids option').eq($(this).attr("data-option-array-index")).val());
				});
				$.ajax({
					url : '<%= if (m.index == 1) then "/get_media/image" else "/get_media/audio" end %>',
					type : 'POST',
					dataType : 'json',
					beforeSend: function() {
						$("#refresh-media-<%=m.index%>").html('<%= image_tag("refresh.gif", size: "30x30")%>');
						$("#refresh-media-<%=m.index%>").prop("disabled", true);
					},
					success : function(json) {
						for(i = 0; i < json.length; i++){
							object = json[i];
							html_select = html_select + '<option value="'+object["id"]+'">'+object["title"]+'</option>';
						}
						$('#news_article_media_galleries_attributes_<%=m.index%>_media_medium_ids').html(html_select);
						$("#news_article_media_galleries_attributes_<%=m.index%>_media_medium_ids").val(html_selected).trigger('chosen:updated');
					},
					error : function(xhr, status) {
					    alert("Error al obtener la media, intenta de nuevo");
					},
					complete : function(xhr, status) {
					    $("#refresh-media-<%=m.index%>").html('<%= image_tag("refresh.jpg", size: "30x30")%>');
					    $("#refresh-media-<%=m.index%>").prop("disabled", false);
					}
				});
			});
		});
	</script>
<% end %>

<%= f.has_many :news_layouts do |q| %>
	<%= q.text_field :site_id, value: 3, type: "hidden" %>
	<%= q.text_field :editors_pick, value: 1, type: "hidden" %>
	<%= q.text_field :column_layout, value: "", type: "hidden" %>
	<%= q.text_field :published, value: 1, type: "hidden" %>
	<%= q.text_field :show_comments, value: 1, type: "hidden"%>
	<%= q.text_field :schedulePublication, value: Time.now, type: "hidden"%>
	<%= q.label :hits %>
	<%= q.text_field :hits, type: "number", value: "#{(@resource.news_layouts.first.hits.present? ? @resource.news_layouts.first.hits : 0)}" %>
	<%= q.hint "Type the hits of this article" %>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>

<script type="text/javascript">
	document.getElementsByClassName('has-many-create')[0].setAttribute("data-id", 0);
</script>

<script type="text/javascript">
	CKEDITOR.config.pasteFromWordRemoveStyles = true;
</script>