<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_article").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :title %>
      <%= index_th :author %>
      <%= index_th :preview %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |obj| %>
      <tr>
        <%= index_td obj, obj.title %>
        <%= index_td obj, obj.author %>
        <% if obj.lms_activities.first.present? %>
          <td class="actions-td"><%= link_to "Go to preview", preview_path(:id => obj.lms_activities.first.id), target: :"blank", class: "button -small -edit" %></td>
        <% else %>
          <td class="actions-td">No activity associated</td>
        <% end %>
        <%= actions_td obj %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>