<% @disable_nav = true %>
<% @disable_foot = true %>

<div class="container text-center">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="background-color:#587BE8;
    color:#FFFFFF">
      <h2>Administración</h2>

      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

          <h5>Email o username</h5>
          <%= f.text_field :login, autofocus: true, class: "form-control", placeholder: "Email o usuario" %>

          <h5>Contraseña</h5>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Contraseña" %>

        <% if devise_mapping.rememberable?%>
            <h5>Recuérdame</h5><%= f.check_box :remember_me %>
            <br><br>
        <% end %>

        <div class="actions">
          <%= f.button "Iniciar sesión", class: "btn btn-primary", type: "submit" %>
        </div>
      <% end %>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
