<%= javascript_include_tag Ckeditor.cdn_url %>
<script type="text/javascript">
	CKEDITOR.config.pasteFromWordPromptCleanup = true;
	CKEDITOR.config.pasteFromWordRemoveFontStyles = true;
	CKEDITOR.config.forcePasteAsPlainText = true;
	CKEDITOR.config.ignoreEmptyParagraph = true;
	CKEDITOR.config.removeFormatAttributes = true;
</script>

<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.is_superuser == true %>

<%= f.label :title %>
<%= f.text_field :title , placeholder:"Title of the blog" %>
<%= f.hint "Type the title of the blog" %>

<%= f.label :slug %>
<%= f.slug_field :slug, placeholder:"Slug", pattern:"/*" %>
<%= f.hint "Slug of blog" %>
<br><br><br><br><br><br>
<br><br><br><br><br><br>

<%= f.label :content %><br><br><br>
<%= f.cktext_area :content %>
<%= f.hint "Please add the content of the blog" %>

<%= f.label :author %>
<%= f.text_field :author , placeholder:"Full name of the author" %>
<%= f.hint "Please type the full name of the author" %>

<%= f.label :author_email %>
<%= f.text_field :author_email , placeholder:"Email of the author" %>
<%= f.hint "Email of the author" %>

<%= f.label :published, "Published" %>
<div class="field-cluster"><%= f.check_box :published %></div>
<%= f.hint "Select if the blog is published" %>

<%= f.label :featured, "featured" %>
<div class="field-cluster"><%= f.check_box :featured %></div>
<%= f.hint "Select if the blog is featured" %>

<%= f.label :show_email, "Show email" %>
<div class="field-cluster"><%= f.check_box :show_email %></div>
<%= f.hint "Select if email is going showing" %>

<%= f.label :show_comments, "Show comments" %>
<div class="field-cluster"><%= f.check_box :show_comments %></div>
<%= f.hint "Select if comments are going showing" %>

<%= f.label :pubDate, "Publishing Date" %>
<%= f.timestamp_field :pubDate %>
<%= f.hint "The date this blog should be published." %>

<%= f.label :upDate, "Update Date" %>
<%= f.timestamp_field :upDate %>
<%= f.hint "The date this blog was updated" %>

<%= f.has_many :media_galleries do |m| %>
	
	<%= m.has_many_header allow_destroy:true %>

	<%= m.label :media_medium_ids, "Media" %>
	<%= m.searchable_select :media_medium_ids, MediaMedium.where('type = ?','image'), :id, :title, multiple:true %>
	<%= m.hint "Select all the media for this gallery" %>

	<%= m.text_field :content_type_id, type: "hidden", value: "13" %>

<% end %>

<% else %>
	No tienes los permisos necesarios para modificar la página
<% end %>

<script type="text/javascript">
	document.getElementsByClassName('has-many-create')[0].setAttribute("data-id", 0);
</script>