<style>
    .definition {
        color: red
    }
</style>
<% modules = CmsModulePage.where('page_id = ?', @id_page)%>
<% modulesLeft = false, modulesRight = false
if modules.present?
	modules.each do |modules|
		case modules.cms_module.position
			when 'left1','left2','left3','left4','left5'
				modulesLeft = true
		end
		case modules.cms_module.position
			when 'right1','right2','right3','right4','right5'
				modulesRight = true
		end
	end
end %>
<div id="contain_top">
	<aside>
		<% if modules.present? %>
			<% modules.each do |modules|%>
				<%if modules.cms_module.position == 'top'%>
					<div id="top">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
			<%end%>
		<% end %>
	</aside>
</div>
<div class="container">
		<% if modulesLeft == true 
			individual_class = "col-md-4" %>
		<%if modulesRight == true
			individual_class = "col-md-2"
		end%>
		<aside id="content_left" class="<%=individual_class%> col-sm-12">
			<% modules.each do |modules|%>
				<%if modules.cms_module.position == 'left1'%>
					<div id="left1">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'left2'%>
					<div id="left2">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'left3'%>
					<div id="left3">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'left4'%>
					<div id="left4">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'left5'%>
					<div id="left5">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
			<%end%>
		</aside>
		<% end %>
		
    <main class="col-md-8 col-sm-12">
        <div class="modules_sidebar" data-position="before_content">  
        </div>

        <div style="display: inline-block; width: 79%;"><h1 class="page_title">Activities of  <%=locals[:filter]%></h1></div>

            <% url_filter = "/activities/" + locals[:filter]%>
            <%=form_tag url_filter, method: :get, remote: :true do %>
	            <div class="col-md-6 col-sm-6">
	              	<div class="row">
				            <div class="col-md-4 col-sm-4" style="padding-right: 0">
								<h5>Search by title</h5>
				        	</div>
				            <div class="col-md-6 col-sm-6" style="padding: 0">
								<%= text_field_tag :keyword, nil, placeholder: "Search an article", value: params[:keyword],:style => "margin-top: 6px;"%>
				            </div>
				            <div class="col-md-2 col-sm-2" style="padding-left: 6px">
								<%= content_tag :button, :class => "seach_button", onclick: "this.form.submit();" do %>
								<%end%>
				            </div>
	            	</div>
	            	</div>
	        	<div id="article_filter" class="col-md-6 col-sm-6">
	              	<div class="col-md-6 col-sm-6">
	                    <h4>Search by level</h4>
	                </div>

	                <% all = "" %>
	            	<% counter = 0 %>
	            	<% @levels.each do |level| %>
	            		<% counter = counter + 1 %>
	            		<% if counter == 1 %>
	            			<% all = all + "'"+level.id.to_s+"'"%>
	            		<% else %>
	            			<% all = all + ",'"+level.id.to_s+"'"%>
	            		<% end %>
	            	<% end %>

	                <div class="col-md-6 col-sm-6">
	                    <%= select_tag(:level, options_for_select([['All', all]].concat(@levels.order(:difficulty_level).collect{ |u| ['Level' + ' ' + u.difficulty_level.to_s, "'" + u.id.to_s + "'"] }), :selected => params[:level]), { onchange: "this.form.submit();"}) %>
	                </div>
    	    	</div>
            <% end %>
                
        <div class="row">
            <% counter = 7349 %>
            <% @categories_menu.each do |category| %>
                <% url = "/activities/" + category.name.downcase %>
                <div class="category">
                    <%= link_to url do %> 
                        <%= image_tag(MediaMedium.find(counter).media.url.sub("/uploads/uploads","/uploads")) %>
                    <% end %>
                </div>
                <% counter = counter + 1 %>
            <% end %>
        </div>

        <% @activities.each do |activity|%>
	    <article class="activityList" name=<%=activity.id%>>
	        
	        <% media = "" %>
	        <% gallery = "" %>
	    	<% if activity.news_article.media_galleries.present? %>
	        	<% media = activity.news_article.media_galleries.first.media_media.first %>
	        	<% id = "gallery-" + activity.news_article.media_galleries.first.id.to_s %>
	        	<% gallery = activity.news_article.media_galleries.first%>
	         	<%= render 'modules/media', locals:{gallery: gallery, media: media, sidebar_articles: false} %>
	       	<% end %>

		   	<h3>
		   	<% if @iconos.blank? %>
		    	<span><%= @category.icon.html_safe %></span>
		    <% elsif @iconos == "all" %>
		    	<%activity.lms_categories.order('id').group('id').each do |category| %>
		        <span><%= category.icon.html_safe %></span>
		    <% end %>

		    <% end %>   
		    
		    <%if activity.lms_level.difficulty_level == "0"
				class_level = "beginner"
		      else 
		      	class_level = ""
		      end%>

			<% if activity.lms_level.difficulty_level == "0" %>
				<span class="level <%=class_level%>">Beginners</span>
			<% else %>
				<span class="level <%=class_level%>">Level <span style="background-color: <%=activity.lms_level.color%>"><%=activity.lms_level.difficulty_level%></span></span>	
			<% end %>

		   	</h3>

	        <h2><%=activity.name%></h2>

	        <div class="content">
	        	<%= activity.introduction.html_safe %>
	        </div>

	        <div class="right">
	            <a class="btn-post" href="/activity/<%=activity.id%>">Go to Activity</a>
	        </div>

	    </article>
	    <% end %>

	    <center><%= paginate @activities, theme:"admin", window:4, param_name:"p", remote: true%></center>

	</main>

		<% if modulesRight == true 
			individual_class = "col-md-4" %>
		<%if modulesLeft == true
			individual_class = "col-md-2"
		end%>
		<aside id="content_right" class="<%=individual_class%> col-sm-12">
			<% modules.each do |modules|%>
				<%if modules.cms_module.position == 'right1'%>
					<div id="right1">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'right2'%>
					<div id="right2">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'right3'%>
					<div id="right3">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'right4'%>
					<div id="right4">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'right5'%>
					<div id="right5">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
			<%end%>
		</aside>
		<% end %>
</div>
<div id="contain_bottom">
	<% modules = CmsModulePage.where('page_id = ?', @id_page)%>
	<aside>
		<% if modules.present? %>
			<% modules.each do |modules|%>
				<%if modules.cms_module.position == 'bottom'%>
					<div id="bottom">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
			<%end%>
		<% end %>
	</aside>
</div>

<div class="modules_sidebar" data-position="after_content">
</div>

<script>
(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-57877027-6', 'auto');
ga('send', 'pageview');

</script>