<%if @activity.lms_questions.where("type_id = 2 OR type_id = 4").count > 0%>
    <script type="text/javascript">
    navigator.getUserMedia (
       // constraints
       {
          audio: true
       },

       // successCallback
       function(audioStream) {
        audioStream.getTracks()[0].stop();
       },

       // errorCallback
       function(err) {
        if(err.name.toString() === "PermissionDeniedError") {
          alert("Necesitas activar el acceso al micrófono para realizar esta actividad, habilítalo para el navegador para continuar");
        }
       }
    );
    </script>
<% end %>

<style type="text/css">
    .ng-binding p {
        display: table-row;
    }
</style>

<% content_for :title, " - " + @activity.name %>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.14/angular-sanitize.js"></script>
<div class="container" ng-app="quiz" ng-controller="quizModule">
    <article class="activity detail">
        <header>
            <h3>
                <span class="level"> <%= @activity.name %> </span>
                <span class="level"> <%= @save %> </span>
            </h3>
            
            <h3>
                               
            <%if @activity.lms_level.difficulty_level == "0"
                class_level = "beginner"
              else 
                class_level = ""
              end %>

            <% if @activity.lms_level.difficulty_level == "0" %>
                <span class="level <%=class_level%>">Beginners</span>
            <% else %>
                <span class="level <%=class_level%>">Level <span style="background-color: <%=@activity.lms_level.color%>"><%= @activity.lms_level.difficulty_level%></span></span>
            <% end %>

            <%@activity.lms_categories.order('id').group('id').each do |category| %>
                <span><%= category.icon.html_safe %></span>
            <% end %>
            </h3>

        </header>
        <div class="media" ng-if="!started">
        <% media = "" %>
        <% gallery = "" %>
        <% if @activity.news_article.media_galleries.present? %>

            <% media = @activity.news_article.media_galleries.first.media_media.order(id: :asc) %>
            
            <% if media.count == 1 %>
                <% media = @activity.news_article.media_galleries.first.media_media.order(id: :asc).first %>
            <% end %> 

            <% id = "gallery-" + @activity.news_article.media_galleries.first.id.to_s %>
            <% gallery = @activity.news_article.media_galleries.first%>

            <%= render 'modules/media', locals:{gallery: gallery, media: media, sidebar_articles: false} %>
        <% end %>
        </div>
        <%if @activity.lms_level.difficulty_level.to_f < 2 || @content.length < 2470%>
            <% class_content = 'big_text' %>
        <% else %> 
            <% class_content = '' %>
        <% end %>
        <div class="content <%=class_content%>" ng-if="!started">
            <%= @content.html_safe %>
            <% if @activity.news_article.media_galleries.present? and  @activity.news_article.media_galleries.second.present? %>
                <% media = @activity.news_article.media_galleries.second.media_media.first %>
                <% id = "gallery-" + @activity.news_article.media_galleries.second.id.to_s %>
                <% gallery = @activity.news_article.media_galleries.second%>
                <%= render 'modules/media', locals:{gallery: gallery, media: media, sidebar_articles: false} %>
            <% end %>
        </div>
        <div class="question">
            <div>
        <%if !@questions.empty?%>
                <div class="activity_footer">

                    <div ng-if="!started" class="center">
                        <h2>Ready?</h2>
                        <span class="btn-post" ng-click="start()">BEGIN ACTIVITY</span>
                    </div>

                    <div id="initializated" ng-if="started" ng-show="!finished">
                    </div>
                    <div ng-if="started" ng-show="!finished">      
                            <div ng-if="questions[current].media.type == 'image'">
                                <div class="img">
                                    <img ng-src="{{questions[current].media.media}}" alt=""/>
                                </div>
                            </div>
                            <div ng-if="questions[current].media.type == 'audio'" style="text-align: center;">
                                <h4 ng-bind-html="questions[current].text"></h4>
                                <audio ng-src="{{questions[current].media.media}}" controlsList="nodownload" controls></audio>
                            </div>
                            <div ng-if="questions[current].media.type == 'video'">
                                <div class="video_cont">
                                    <div class="video">
                                        <video ng-src="{{questions[current].media.media}}"></video>
                                    </div>
                                </div>
                            </div>

                        <div ng-if="questions[current].media.type == 'embedded'"
                             ng-bind-html="questions[current].media.iframe_url | iframe">

                        </div>                        
                        <div ng-if="questions[current].type == 1">
                            <h4 ng-bind-html="questions[current].text"></h4>
                            <br/>                            
                            <ul>
                                <li ng-repeat="answer in questions[current].answers">

                                    <div class = "ng-binding activity_answer" style="padding: 10px" ng-if="!answer.Media_media_id">
                                        <div ng-bind-html="answer.text"  ng-click="setAnswer($index)"></div>
                                    </div>

                                    <div class = "ng-binding activity_answer row" style="    margin: 0;padding: 10px" ng-if="!!answer.Media_media_id">

                                        <div ng-if="answer.media_type == 'image'">
                                            <img ng-src="{{answer.media_url}}" width="220" height="150" ng-click="setAnswer($index)">
                                        </div>

                                        <div ng-if="answer.media_type == 'audio'" class="       col-xs-12 col-sm-12 col-lg-12">
                                            <div class="ng-scope col-xs-5 col-sm-5 col-lg-5">
                                                <audio ng-src="{{answer.media_url}}" controlsList="nodownload" controls></audio>
                                            </div>

                                            <div class="ng-binding activity_answer ng-scope ng-scope col-xs-7 col-sm-7 col-lg-7" style="height: 54px;" ng-bind-html="" ng-click="setAnswer($index)">
                                            </div>
                                        </div>

                                    </div>

                                </li>
                            </ul>
                        </div>
                        <div ng-if="questions[current].type == 2">
                            <h4>
                                <div ng-bind-html="questions[current].text | unsafe"> </div>
                                <div style="display: inline-block; border-bottom: solid; margin: 0 0 10px;"> </div>
                                <div ng-if="questions[current].fill_with_voice == true">
                                    <div style="float: right;" ng-click="setAnswer('#correctAnswer')"> 
                                        <button type="submit" class="btn-post" disabled="disabled">Continue</button> 
                                    </div>
                                </div>
                                <div ng-if="questions[current].fill_with_voice != true">
                                    <div style="float: right;" ng-click="setAnswer('#correctAnswer')"> 
                                        <button type="submit" class="btn-post">Continue</button> 
                                    </div>
                                </div>
                            </h4>
                            <div ng-if="questions[current].fill_with_voice == true" class="text-center">
                                <h4>Press and hold start button and pronounce the correct phrase that you consider in the blank</h4>
                                <p id="status"></p>
                                <button id="start-recording" class="btn btn-primary">Start</button>
                                <script>
                                    function captureUserMedia(mediaConstraints, successCallback, errorCallback) {
                                        navigator.mediaDevices.getUserMedia(mediaConstraints).then(successCallback).catch(errorCallback);
                                    }

                                    var mediaRecorder;
                                    var mediaConstraints = {
                                        audio: true
                                    };

                                    var timeout = 0;
                                    var timeout_in = false;
                                    $('#start-recording').on('mousedown mouseup', function mouseState(e) {
                                        if (e.type == "mousedown") {
                                            timeout = setTimeout(
                                                function(){
                                                    timeout_in = true;
                                                    start_recording();
                                                },1000);
                                        } else {
                                            clearTimeout(timeout);
                                            if (timeout_in){
                                                stop_recording();
                                            }
                                            timeout_in = false;
                                        }
                                    });

                                    function start_recording() {
                                        document.querySelector("#start-recording").textContent = "Recording";
                                        $("#start-recording").prop('class', 'btn btn-danger');
                                        captureUserMedia(mediaConstraints, onMediaSuccess, onMediaError);
                                    }

                                    function stop_recording(){
                                        document.querySelector("#start-recording").textContent = "Start";
                                        document.querySelector('#start-recording').disabled = true;
                                        document.querySelector("#status").textContent = "Analyzing your audio";
                                        $("#start-recording").prop('class', 'btn btn-primary');
                                        mediaRecorder.stop();
                                    }

                                    function onMediaSuccess(stream) {
                                        const options = {mimeType: 'audio/webm;codecs=opus'};
                                        const recordedChunks = [];
                                        mediaRecorder = new MediaRecorder(stream, options);  

                                        mediaRecorder.addEventListener('dataavailable', function(e) {
                                          if (e.data.size > 0) {
                                            recordedChunks.push(e.data);
                                          }
                                        });

                                        mediaRecorder.addEventListener('stop', function() {
                                            stream.getTracks().forEach(function(track) { track.stop(); });
                                            uploadFile(new Blob(recordedChunks,{'type':'audio/webm'}));
                                        });
                                        mediaRecorder.start();
                                    };

                                    function onMediaError(e) {
                                        console.error('media error', e);
                                    }

                                    function uploadFile(blob){
                                        var data = new FormData();
                                        data.append("audio", blob, (new Date()).getTime() + ".wav");
                                        var oReq = new XMLHttpRequest();
                                        oReq.open("POST", "/save_audio");
                                        oReq.send(data);
                                        oReq.onreadystatechange = function() {
                                            if (oReq.readyState == XMLHttpRequest.DONE) {
                                                document.querySelector('#start-recording').disabled = false;
                                                if((oReq.responseText != "undefined") && (oReq.responseText != "null") && (oReq.responseText != "[]")){
                                                    json = JSON.parse(oReq.responseText)[0];
                                                    $("#correctAnswer0").val(json["transcript"]);
                                                    $(".btn-post").prop('disabled', false);
                                                    document.querySelector("#status").textContent = "Continue with the next question, or try again if you want to change the word or phrase";
                                                } else {
                                                    document.querySelector("#status").textContent = "Sorry, we can't detect the word you pronounce, please try again";
                                                }
                                            }
                                        }
                                    }

                                    window.onbeforeunload = function() {
                                        document.querySelector('#start-recording').disabled = false;
                                    };
                                </script>
                            </div>
                        </div>
                        <div ng-if="questions[current].type == 3">   
                            <section class="contenedorPuzzle">

                            <div ng-if="!questions[current].definition">
                                <h4>Drag and drop the answers you consider to their respective space</h4>
                            </div>

                            <div ng-if="questions[current].definition">
                                <h4><div ng-bind-html="questions[current].definition | unsafe"> </div></h4>
                            </div>

                            <br/>    
                            <section class="contenedorPuzzle">
                                <div id="answersContent" ondragenter="return enter(event)" style="height: {{questionsDragAndDrop[current][0].length * 100}}px" ondragover="return over(event)" ondrop="return drop(event)">
                                    <div class="answerConetnt" id="{{answer.id}}" draggable="true" ondragstart="start(event)" ondragend="end(event)" ng-repeat="answer in questionsDragAndDrop[current][0]" ng-bind-html="answer.answer"></div>
                                </div>
                                <div class="puzzle">
                                    <div  ng-repeat="answer in questionsDragAndDrop[current][1]">
                                        <div class="contenedorPieza" id="node-{{answer.id}}" ondragenter="return enter(event)" ondragover="return over(event)" ondrop="return drop(event)"></div>
                                        <div class = "ng-binding drag_answer" ng-bind-html="answer.text"></div>
                                    </div>
                                </div>  
                            </section>
                            <div style="float: right; margin-right: 29px;" ng-click="setAnswer('#correctAnswer')"> <button type="submit" class="btn-post">Continue</button> </div>
                        </div>
                        <div ng-if="questions[current].type == 4">
                            <div class="row text-center">
                                    <p>Press "start" button until it turns red and pronounce the word. When you have pronounced the word release the button<br>
                                    Mantén presionado el botón "start" hasta que esté en rojo y pronuncia la palabra. Cuando la hayas pronunciado suelta el botón</p>
                                    <div ng-bind-html="questions[current].answers[0].text" style="color: blue;font-size: 2em;" id="response"></div>
                                    <p id="status"></p>
                                    <button id="start-recording" class="btn btn-primary">Start</button>
                                    <input style="display: none;" type="text" id="correctAnswerAudio">
                                </h4>
                            </div>

                            <script>    
                                function captureUserMedia(mediaConstraints, successCallback, errorCallback) {
                                    navigator.mediaDevices.getUserMedia(mediaConstraints).then(successCallback).catch(errorCallback);
                                }

                                var mediaRecorder;
                                var mediaConstraints = {
                                    audio: true
                                };

                                var timeout = 0;
                                var tried = 0;
                                var timeout_in = false;
                                $('#start-recording').on('mousedown mouseup', function mouseState(e) {
                                    if (e.type == "mousedown") {
                                        timeout = setTimeout(
                                            function(){
                                                timeout_in = true;
                                                start_recording();
                                                tried++
                                            },1000);
                                    } else {
                                        clearTimeout(timeout);
                                        if (timeout_in){
                                            stop_recording();
                                        }
                                        timeout_in = false;
                                    }
                                });

                                function start_recording() {
                                    document.querySelector("#start-recording").textContent = "Recording";
                                    $("#start-recording").prop('class', 'btn btn-danger');
                                    captureUserMedia(mediaConstraints, onMediaSuccess, onMediaError);
                                }

                                function stop_recording(){
                                    document.querySelector("#start-recording").textContent = "Start";
                                    document.querySelector('#start-recording').disabled = true;
                                    document.querySelector("#status").textContent = "Analyzing your audio";
                                    $("#start-recording").prop('class', 'btn btn-primary');
                                    mediaRecorder.stop();
                                }

                                function onMediaSuccess(stream) {
                                    const options = {mimeType: 'audio/webm;codecs=opus'};
                                    const recordedChunks = [];
                                    mediaRecorder = new MediaRecorder(stream, options);  

                                    mediaRecorder.addEventListener('dataavailable', function(e) {
                                      if (e.data.size > 0) {
                                        recordedChunks.push(e.data);
                                      }
                                    });

                                    mediaRecorder.addEventListener('stop', function() {
                                        stream.getTracks().forEach(function(track) { track.stop(); });
                                        uploadFile(new Blob(recordedChunks,{'type':'audio/webm'}));
                                        if(tried == 3){
                                            document.querySelector('#start-recording').disabled = true;
                                            $(".btn-post").prop('disabled', false);
                                        }
                                    });
                                    mediaRecorder.start();
                                };

                                function onMediaError(e) {
                                    console.error('media error', e);
                                }

                                function uploadFile(blob){
                                    var data = new FormData();
                                    data.append("audio", blob, (new Date()).getTime() + ".wav");
                                    var oReq = new XMLHttpRequest();
                                    oReq.open("POST", "/save_audio");
                                    oReq.send(data);
                                    oReq.onreadystatechange = function() {
                                        if (oReq.readyState == XMLHttpRequest.DONE) {
                                            document.querySelector('#start-recording').disabled = false;
                                            if((oReq.responseText != "undefined") && (oReq.responseText != "null") && (oReq.responseText != "[]")){
                                                json = JSON.parse(oReq.responseText)[0];
                                                if(json["transcript"].toString().toLowerCase().trim() == $("#response").text().toString().toLowerCase().trim()){
                                                    document.querySelector("#status").textContent = "Correct!, you have pronounce this word with accuracy of " + (json["confidence"]*100).toFixed(2) + "%, please go to next question";
                                                    $(".btn-post").prop('disabled', false);
                                                } else {
                                                    if(tried == 3){
                                                        text = "Sorry, you couldn't pronounce well this word, continue with the next question.";
                                                        document.querySelector('#start-recording').disabled = true;
                                                    }else{ 
                                                        text = "Incorrect!, please try again.";
                                                    }
                                                    document.querySelector("#status").textContent = text;
                                                }
                                                $("#correctAnswerAudio").val(json["transcript"]);
                                            } else {
                                                document.querySelector("#status").textContent = "Sorry, we can't detect the word you pronounce, please try again";
                                            }
                                        }
                                    }
                                }
                                window.onbeforeunload = function() {
                                    document.querySelector('#start-recording').disabled = false;
                                };
                            </script>  

                            <div style="float: right; margin-right: 29px;" ng-click="setAnswer('#correctAnswerAudio')">
                                <button type="submit" style="margin: 0px 0px;" class="btn-post">Continue</button>
                            </div>
                        </div>
                        <div ng-if="questions[current].type == 5">
                            <h4 ng-bind-html="questions[current].text"></h4>
                            <style type="text/css">
                                .answer_class {
                                    box-sizing: border-box;
                                    border:1px solid #3366FF;
                                    border-left: 4px solid #3366FF;
                                    height: 500px;
                                    width: 400px;
                                }
                            </style>
                            <div class="row">
                                <div class="col-md-6 text-center">
                                    <center><h5>Write your text here</h5></center>
                                    <textarea id="answer" class="answer_class"></textarea>
                                </div>
                                <div class="col-md-6">
                                    <center><h5>Correction</h5></center>
                                    <center><div id="status" class="answer_class"></div></center>
                                    <center><p id="score"></p></center>
                                </div>
                            </div>

                            <div style="float: right; margin-right: 29px;" ng-click="setAnswer('#correctAnswer')">
                                <button type="submit" class="btn-post" id="send_text">Submit answer</button>
                            </div>
                        </div>
                    </div>
                    <div ng-if="finished">

                        <div class="row">
                            <div class="activity_scores col-md-12">
                            <table class="scoreset">
                                <thead>
                                <tr>
                                    <th colspan="4"><h2 class="score">Your Score:</h2></th>
                                </tr>
                                <tr>
                                    <th>Question</th>
                                    <th>Correct Answer</th>
                                    <th>Your Answer</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr ng-repeat="answer in answers">
                                    <td ng-bind-html="answer.question"></td>
                                    <td ng-bind-html="answer.correct"></td>
                                    <td ng-bind-html="answer.answer"></td>
                                    <td>
                                        <span ng-if="answer.answer.toString()===answer.correct.toString()" class="right_answer"></span>
                                        <span ng-if="answer.answer.toString()!=answer.correct.toString()" class="wrong_answer"></span>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="sidebar">
                            <table class="scoreset">
                                <thead>
                                <tr>
                                    <th><h2 class="stats">
                                        Stats
                                    </h2></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                        <span class="stat_icon answers"></span>
                                    </td>
                                    <td>Correct Answer <span class="points">{{ score }} / {{ length }}</span></td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <span class="stat_icon earned"></span>
                                    </td>
                                   

                                    <td>Points Earned <span class="points">{{ score }}</span></td>
                                    <td>
                                    </td>
                                    <td>
                                    </td>
                                    <td>
                                        <span class="stat_icon trophy"></span>
                                    </td>
                                    
                                    <td>Rewards <span class="points">{{ activity.reward }}</span></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                        <div class="toolbar">
                        <a class="btn-post" href="javascript:window.location.href=window.location.href">Try Again</a>
                        <a class="btn-post" href="javascript:history.back()">Return to activity list</a>
                        <a class="btn-post" href="/profile<% if @assigned_activity %>?stats_range=Week&&stats_assigned=Assigned#stats<% end %>">Performance</a>
                        </div>    
                    </div>
                </div>
            <% end %>
            </div>
            <div id="audio_visualizer" style="display: none; text-align: center;"><canvas class="visualizer"></canvas></div>
            <p class="credit">Activity created by: <%= @fullName %></p>
        </div>
    <% if @assigned_activity_message %>
        <p class="alert alert-warning"><%= @assigned_activity_message.html_safe %> </p>
    <% end %>
    </article>
</div>
<script>
    $( document ).ready(function() {
        if(document.getElementById("initializated") != null){
            $.ajax({
                type: "POST",
                url: "/lesscount/<%=@activity.id%>",
                success: function(data) {
                },
                error: function(xhr) {
                }
            });
            setTimeout(function(){location.reload()},200);
        }
    });

    var questions = <%=raw @questions%>;
    
    var counter = 0;

    // Funciones para determinar si se debe ordenar por order o por id
    for(var i = 0; i < questions.length; i++){
        if(questions[i].order != null){
            counter ++;
        }
    }

    if(counter == questions.length){
        questions.sort(function(a, b) { 
            return a.order - b.order;
        });
    } else {
        questions.sort(function(a, b) { 
            return a.id - b.id;
        });
    }

    var activity = <%=raw @Activity%>; 
    var app = angular.module('quiz', ['ngSanitize']);
    app.config(['$httpProvider', function ($httpProvider) {
        $httpProvider.defaults.xsrfCookieName = $('meta[name="csrf-token"]');
    }]);
    app.config(['$sceDelegateProvider', function($sceDelegateProvider) {
        $sceDelegateProvider.resourceUrlWhitelist([
            'self',
            'https://elpost.s3.amazonaws.com/**'
        ]);
    }]);
    app.filter('iframe', function ($sce) {
        return function (src) {
            var youtube = src.match(/\/\/(?:www\.)?youtu(?:\.be|be\.com)\/(?:watch\?v=|embed\/)?([a-z0-9_\-]+)/i);
            var vimeo = src.match(/\/\/(?:www\.)?vimeo.com\/([0-9a-z\-_]+)/i);
            var video = '';
            var a = '';
            if (youtube) {
                video = '<iframe class="object" width="560" height="315" src="//www.youtube.com/embed/' + youtube[1] + '" frameborder="0" allowfullscreen></iframe>';
            } else if (vimeo) {

                video = '<iframe class="object" id="video" width="560" height="315"  src="http://player.vimeo.com/video/' + vimeo[1] + '" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>';
            } else {
                video = '<iframe class="object" frameborder="0" src="' + src + '"  allowfullscreen="true"></iframe>';
            }
            return $sce.trustAsHtml('<div class="video_cont"><div class="video">' + video + '</div></div>');
        }
    });
    app.filter('unsafe', function ($sce) {
        return function (src) {
            return $sce.trustAsHtml(src);
        }
    });

    app.controller('quizModule', function ($scope, $http, $sce) {
        var passed = false;
        var lengthMore = 0;
        var answersFill = null;
        $scope.started = false;
        $scope.activity = activity;
        $scope.questions = questions;
        $scope.questionsDragAndDrop = [];
        $scope.score = 0;
        $scope.length = questions.length;
        $scope.current = 0;
        $scope.answers = [];

        function shuffle (array) {
            var currentIndex = array.length, temporaryValue, randomIndex;

            // While there remain elements to shuffle...
            while (0 !== currentIndex) {

                // Pick a remaining element...
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex -= 1;

                // And swap it with the current element.
                temporaryValue = array[currentIndex];
                array[currentIndex] = array[randomIndex];
                array[randomIndex] = temporaryValue;
            }
            $scope.questions[$scope.current].answers = array;
        };

        function generatePhrase (array) {
            answersFill = array.answers[0].text.split(",");
            var text = array.text;
            for(var i = 0; i < answersFill.length; i++){
                text = text.replace("$"+(i+1), '<input style="width:'+(14*answersFill[i].length+4)+'px; border-bottom: solid; border-top: none;" type="text" id="correctAnswer'+i+'" '+(array.fill_with_voice ? 'disabled' : '')+'>');
            }
            $scope.questions[$scope.current].text = text;
        };

        function shuffleDragAndDrop(array){
            var tempAnswers = [{"id":array.id,"answer":array.answer,"category":array.category}], tempText = [{"id":array.id,"text":array.text,"category":array.category}], index = 0;
            var currentIndex = length = array.asociations.length, randomIndex;
            secuencia = [];
            // While there remain elements to shuffle...
            while (0 !== currentIndex) {
 
                // Pick a remaining element...
                currentIndex -= 1;
                if(secuencia !== null){
                    do{
                        randomIndex = Math.floor(Math.random() * length);
                    }while(secuencia.indexOf(randomIndex) !=-1);
                }
                secuencia[randomIndex] = randomIndex;
                hash = {"id":array.asociations[randomIndex].id,"answer":array.asociations[randomIndex].answer, "category":array.asociations[randomIndex].category};
                tempAnswers.push(hash); 
                hash = {"id":array.asociations[currentIndex].id,"text":array.asociations[currentIndex].text,"category":array.asociations[currentIndex].category};
                tempText.push(hash);
            }
            $scope.questionsDragAndDrop[$scope.current] = new Array(tempAnswers, tempText);
        };

        function postActivity() {
            var data = {
                user: <%=current_auth_user.id%>,
                activity: <%=@activity.id%>,
                successfull: passed,
                <% if @assigned_activity %>
                assigned_activity:<%=@assigned_activity.assigned_activity_id%>,
                <% end %>
                score: $scope.score,
                possibleScore: $scope.length
            };
            $http.post('/postActivity', data);
        };

        $scope.start = function () {
            if($scope.questions[$scope.current].type == 3){
                    shuffleDragAndDrop($scope.questions[$scope.current]);
                }else if($scope.questions[$scope.current].type == 2){
                    generatePhrase($scope.questions[$scope.current]);
                }else if($scope.questions[$scope.current].type == 1){
                    shuffle($scope.questions[$scope.current].answers);
                }else if($scope.questions[$scope.current].type == 4){
                    //alert($scope.questions[$scope.current].answers[0].text);
                }else if($scope.questions[$scope.current].type == 5){

                }
            $scope.started = true;
            if ($scope.activity.time) {
                setTimeout(function () {
                    $scope.finished = true;
                    $scope.$apply();
                    postActivity();
                }, ($scope.activity.time * 10) * 1000);
            }
        };
        $scope.setAnswer = function (i) {
            var tmp;
            if($scope.questions[$scope.current].type == 1){
                for (var x = 0; x < $scope.questions[$scope.current].answers.length; x++) {
                    if ($scope.questions[$scope.current].answers[x].correctAnswer) {
                        correct = x;
                    }
                }
                if ($scope.questions[$scope.current].answers[i].correctAnswer) {
                    $scope.score++;
                    tmp = {
                        user: <%=current_auth_user.id%>,
                        question: $scope.questions[$scope.current].id,
                        <% if @assigned_activity %>
                        assigned_activity:<%=@assigned_activity.id%>,
                        <% end %>                      
                        category: $scope.questions[$scope.current].category,
                        passed: true
                    }
                } else {
                    tmp = {
                        user: <%=current_auth_user.id%>,
                        question: $scope.questions[$scope.current].id,
                        <% if @assigned_activity %>
                        assigned_activity:<%=@assigned_activity.id%>,
                        <% end %>                 
                        category: $scope.questions[$scope.current].category,
                        passed: false
                    }
                }
                $http.post('/api/userquestions/', tmp).success(function (data) {
                    //console.log('se logro!');
                    //console.log(data);
                });

                var correct_answer = ($scope.questions[$scope.current].answers[correct].media_type == 'image') ? '<img src="'+$scope.questions[$scope.current].answers[correct].media_url+'" height="150px" width="150px">': ($scope.questions[$scope.current].answers[correct].media_type == 'audio') ? '<audio src="'+$scope.questions[$scope.current].answers[correct].media_url+'" controlsList="nodownload" controls></audio>': $scope.questions[$scope.current].answers[correct].text;

                var answer_user = ($scope.questions[$scope.current].answers[i].media_type == 'image') ? '<img src="'+$scope.questions[$scope.current].answers[i].media_url+'" height="150px" width="150px">': ($scope.questions[$scope.current].answers[i].media_type == 'audio') ? '<audio src="'+$scope.questions[$scope.current].answers[i].media_url+'" controlsList="nodownload" controls></audio>': $scope.questions[$scope.current].answers[i].text;

                $scope.answers.push({'question': $scope.questions[$scope.current].text, 'correct': ($scope.questions[$scope.current].answers[correct].media_type == 'audio') ? $sce.trustAsHtml(correct_answer) : correct_answer, 'answer': ($scope.questions[$scope.current].answers[i].media_type == 'audio') ? $sce.trustAsHtml(answer_user) : answer_user});
                
                if(correct_answer === answer_user){
                    toastr.success('Correct');
                } else {
                    toastr.error('Incorrect');
                }

            }else if($scope.questions[$scope.current].type == 2){
                var count = 0, answer = "";
                for(var j = 0; j < answersFill.length; j++){
                    if(j==answersFill.length-1)
                        answer += jQuery(i+j).val().replace(/\s+$/, ''); 
                    else
                        answer += jQuery(i+j).val().replace(/\s+$/, '')+","; 
                    if(jQuery(i+j).val().replace(/\s+$/, '') == answersFill[j]){
                        count++;
                    }
                }
            
                if(count==answersFill.length){
                    $scope.score++;
                    tmp = {
                        user: <%=current_auth_user.id%>,
                        question: $scope.questions[$scope.current].id,
                        <% if @assigned_activity %>
                        assigned_activity:<%=@assigned_activity.id%>,
                        <% end %>                      
                        category: $scope.questions[$scope.current].category,
                        passed: true
                    }
                } else {
                    tmp = {
                        user: <%=current_auth_user.id%>,
                        question: $scope.questions[$scope.current].id,
                        <% if @assigned_activity %>
                        assigned_activity:<%=@assigned_activity.id%>,
                        <% end %>                 
                        category: $scope.questions[$scope.current].category,
                        passed: false
                    }
                }
                $http.post('/api/userquestions/', tmp).success(function (data) {
                    //console.log('se logro!');
                    //console.log(data);
                });

                $scope.answers.push({'question': $scope.questions[$scope.current].text, 'correct': $scope.questions[$scope.current].answers[0].text.replace("´", "'"), 'answer': answer.replace("´", "'") });

                if($scope.questions[$scope.current].answers[0].text === answer){
                    toastr.success('Correct');
                } else {
                    toastr.error('Incorrect');
                }

            }else if($scope.questions[$scope.current].type == 3){
                var activities = $scope.questionsDragAndDrop[$scope.current];
                for (var i = activities[0].length - 1; i >= 0; i--) {
                    var tmp;
                    if(document.getElementById(activities[0][i].id).parentNode.id=='node-'+activities[0][i].id)
                    {
                        $scope.score++;
                        tmp = {
                            user: <%=current_auth_user.id%>,
                            question: activities[0][i].id,
                            <% if @assigned_activity %>
                            assigned_activity:<%=@assigned_activity.id%>,
                            <% end %>                      
                            category: activities[0][i].category,
                            passed: true
                        }
                    } else {
                        tmp = {
                            user: <%=current_auth_user.id%>,
                            question: activities[0][i].id,
                            <% if @assigned_activity %>
                            assigned_activity:<%=@assigned_activity.id%>,
                            <% end %>                 
                            category: activities[0][i].category,
                            passed: false
                        }
                    }
                    $http.post('/api/userquestions/', tmp).success(function (data) {
                        //console.log('se logro!');
                        //console.log(data);
                    });

                    for (var k = activities[1].length - 1; k >= 0; k--) {
                        if(activities[1][k].id ==activities[0][i].id){
                            question_text = activities[1][k].text;
                        }
                    }

                    $scope.answers.push({'question': question_text, 'correct': activities[0][i].answer.trim(),'answer': document.getElementById(document.getElementById(activities[0][i].id).parentNode.id.split("node-")[1]).innerHTML.replace('&nbsp;', '').trim() });

                    if(activities[0][i].answer.trim() === document.getElementById(document.getElementById(activities[0][i].id).parentNode.id.split("node-")[1]).innerHTML.replace('&nbsp;', '').trim()){
                        toastr.success('Correct');
                    } else {
                        toastr.error('Incorrect');
                    }

                }
                lengthMore += activities[0].length - 1;
            }else if($scope.questions[$scope.current].type == 4){
                $scope.score++;
                tmp = {
                    user: <%=current_auth_user.id%>,
                    question: $scope.questions[$scope.current].id,
                    <% if @assigned_activity %>
                    assigned_activity:<%=@assigned_activity.id%>,
                    <% end %>                 
                    category: $scope.questions[$scope.current].category,
                    passed: true
                }
                $http.post('/api/userquestions/', tmp).success(function (data) {
                    //console.log('se logro!');
                    //console.log(data);
                });

                var correct_answer = (($(i).val() == undefined) ? "" : $(i).val().toLowerCase().trim());
                $scope.answers.push({'question': $scope.questions[$scope.current].text, 'correct': $scope.questions[$scope.current].answers[0].text.toLowerCase().trim(), 'answer': correct_answer });

                document.querySelector("#status").textContent = "";
                if($scope.questions[$scope.current].answers[0].text.toLowerCase().trim() === correct_answer){
                    toastr.success('Correct');
                } else {
                    toastr.error('Incorrect');
                }

            }else if($scope.questions[$scope.current].type == 5){
                var length = $('textarea#answer').val().replace(/ /g,'').length
                var minimum = parseInt($scope.questions[$scope.current].answers[0].text.split(",")[1]);
                var maximum = parseInt($scope.questions[$scope.current].answers[0].text.split(",")[2]);
                
                if(!(length >= minimum && length <= maximum)) {
                    toastr.error("Your answer must have length of characters of " + minimum + " as minimum and " + maximum + " as maximum");
                    $(".btn-post").prop('disabled', false);
                    $scope.current = $scope.current - 1
                } else if ($("#status").html().length == 0) {
                    $scope.current = $scope.current - 1
                    text_correction = $('textarea#answer').val();
                    $.ajax({
                        url : '/correct_answer',
                        data : { text : text_correction },
                        type : 'POST',
                        beforeSend: function(xhr, status) {
                            $(".btn-post").prop('disabled', true);
                        },
                        success : function(json) {
                            text_correction = text_correction.split("\n").join("<br>");
                            for(i = 0; i < json.length; i++){
                                text_temp = json[i].string;
                                suggestions = 'Error: ' + json[i].description + '<br> Suggestions: <br>';
                                for(o = 0; o < json[i].suggestions.length; o++){
                                    suggestions = suggestions + json[i].suggestions[o] + '<br>';
                                }
                                text_good = '<strike><a class="definition"><span class="tooltiptext_error">'+ suggestions +'</span>'+ json[i].string +'</a></strike>';
                                var original = json[i].string;
                                var regex = new RegExp("\\b"+original+"\\b", "g");
                                text_correction = text_correction.replace(regex, text_good);
                            }
                            if(json.length == 0){
                                $('#status').text('').html();
                                $('#status').append('<h6>No spelling and grammar errors detected<h6>');
                            } else {
                                $('#status').text('').html();
                                $('#status').append(text_correction);
                                $('#score').text('').html();
                                $('#score').append("Total errors: " + $("#status > strike").length);
                            }
                            $(".btn-post").html('Continue');
                            $(".btn-post").prop('disabled', false);
                        },
                        error : function(xhr, status) {
                            alert("There is an error in the service, please try again");
                            $(".btn-post").prop('disabled', false);
                        }
                    });
                } else {
                    var passed_message = '';
                    if (parseInt($scope.questions[$scope.current].answers[0].text.split(",")[0]) >= $("#status > strike").length){
                        $scope.score++;
                        passed_message = 'Passed with less of ' + $scope.questions[$scope.current].answers[0].text + ' errors';
                        tmp = {
                            user: <%=current_auth_user.id%>,
                            question: $scope.questions[$scope.current].id,
                            <% if @assigned_activity %>
                            assigned_activity:<%=@assigned_activity.id%>,
                            <% end %>                 
                            category: $scope.questions[$scope.current].category,
                            answer_with_corrections: $("#status").html(),
                            answer_without_corrections: $('textarea#answer').val(),
                            passed: true
                        }
                    } else {
                        passed_message = 'Not passed with less of ' + $scope.questions[$scope.current].answers[0].text + ' errors'
                        tmp = {
                            user: <%=current_auth_user.id%>,
                            question: $scope.questions[$scope.current].id,
                            <% if @assigned_activity %>
                            assigned_activity:<%=@assigned_activity.id%>,
                            <% end %>                 
                            category: $scope.questions[$scope.current].category,
                            answer_with_corrections: $("#status").html(),
                            answer_without_corrections: $('textarea#answer').val(),
                            passed: false
                        }
                    }
                    // Para enviar si tuvo bien o mal la respuesta
                    $http.post('/api/userquestions/', tmp).success(function (data) {
                    });
                    // Para enviar la respuesta de la pregunta abierta a la otra tabla
                    $http.post('/api/openquestions/', tmp).success(function (data) {
                    });
                    $scope.answers.push({'question': $scope.questions[$scope.current].text, 'correct': 'Passed with less of ' + $scope.questions[$scope.current].answers[0].text + ' errors', 'answer': passed_message });

                    if('Passed with less of ' + $scope.questions[$scope.current].answers[0].text + ' errors'=== passed_message){
                        toastr.success('You passed Open-Domain question');
                    } else {
                        toastr.error('You have many mistakes, you have not passed the Open-Domain question');
                    }
                }
            }

            if ($scope.current + 1 >= $scope.length) {
                $scope.finished = true;
                $scope.length += lengthMore;
                if ($scope.score > $scope.length / 2) {
                    passed = true;
                }
                $('#audio_visualizer').hide();
                postActivity();
            } else {
                if($scope.questions[++$scope.current].type == 3){
                    $('#audio_visualizer').hide();
                    shuffleDragAndDrop($scope.questions[$scope.current]);
                }else if($scope.questions[$scope.current].type == 2){
                    $('#audio_visualizer').hide();
                    generatePhrase($scope.questions[$scope.current]);
                }else if($scope.questions[$scope.current].type == 1){
                    $('#audio_visualizer').hide();
                    shuffle($scope.questions[$scope.current].answers);
                }else if($scope.questions[$scope.current].type == 4){
                    tried=0;
                    $('#audio_visualizer').show();
                    if(document.querySelector('#start-recording') != null)
                        document.querySelector('#start-recording').disabled = false;
                    //alert($scope.questions[$scope.current].answers[0].text);
                }else if($scope.questions[$scope.current].type == 5){
                    $('#audio_visualizer').hide();
                }
            }
        };
    });
</script>
<script type="text/javascript">
    /**
    * Función que se ejecuta al arrastrar el elemento. 
    **/
    function start(e) {
        e.dataTransfer.effecAllowed = 'move'; // Define el efecto como mover (Es el por defecto)
        e.dataTransfer.setData("Text", e.target.id); // Coje el elemento que se va a mover
        e.target.style.opacity = '0.4'; 
    }

    /**
    * Función que se ejecuta se termina de arrastrar el elemento. 
    **/
    function end(e){
        e.target.style.opacity = ''; // Restaura la opacidad del elemento           
        e.dataTransfer.clearData("Data");           
    }

    /**
    * Función que se ejecuta cuando un elemento arrastrable entra en el elemento desde del que se llama. 
    **/
    function enter(e) {
        return true;
    }

    /**
    * Función que se ejecuta cuando un elemento arrastrable esta sobre el elemento desde del que se llama. 
    * Devuelve false si el objeto se puede soltar en ese elemento y true en caso contrario.
    **/
    function over(e) {
        if ((e.target.className == "contenedorPieza") || (e.target.id == "answersContent"))
            return false;
        else
        return true;
    }
        
    /**
    * Función que se ejecuta cuando un elemento arrastrable se suelta sobre el elemento desde del que se llama. 
    **/
    function drop(e){
        e.preventDefault(); // Evita que se ejecute la accion por defecto del elemento soltado.
        var elementoArrastrado = e.dataTransfer.getData("Text");
        e.target.appendChild(document.getElementById(elementoArrastrado)); // Coloca el elemento soltado sobre el elemento desde el que se llamo esta funcion
    }

    /**
    * Muestra un mensaje de advertencia si el navegador no soporta Drag & Drop. (En Windows no lo soportan ni IE ni Safari)
    **/
    function comprobarnavegador() {
        if( 
            (navigator.userAgent.toLowerCase().indexOf('msie ') > -1) || 
            ((navigator.userAgent.toLowerCase().indexOf('safari') > -1) && (navigator.userAgent.toLowerCase().indexOf('chrome') == -1)))
        {
            alert("Tu navegador no soporta correctamente las funciones Drag & Drop de HTML5. Prueba con otro navegador.");
        }

    }

</script>

<script type="text/javascript">
    
    if(window.MediaRecorder === undefined) {
        alert("Por favor utiliza Chrome 47+, Opera 36+ o Firefox 47+ para poder capturar el audio de tu micrófono");
    }
    
    navigator.getUserMedia = ( navigator.getUserMedia ||
                           navigator.webkitGetUserMedia ||
                           navigator.mozGetUserMedia ||
                           navigator.msGetUserMedia);

    // set up basic variables for app

    var canvas = document.querySelector('.visualizer');

    // visualiser setup - create web audio api context and canvas

    var audioCtx = new (window.AudioContext || webkitAudioContext)();
    var canvasCtx = canvas.getContext("2d");

    //main block for doing the audio recording

    if (navigator.getUserMedia) {
       navigator.getUserMedia (
          // constraints - only audio needed for this app
          {
             audio: true
          },

          // Success callback
          function(stream) {

             visualize(stream);
          },

          // Error callback
          function(err) {
             console.log('The following gUM error occured: ' + err);
          }
       );
    } else {
       console.log('getUserMedia not supported on your browser!');
    }

    function visualize(stream) {
      var source = audioCtx.createMediaStreamSource(stream);

      var analyser = audioCtx.createAnalyser();
      analyser.fftSize = 2048;
      var bufferLength = analyser.frequencyBinCount;
      var dataArray = new Uint8Array(bufferLength);

      source.connect(analyser);
      //analyser.connect(audioCtx.destination);
      WIDTH = canvas.width
      HEIGHT = canvas.height-80;

      draw()

      function draw() {

        requestAnimationFrame(draw);

        analyser.getByteTimeDomainData(dataArray);

        canvasCtx.fillStyle = 'rgb(241, 244, 244)';
        canvasCtx.fillRect(0, 0, WIDTH, HEIGHT);

        canvasCtx.lineWidth = 2;
        canvasCtx.strokeStyle = 'rgb(0, 0, 0)';

        canvasCtx.beginPath();

        var sliceWidth = WIDTH * 1.0 / bufferLength;
        var x = 0;


        for(var i = 0; i < bufferLength; i++) {
     
          var v = dataArray[i] / 128.0;
          var y = v * HEIGHT/2;

          if(i === 0) {
            canvasCtx.moveTo(x, y);
          } else {
            canvasCtx.lineTo(x, y);
          }

          x += sliceWidth;
        }

        canvasCtx.lineTo(canvas.width, (canvas.height-80)/2);
        canvasCtx.stroke();

      }
    }
</script>