<% content_for :title, " - Articles" %>

<% modules = CmsModulePage.where('page_id = ?', @id_page)%>
<% modulesLeft = false, modulesRight = false
if modules.present?
	modules.each do |modules|
		case modules.cms_module.position
			when 'left1','left2','left3','left4','left5'
				modulesLeft = true
		end
		case modules.cms_module.position
			when 'right1','right2','right3','right4','right5'
				modulesRight = true
		end
	end
end %>
<div id="contain_top">
	<aside>
		<% if modules.present? %>
			<% modules.each do |modules|%>
				<%if modules.cms_module.position == 'top'%>
					<div id="top">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
			<%end%>
		<% end %>
	</aside>
</div>
<div class="container">
	<section id="container">
		<% if modulesLeft == true 
			individual_class = "col-md-4" %>
		<%if modulesRight == true
			individual_class = "col-md-2"
		end%>
		<aside id="content_left" class="<%=individual_class%> col-sm-12">
			<% modules.each do |modules|%>
				<%if modules.cms_module.position == 'left1'%>
					<div id="left1">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'left2'%>
					<div id="left2">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'left3'%>
					<div id="left3">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'left4'%>
					<div id="left4">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'left5'%>
					<div id="left5">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
			<%end%>
		</aside>
		<% end %>
		
		<main class="col-md-8 col-sm-12">
			<div style="display: inline-block; width: 79%;"><h1 class="page_title blue"> Articles</h1></div>
				<%=form_tag "/articles", method: :get, remote: :true do %>
            <div class="row">
	            <div class="col-md-5 col-sm-5">
		            <div class="row">
			            <div class="col-md-4 col-sm-4" style="padding-right: 0">
							<h5>Search by title</h5>
			        	</div>
			            <div class="col-md-6 col-sm-6" style="padding: 0">
			            	<%= text_field_tag :keyword, nil, placeholder: "Search an article", value: params[:keyword],:style => "margin-top: 6px;"%>
			            </div>
			            <div class="col-md-2 col-sm-2" style="padding-left: 6px">
							<%= content_tag :button, :class => "seach_button", onclick: "this.form.submit();" do %>
							<%end%>
			            </div>
		            </div>
	            </div>
	            <div id="article_filter" class="col-md-7 col-sm-7">
		            <div class="row">
			            <div class=" col-md-3 col-sm-3" style="padding: 0;">
			            	<h5>Search by section</h5>
			            </div>
			            <div class=" col-md-3 col-sm-3">

			            	<% all = "" %>
			            	<% counter = 0 %>
			            	<% @sections.each do |section| %>
			            		<% counter = counter + 1 %>
			            		<% if counter == 1 %>
			            			<% all = all + "'"+section.id.to_s+"'"%>
			            		<% else %>
			            			<% all = all + ",'"+section.id.to_s+"'"%>
			            		<% end %>
			            	<% end %>

			  				<%= select_tag(:section, options_for_select([['All', all]].concat(@sections.collect{ |u| [ u.title, u.id] }), :selected => params[:section]), { onchange: "this.form.submit();"}) %>
			  			</div>
		        
			            <div class=" col-md-3 col-sm-3" style="padding-right: 0;">
			            	<h5>Search by level</h5>
			            </div>
			            <div class=" col-md-3 col-sm-3">

			            	<% all = "" %>
			            	<% counter = 0 %>
			            	<% @levels.each do |level| %>
			            		<% counter = counter + 1 %>
			            		<% if counter == 1 %>
			            			<% all = all + "'"+level.id.to_s+"'"%>
			            		<% else %>
			            			<% all = all + ",'"+level.id.to_s+"'"%>
			            		<% end %>
			            	<% end %>

			  				<%= select_tag(:level, options_for_select([['All', all]].concat(@levels.order(:difficulty_level).collect{ |u| ['Level' + ' ' + u.difficulty_level.to_s, "'"+u.id.to_s+"'"] }), :selected => params[:level]), { onchange: "this.form.submit();"}) %>
			  			</div>
		  			</div>
		        </div>
				<% end %>
        		</div>
			<%= render 'modules/articles_list' %>

		</main>

		<% if modulesRight == true
			individual_class = "col-md-4" %>
		<%if modulesLeft == true
			individual_class = "col-md-2"
		end%>
		<aside id="content_right" class="<%=individual_class%> col-sm-12">
			<h1 class="page_title blue" style="margin-bottom: 0em;"> Instant Phrases</h1>
			<div id="types" class="col-md-12">
			 	<%@types.each_with_index do |type|%>
		    	<div onclick="getExcersisesForCat(<%=type.id%>);" class="col-sm-6"><div class="btn btn-info"><%=type.nombre%></div></div>
			    <%end%>
			</div>
			<div id="excersises" class="col-md-12">
		        <div id="felicitaciones" style="display: none;" class="row">
				    <div style="text-align: center;">
		                <h1>You finished!</h1>
                    	<input type="button" class="btn btn-info" value="return to categories" onclick="javascript:volver_a_menu();">
		            </div>
		        </div>
		        <div id="ejercicio" class="row">
				    <h6 class="section-title">Complete the sentence</h6>
				    <div>
		                <img id="imagenEjercicio" class="img-fluid" src="" alt="">
		            </div>
		           
		            <div class="col-md-12">
		                <div id="coincidencias" class="row">
		                </div>
		                <input type="hidden" id="totalPalabras" value="">
		            </div>
		        </div>
		        <div class="row">
		            <div  class="label-score">SCORE </div>
		            <div id="score" class="label-score">0</div>
		        </div>
		        <div class="row">
		            <div id="opciones" class="col-md-12">
		            </div>
        	</div>

    	</div>
			<% modules.each do |modules|%>
				<%if modules.cms_module.position == 'right1'%>
					<div id="right1">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'right2'%>
					<div id="right2">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'right3'%>
					<div id="right3">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'right4'%>
					<div id="right4">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
				<%if modules.cms_module.position == 'right5'%>
					<div id="right5">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
			<%end%>
		</aside>
		<% end %>
	</section>
</div>
<div id="contain_bottom">
	<% modules = CmsModulePage.where('page_id = ?', @id_page)%>
	<aside>
		<% if modules.present? %>
			<% modules.each do |modules|%>
				<%if modules.cms_module.position == 'bottom'%>
					<div id="bottom">
						<%= render 'modules/module', locals:{content_module: modules.cms_module} %>
					</div>
				<%end%>
			<%end%>
		<% end %>
	</aside>
</div>