<% content_for :title, " - Assigned activities" %>
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<main id="main">
    
<div class="container">
<%= render 'modules/sidebar' %>
  <div class="main_l">
    <h2 class="page_title">Assigned activities</h2>
      <div id="example">
        <div id="grid"></div>
      </div>
    </div>
  </div>
</main>

<script>
  $(document).ready(function() {
    if(!$("#grid").hasClass('k-grid')){
      location.reload();
    }
  });

  $("#grid").kendoGrid({
    toolbar: ["excel"],
    excel: {
        fileName: "Activities of user.xlsx"
    },
    dataSource: {
      transport: {
        read: {
          <% url = "/current_activities_in_student/" + current_auth_user.id.to_s %>
          url: "<%=url%>",
          type: "get",
          dataType: "json",
        }
      },
      schema: {
        data: "activities",
        total: function (data) {
            return data.total;
        }
      }
    },
    groupable: true,
    sortable: true,
    pageable: {
        pageSize: 10,
        refresh: true,
        pageSizes: true,
        buttonCount: 5
    },
    columns: [
      {
        template: '#if(data.current_try == 0){#<span>#:data.activity#</span>#} else {#<span style="color:green">#:data.activity#</span>#}#',
        field: "activity",
        title: "Activity"
      },
      {   
        template: '#if(data.current_try == 0){#<span>#:data.start_date#</span>#} else {#<span style="color:green">#:data.start_date#</span>#}#',
        field: "start_date",
        title: "Start date",
      },
      {   
        template: '#if(data.current_try == 0){#<span>#:data.end_date#</span>#} else {#<span style="color:green">#:data.end_date#</span>#}#',
        field: "end_date",
        title: "End date",
      },
      {   
        template: '#if(data.current_try == 0){#<span>#:data.maximum_tries#</span>#} else {#<span style="color:green">#:data.maximum_tries#</span>#}#',
        field: "maximum_tries",
        title: "Maximum tries",
      },
      {   
        template: '#if(data.current_try == 0){#<span>#:data.current_try#</span>#} else {#<span style="color:green">#:data.current_try#</span>#}#',
        field: "current_try",
        title: "Current try",
      },
      {   
        template: '#if(data.current_try == 0){#<span>#:data.score#</span>#} else {#<span style="color:green">#:data.score#</span>#}#',
        field: "score",
        title: "Total score",
      },
      { 
        template: '#if(data.current_try == 0){#<span>#:data.percentage# %</span>#} else {#<span style="color:green">#:data.percentage# %</span>#}#',
        field: "percentage",
        title: "Percentage",
      },
      { 
        template: '#if(data.current_try == 0){#<a href="/activity/#:data.activity_id#" style="padding:0;" class="btn-post">Go to activity</a>#} else {#<a href="/activity/#:data.activity_id#" style="padding:0;" class="btn-post">Go to activity</a>#}#',
        field: "percentage",
        title: "Go activity",
      }
    ]
  });
</script>