<% content_for :title, " - Caracterization" %>
<div id="wrap">
    <main id="main">    
    <div class="container">
		<%= render "modules/sidebar" %>
		<div class="main_l profile" id="main">
		<h2 class="page_title">Caracterización</h2>
		
			<%=form_tag "/caracterization_view", method: :post do %>
			
				<% relations = @user.caracterization_citemclientrelations %>
				<% CaracterizationCaracterizationcategory.all.each do |cat| %>
				<h5 class="page_title_car green"> <%= cat.detail%> </h5>
					<div class="row">
						<% cat.caracterization_caracterizationitems.each do |car| %>
							<% relation = relations.find_by_citem_id(car.id) %>
							<% value = car.id.to_s %>
							<% if relation.present? %>
								<% if relation.current_state == true %>
									<div class="col-md-3"><label class="checkbox-inline no_indent text_check"><input class="car_checkbox" name="checkboxes[]" type="checkbox" value=<%=value%> checked>
								<% else %>
									<div class="col-md-3"><label class="checkbox-inline no_indent text_check"><input class="car_checkbox" name="checkboxes[]" type="checkbox" value=<%=value%> >
								<% end %> 
								<%= car.name %> </label></div>
							<% else %>
									<div class="col-md-3"><label class="checkbox-inline no_indent text_check"><input class="car_checkbox" name="checkboxes[]" type="checkbox" value=<%=value%> ><%= car.name %> </label></div>
							<% end %>
						<% end %>
					</div>
				<% end %>
			 			 
		   		<button type="submit" class="btn-post center-block" style="margin-top:20px;">Guardar</button>

			<% end %>	

         </div>
    </div>
    </main>
</div>

<script>
(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-57877027-6', 'auto');
ga('send', 'pageview');

</script>