<% content_for :title, " - Create group" %>
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<main id="main">
        
<div class="container">
<%= render 'modules/sidebar' %>
  <div class="main_l">
    <h3 class="page_title">Groups Assigned To/Created By You</h3>
      <div id="example">
        <div id="grid"></div>
      </div>
      <a href="/students_assignation/" class="btn-post">Students Assignation</a>
    </div>
  </div>
</main>

<script>
  $("#grid").kendoGrid({
    toolbar: ["excel"],
    excel: {
        fileName: "Groups.xlsx"
    },
    dataSource: {
      transport: {
        read: {
          url: "/current_groups",
          type: "get",
          dataType: "json",
        }
      },
      schema: {
        data: "groups",
        total: function (data) {
          return data.total;
        }
      }
    },
    groupable: true,
    sortable: true,
    pageable: {
      pageSize: 10,
      refresh: true,
      pageSizes: true,
      buttonCount: 5
    },
    columns: [
      {
        template: '<a href="/students_in_group/#:data.code#">#:data.group#</a>',
        field: "group",
        title: "Name",
      }/*quitado porque el nombre ya trae el enlace de acceso,
      {   
        template: '<a href="/students_in_group/#:data.code#"><i class="glyphicon btn-primary glyphicon-send"></i></a>',
        title: "View students",
      }*/
    ]
  }); 
</script>