<% content_for :title, " - Create sequence" %>
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<main id="main">
<div class="container">

<%= render "modules/sidebar"%>

<div class="main_l">

<h1 class="page_title">Create Sequence</h1>
<div id="activity_creation_and_edition_form">
    <%=form_tag "/create-sequence", method: :get, remote: :true do %>
      <div class="form-group">
          <label class="col-md-7" for="">Level</label>
          <div class="col-md-12">
          <%= select_tag(:level, options_for_select([['All', '']].concat(LmsLevel.all.order(:difficulty_level).map{ |l| [l.difficulty_level, l.id] }), :selected => params[:level]), { onchange: "this.form.submit();", :class => "form-control"}) %>
          </div>
      </div> 
    <% end %>
    <form action="/create_assign_sequence" method="post">
        <input type="hidden" name="csrfmiddlewaretoken" value="PuwofTfbd52FulJaPrscWtdb1D0g8c7V">

        <div class="row">
            <div class="form-group">
                <label class="col-md-7" for="">Sequence</label>
                <div class="col-md-12">
                    <% if !@sequences_init.empty?%>
                    <select class="form-control" id="id_sequence" name="sequence">
                      <% @sequences_init.each do |sequence|%>
                        <option value="<%=sequence.id%>"><%=sequence.name%></option>
                      <% end %>
                    </select>
                    <a class="btn-post" id="link_to_seq" href="<%= preview_sequence_path(:id => @sequences_init.first.id)%>">Go to preview of "<%=@sequences_init.first.name%>"</a>
                    <% else %>
                      <span>No exist sequences in this level</span>
                    <% end %>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <label for="">Start date:</label>
                <input class="form-control" id="id_start_date" name="start_date" type="date" required="required">
            </div>        


            <div class="form-group">
                <label for="">End date:</label>
                <input class="form-control" id="id_end_date" name="end_date" type="date" required="required">  
            </div>
        </div>
        
        <button type="submit" class="btn-post" name="create_activity">Save Sequence</button>
       
    </form>
</div>

<h2 class="page_title">Assign sequences</h2>

<div class="form_group">
 <form action="/assign_sequence" method="post"> 
 <input type="hidden" name="csrfmiddlewaretoken" value="PuwofTfbd52FulJaPrscWtdb1D0g8c7V">
 
 <label> Select the sequences to assign </label>

<div id="example">
  <div id="grid"></div>
</div>

<% if @sequences_to_active.where("active = true").count > 0  && @students_init.present? %>
 <!--a href="/all_assigned_activities" class="btn-post">All Activities</a-->
 <br> 
 <label> Select Group </label>
 <select style="width:33%;" class="form-control" id="group_selection" name="group-select"> 

  <% @groups.each do |group|%>
    <option value="<%=group.code%>"><%=group.name%></option>
  <% end %>

 </select>
  <label class="checkbox-inline" style="margin-top:1em;" for="students-check">
  <input type="checkbox" onclick="selectAll(this)" id="select-all-students">All </label>
  
    <div id="students_in_group">

      <ul>
        <%@students_init.each do |student|%>
          <li>
          <label for="<%=student.id%>" class="checkbox-inline">
              <input value="<%=student.id%>" type="checkbox" name="students-checkboxes[]" id="<%=student.id%>" class="students-check"><%=student.first_name + ' ' + student.last_name%>
          </label>
          </li>
        <% end %>
      </ul>

    </div>
  <button type="submit" class="btn-post" name="assign_activities">Assign Sequences</button><button>
 <% else %>
  <label>Debe tener al menos una sequencia o grupo activo para poder asignar secuencias</label>
 <% end %>
</button></form>
</div>

</div>
</b></div><b>
</b></main>

<script>
  $("#grid").kendoGrid({
    toolbar: ["excel"],
    excel: {
        fileName: "AssignedSequences.xlsx"
    },
    dataSource: {
      transport: {
        read: {
          url: "/sequences_active",
          type: "get",
          dataType: "json",
        }
      },
      schema: {
        data: "sequences",
        total: function (data) {
          return data.total;
        }
      }
    },
    groupable: true,
    sortable: true,
    pageable: {
      pageSize: 10,
      refresh: true,
      pageSizes: true,
      buttonCount: 5
    },
    columns: [
      {
        template: '<input type="checkbox" name="sequences-checkboxes[]" value="#:data.id#">', width: "60px",
        title: "Select"
      },
      {   
        template: '<a style="#:data.color#" href="/students_with_sequence/#:data.id#">#:data.sequence#</a>',
        field: "sequence",
        title: "Sequence"
      },
      {
        template: '<span>#:data.group#</span>',
        field: "group",
        title: "Group"
      },
      {
        field: "creation_date",
        title: "Creation date"
      },
      {   
        field: "start_date",
        title: "Start date"
      },
      {
        field: "end_date",
        title: "End date"
      },
      { 
        template: '<a href="/edit-sequence/#:data.id#" class="btn btn-default btn-xs"><i class="glyphicon btn-primary glyphicon-send"></i></a>', width: "60px",
        title: "Edit"
      },
      {   
        title: "Delete",
        template: '<a href="/remove_secuence/#:data.id#" data-method="delete" data-confirm="¿Estás seguro de eliminar esta asignación?"><i class=" glyphicon glyphicon-remove"></i></a>', width: "60px"
      }
    ]
  });
</script>

<script type="text/javascript">
  $('#id_sequence').on('change', function(){
    $("#link_to_seq").attr("href", "/preview_sequence/"+$(this).val());
    $("#link_to_seq").text("Go to preview of \"" + $("#id_sequence option:selected").text() + "\"");
  });
</script>