<% content_for :title, " - Create activity" %>
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<main id="main">
<div class="container">

<%= render "modules/sidebar"%>

<div class="main_l">

<h1 class="page_title">Create Activity</h1>
<div id="activity_creation_and_edition_form">
<form action="/create_assign_activity" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="PuwofTfbd52FulJaPrscWtdb1D0g8c7V">
    <div class="row">
        <div class="form-group">
            <label class="col-md-5">Level</label>
            <label class="col-md-7" for="">Activity</label>
           <div class="col-md-5">
            <select class="form-control" id="id_level_field" name="level_field">
              <% @levels.each do |level| %>
                <% if level.difficulty_level == 1 %> 
                  <option value="<%=level.id%>" selected="selected">Level <%=level.difficulty_level%></option>
                <% else %>
                  <option value="<%=level.id%>">Level <%=level.difficulty_level%></option>
                <% end %>
              <% end %>
            </select>

            <br>
            <label>Section</label>
            <select class="form-control" id="id_section_field" name="section_field">
              <% counter = 0 %>  
              <% @sections.each do |section| %>
                <% counter = counter + 1 %>
                <% if counter == 1 %> 
                  <option value="<%=section.id%>" selected="selected"><%=section.title%></option>
                <% else %>
                  <option value="<%=section.id%>"><%=section.title%></option>
                <% end %>
              <% end %>
            </select>

            </div>
            <div class="col-md-7">
            <select class="form-control" id="id_activity" name="activity">
              <% @activities_init.each do |activity|%>
                <option value="<%=activity.id%>"><%=activity.name%></option>
              <% end %>
            </select>
            </div>
        </div>        

        <div class="form-group">
            <label for="">Maximum tries</label>
            <input class="form-control" id="id_maximum_tries" min="0" name="maximum_tries" type="number" value="3" required="required"> 
        </div>

    </div>
   
    <div class="row">
        <div class="form-group">
            <label for="">Start date:</label>
            <input class="form-control" id="id_start_date" name="start_date" type="date" required="required">
        </div>        

        <div class="form-group">
            <label for="">End date:</label>
            <input class="form-control" id="id_end_date" name="end_date" type="date" required="required">  
        </div>
    </div>
    
    <button type="submit" class="btn-post" name="create_activity">Save Activity</button>
   
</form>
</div>

<h2 class="page_title">Assign Activities</h2>

<div class="form_group">
 <form action="/assign_activity" method="post"> 
 <input type="hidden" name="csrfmiddlewaretoken" value="PuwofTfbd52FulJaPrscWtdb1D0g8c7V">
 
 <label> Select (active) activities to assign or edit activities </label>

<div id="example">
  <div id="grid"></div>
</div>

<% if @activities_to_active.where("active = true").count > 0 && @students_init.present? %>
 <!--a href="/all_assigned_activities" class="btn-post">All Activities</a-->
 <br> 
 <label> Select Group </label>
 <select style="width:33%;" class="form-control" id="group_selection" name="group-select"> 

  <% @groups.each do |group|%>
    <option value="<%=group.code%>"><%=group.name%></option>
  <% end %>

 </select>
  <label class="checkbox-inline" style="margin-top:1em;" for="students-check">
  <input type="checkbox" onclick="selectAll(this)" id="select-all-students">All </label>
  
    
    <div id="students_in_group">
      <ul>
        <%@students_init.each do |student|%>
          <li>
          <label for="<%=student.id%>" class="checkbox-inline">
              <input value="<%=student.id%>" type="checkbox" name="students-checkboxes[]" id="<%=student.id%>" class="students-check"><%=student.first_name + ' ' + student.last_name%>
          </label>
          </li>
        <% end %>
      </ul>
    </div>
    
  <button type="submit" class="btn-post" name="assign_activities">Assign Activities</button><button>
 <% else %>
  <label> Debe tener al menos una actividad o grupo activo para poder asignar actividades</label>
 <% end %>
</button></form>
</div>

</div>
</b></div><b>
</b></main>

<script>
  $("#grid").kendoGrid({
    toolbar: ["excel"],
    excel: {
        fileName: "AssignedActivities.xlsx"
    },
    dataSource: {
      transport: {
        read: {
          url: "/activities_active",
          type: "get",
          dataType: "json",
        }
      },
      schema: {
        data: "activities",
        total: function (data) {
          return data.total;
        }
      }
    },
    groupable: true,
    sortable: true,
    pageable: {
      pageSize: 10,
      refresh: true,
      pageSizes: true,
      buttonCount: 5
    },
    columns: [
      {
        template: '<input type="checkbox" name="activities-checkboxes[]" value="#:data.id#">',
        title: "Select",
      },
      {   
        template: '<a style="#:data.color#" href="/students_with_activity/#:data.id#">#:data.activity#</a>',
        field: "activity",
        title: "Activity",
      },
      {
        field: "creation_date",
        title: "Creation date"
      },
      {   
        field: "start_date",
        title: "Start date",
      },
      {
        field: "end_date",
        title: "End date",
      },
      {   
        field: "maximum_tries",
        title: "Maximum tries",
      },
      { 
        template: '<a href="/edit-activity/#:data.id#" class="btn btn-default btn-xs"><i class="glyphicon btn-primary glyphicon-send"></i></a>',
        title: "Edit",
      },
      { 
        template: '<a href="/students_with_activity/#:data.id#" class="btn btn-default btn-xs"><i class="glyphicon btn-primary glyphicon-pencil"></i></a>',
        title: "View students",
      },
      {   
        field: "delete",
        title: "Delete",
        template: '<a href="/remove_activity/#:data.id#" data-method="delete" data-confirm="¿Estás seguro de eliminar esta asignación?"><i class=" glyphicon glyphicon-remove"></i></a>',
      }
    ]
  });
</script>