<% content_for :title, " - Edit password" %>
<main id="main">   
  <div class="container">
    <%= render "modules/sidebar"%>
    <div class="main_l" id="main">
      <h2 class="page_title">Cambiar clave</h2>
      <%= form_for(@user, :url => { :action => "update_password" } ) do |f| %>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>

        <div class="row">
          <div class="form-group">
            <label for="">Clave actual:</label>
            <%= f.password_field :current_password, required: "required"%>   
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="">Clave nueva:</label>
            <%= f.password_field :password, :autocomplete => "off", required: "required"%>   
          </div>
        </div>

        <div class="row">
          <div class="form-group">
            <label for="">Repita clave nueva:</label>
            <%= f.password_field :password_confirmation, :autocomplete => "off", required: "required"  %>   
          </div>
        </div>
        
        <button type="submit" class="btn-post">Cambiar clave</button>
      <% end %>
    </div>
  </div>
</main>