<% content_for :title, " - Edit activity" %>
<main id="main">

<div class="container">
<%= render "modules/sidebar" %>
<div class="main_l">

<h2 class="page_title"> Edit Activities </h2>
<div id="activity_creation_and_edition_form">
<form action="/edit_activity_post" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="PuwofTfbd52FulJaPrscWtdb1D0g8c7V">

    <div class="row">
        <div class="form-group">
            <label class="col-md-3">Level</label>
            <label class="col-md-9" for="">Activity</label>
           <div class="col-md-4">

            <select class="form-control" id="id_level_field" name="level_field">
                <% @levels.each do |level| %>
                    <% if level.id == @assigned.lms_activity.difficulty_id %> 
                        <option value="<%=level.id%>" selected="selected">Level <%=level.difficulty_level%></option>
                    <% else %>
                        <option value="<%=level.id%>">Level <%=level.difficulty_level%></option>
                    <% end %>
                <% end %>
            </select>

            <br>
            <label>Section</label>
            <select class="form-control" id="id_section_field" name="section_field">
                <% @sections.each do |section| %>
                    <% if section.id == @assigned.lms_activity.news_article.news_sections.first.id %> 
                        <option value="<%=section.id%>" selected="selected"><%=section.title%></option>
                    <% else %>
                        <option value="<%=section.id%>"><%=section.title%></option>
                    <% end %>
                <% end %>
            </select>

            </div>
            <div class="col-md-8">
                <select class="form-control" id="id_activity" name="activity">
                    <% @activities_init.each do |activity|%>
                        <% if activity.id == @assigned.lms_activity.id %>
                            <option value="<%=activity.id%>" selected="selected"><%=activity.name%></option>
                        <% else %>
                            <option value="<%=activity.id%>"><%=activity.name%></option>
                        <% end %>
                    <% end %>
                </select>
            </div>
        </div>        

        <div class="form-group">
            <label for="">Maximum tries</label>
            <input class="form-control" id="id_maximum_tries" min="0" name="maximum_tries" type="number" value="<%=@assigned.maximum_tries%>">
        </div>
    </div>
   
    <div class="row">
        <div class="form-group">
            <label for="">Start date:</label>
            <input class="form-control" id="id_start_date" name="start_date" type="date" value="<%=@assigned.start_date%>" required="required"> 
        </div>        

        <div class="form-group">
            <label for="">End date:</label>
            <input class="form-control" id="id_end_date" name="end_date" type="date" value="<%=@assigned.end_date%>" required="required">
        </div>

    </div>
    
    <input type="hidden" name="pk" value="<%=@assigned.id%>">
    <button type="submit" class="btn-post" name="edit-activity">Save Activity</button>
   
</form>

</div>

</div>
</b></div><b>
</b></main>