<% content_for :title, " - Edit sequence" %>
<main id="main">

<div class="container">
<%= render "modules/sidebar" %>
<div class="main_l">

<h2 class="page_title"> Edit sequence </h2>
<div id="activity_creation_and_edition_form">
<form action="/edit_sequence_post" method="post">
    <input type="hidden" name="csrfmiddlewaretoken" value="PuwofTfbd52FulJaPrscWtdb1D0g8c7V">

    <div class="row">
        <div class="form-group">
            <label class="col-md-9" for="">Sequence</label>
            <div class="col-md-8">
                <select class="form-control" id="id_sequence" name="sequence">
                    <% @sequences_init.each do |sequence|%>
                        <% if sequence.id == @assigned.sequence.id %>
                            <option value="<%=sequence.id%>" selected="selected"><%=sequence.name%></option>
                        <% else %>
                            <option value="<%=sequence.id%>"><%=sequence.name%></option>
                        <% end %>
                    <% end %>
                </select>
            </div>
        </div>
    </div>
   
    <div class="row">
        <div class="form-group">
            <label for="">Start date:</label>
            <input class="form-control" id="id_start_date" name="start_date" type="date" value="<%=@assigned.start_date%>" required="required"> 
        </div>        

        <div class="form-group">
            <label for="">End date:</label>
            <input class="form-control" id="id_end_date" name="end_date" type="date" value="<%=@assigned.end_date%>" required="required">
        </div>

    </div>
    
    <input type="hidden" name="pk" value="<%=@assigned.id%>">
    <button type="submit" class="btn-post" name="edit-sequence">Save Sequence</button>
   
</form>

</div>

</div>
</b></div><b>
</b></main>