<% content_for :title, " - E-learning" %>
<main id="main">
    <div class="container">
        <div class="row">
            <div class="main">
                <div class="modules_sidebar" data-position="before_content">
                    <h2><span style="color: #e71b40;">Home&nbsp;</span></h2>
                    <h3><span style="color: #e71b40;">¿Cómo funciona&nbsp;elPost?</span></h3>
                    <p><iframe src="http://www.youtube.com/embed/GZVDRBQdaHE" frameborder="0" width="640" height="360"></iframe>&nbsp;</p>
                    <h3><span style="color: #e71b40;">¿Cómo inscribirte&nbsp;a elPost?</span></h3>
                    <p><iframe src="https://www.youtube.com/embed/6qJuf5lY7t8" frameborder="0" width="640" height="360"></iframe></p>
                </div>
                
                <section class="activities">
                    <h3><span style="color: #e71b40;">Ejemplo de actividad de elPost</span></h3>
                        
                        <article class="activity">
                            <header>
                                <% @categories.each do |category| %>
                                    <div class="icon">
                                        <%=category.icon.html_safe%>
                                        <h3><%=category.name%></h3>
                                    </div>
                                <% end %>

                                <p></p><p class="Body"><%=@example_activity.news_article.excerpt.html_safe%></p>
                                <p></p>
                            </header>

                            <div class="media">          
                                <div id="gallery-626" class="gal">
                                    <ul class="gallery-slideshow article-gallery">
                                        <li data-src="<%=@example_activity.news_article.media_galleries.first.media_media.first.media.url.gsub("/uploads/uploads","/uploads")%>" data-thumb="<%=@example_activity.news_article.media_galleries.first.media_media.first.media.url.gsub("/uploads/uploads","/uploads")%>">

                                            <img src="<%=@example_activity.news_article.media_galleries.first.media_media.first.media.url.gsub("/uploads/uploads","/uploads")%>" alt="<%=@example_activity.news_article.media_galleries.first.media_media.first.title%>">
                                        </li>
                                    </ul>
                                </div>    
                                <h2>
                                    <%= @example_activity.name%>
                                </h2>
                            </div>
                            <div class="question">

                                <% if @example_question.media_medium.present? %>
                                    <% if @example_question.media_medium.type == "image" %>
                                        <%=@example_question.media_medium.media.url.gsub("/uploads/uploads","/uploads")%>
                                    <% elsif @example_question.media_medium.type == "audio" %>
                                        <%=@example_question.media_medium.media.url.gsub("/uploads/uploads","/uploads")%>
                                    <% elsif @example_question.media_medium.type == "embedded" %>
                                        <%=@example_question.media_medium.iframe_url%>
                                    <% end %>
                                <% end %>

                                <h4><%=@example_question.text.html_safe%></h4>
                                <br>
                                <ul>
                                    <%@example_question.lms_answers.each do |answer|%>
                                        <li>
                                            <% if answer.correctAnswer %>
                                                <div class="true">
                                                    <%=answer.text.html_safe%>
                                                </div>
                                            <% else %>
                                                <div>
                                                    <%=answer.text.html_safe%>
                                                </div>
                                            <% end %>
                                        </li>
                                    <% end %>
                                </ul>
                            </div>
                        </article>
                    </section>
                    <div class="modules_sidebar" data-position="after_content">
                    </div>
                </div>

                <div class="sidebar">
                    
                <div class="modules_sidebar" data-position="sidebar1">
                    <p>.</p>
                    <p>&nbsp;</p>
                    <p>&nbsp;</p>
                </div>
                     
                <aside class="high_scores">
                    <h2>Ranking Global</h2>
                    <% counter = 0 %>
                    <% @best_scores.each do |best| %> 
                        <% counter = counter + 1 %> 
                        <div class="high_score">
                            <span class="level"><%=counter%></span>
                            <div class="info">
                                <h4><%=@best_scores[counter-1][0].upcase %></h4>
                                <span class="points">
                                    <%=@best_scores[counter-1][1]%>
                                </span>
                            </div>
                        </div>
                    <% end %> 

                </aside>

                <div class="modules_sidebar" data-position="sidebar2">
                </div>

                <div class="modules_sidebar" data-position="sidebar3">
                </div>
            </div>
        </div>
    </div>
    <div class="modules_sidebar" data-position="after_content">
    </div>
</main>