<% flash.each do |name, msg| %>
  <% if msg.is_a?(String) %>
    <div class="alert alert-<%= name == 'danger' ? "danger" : "success" %> alert-dismissable">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= content_tag :div, msg.html_safe, :id => "flash_#{name}" %>
    </div>
  <% end %>
<% end %>

<h1>Generación de texto a audio</h1>

<%= form_tag generate_audio_path, multipart: :true, id: :audio do%>  
  <label>Nombre del audio</label>
  <input type="text" name="title" required="required">
  <br><br>
  <label>Volume</label>
  <select name="volume">
    <option selected="selected">silent</option>
    <option>x-soft</option>
    <option>soft</option>
    <option>medium</option>
    <option>loud</option>
    <option>x-loud</option>
  </select>
  <br><br>
  <label>Speed</label>
  <select name="speed">
    <option selected="selected">x-slow
    <option>slow</option>
    <option>medium</option>
    <option>fast</option>
    <option>x-fast</option>
  </select>
  <br><br>
  <label>Voz</label>
  <select name="voice">
    <option value="Salli" selected="selected">Salli - Mujer
    <option value="Ivy">Ivy - Mujer</option>
    <option value="Joanna">Joanna - Mujer</option>
    <option value="Joey">Joey - Hombre</option>
    <option value="Justin">Justin - Hombre</option>
    <option value="Kendra">Kendra - Mujer</option>
    <option value="Kimberly">Kimberly - Mujer</option>
    <option value="Matthew">Matthew - Hombre</option>
  </select>
  <br><br>
  <label>Texto a traducir</label>
  <textarea name="text" placeholder="Enter text to translate to audio..." required="required"></textarea>
  <br><br><br>
  <button name="save" type="submit" class="btn btn-primary">
  <i class="icon icon-check" aria-hidden="true"></i>
    Text to speech!
  </button>
<% end %>

<style type="text/css">
.input-file-container {
  position: relative;
  width: 225px;
} 
.js .input-file-trigger {
  display: block;
  padding: 14px 45px;
  background: #39D2B4;
  color: #fff;
  font-size: 1em;
  transition: all .4s;
  cursor: pointer;
}
.js .input-file {
  position: absolute;
  top: 0; left: 0;
  width: 225px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}
.js .input-file:hover + .input-file-trigger,
.js .input-file:focus + .input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
  background: #34495E;
  color: #39D2B4;
}

.file-return {
  margin: 0;
}
.file-return:not(:empty) {
  margin: 1em 0;
}
.js .file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}
.js .file-return:not(:empty):before {
  content: "Archivo seleccionado: ";
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "Open sans", "Segoe UI", "Segoe WP", Helvetica, Arial, sans-serif;
  color: #7F8C9A;
  background: #FCFDFD;
}
h1, h2 {
  margin-bottom: 5px;
  font-weight: normal;
  text-align: center;
  color:#aaa;
}
h2 {
  margin: 5px 0 2em;
  color: #1ABC9C;
}
form {
  width: 225px;
  margin: 0 auto;
  text-align:center;
}
h2 + P {
  text-align: center;
}
.txtcenter {
  margin-top: 4em;
  font-size: .9em;
  text-align: center;
  color: #aaa;
}
.copy {
  margin-top: 2em;
}
.copy a {
  text-decoration: none;
  color: #1ABC9C;
}
</style>