<% content_for :title, " - Guided content" %>
<main id="main">
    
<div class="container">
<%= render "modules/sidebar" %>
  <div class="main_l">
    <h2 class="page_title">Guided content</h2>
		<div class="row" style="padding: 0px 75px 0px 75px;">
			<% has_guided_content = false %>
			<% counter = 0 %>
			<% @assigned_sequences_user.each do |user_sequence| %>
				<% has_guided_content = true %>
				<% sequence = user_sequence.sequence %>
				<h3><%= sequence.name %></h3>
				<% sequence.sequence_lms_activities.order(:order).each do |sequence_activity| %>
					<% activity = sequence_activity.lms_activity %>
					
					<h4 class="page_title">
						<%= 
						if sequence_activity.type_activity.to_s == "1"
							"Activity"
						elsif sequence_activity.type_activity.to_s == "2"
							"Diagnostic exam"
						elsif sequence_activity.type_activity.to_s == "3"
							"Progress exam"
						elsif sequence_activity.type_activity.to_s == "4"
							"Pre-Task"
						elsif sequence_activity.type_activity.to_s == "5"
							counter = counter + 1
							"Task number #{counter}"
						elsif sequence_activity.type_activity.to_s == "6"
							"Post-Task"
						end
						%>
					</h4>
					<article class="activityList" style="border-color: blue;" name=<%=activity.id%>>
						<% media = "" %>
						<% gallery = "" %>
						<% if activity.news_article.media_galleries.present? %>
							<% media = activity.news_article.media_galleries.first.media_media.first %>
							<% id = "gallery-" + activity.news_article.media_galleries.first.id.to_s %>
							<% gallery = activity.news_article.media_galleries.first%>
						 	<%= render 'modules/media', locals:{gallery: gallery, media: media, sidebar_articles: false} %>
							<% end %>

						<h3>  
						<%if activity.lms_level.difficulty_level == "0"
							class_level = "beginner"
						  else 
						  	class_level = ""
						  end%>

						<% if activity.lms_level.difficulty_level == "0" %>
							<span class="level <%=class_level%>">Beginners</span>
						<% else %>
							<span class="level <%=class_level%>">Level <span style="background-color: <%=activity.lms_level.color%>"><%=activity.lms_level.difficulty_level%></span></span>	
						<% end %>

						</h3>

						<h3><%= activity.name %></h3>

						<div class="content">
							<%= activity.introduction.html_safe %>
						</div>

						<% activities = sequence.sequence_lms_activities.where('"sequence_lms_activities"."order" < ?', sequence_activity.order) %>

						<% counter = 0 %>
						<% activities.each do |seq_act| %>
							<% latact = seq_act.lms_activity.latamusers_useractivities.order(score: :desc).where('user_id = ?', current_auth_user.id).first %>
							<% if latact.present? %>
								<% percentage = ((latact.score.to_f/latact.possibleScore.to_f)*100).round(2) %>
								<% if percentage.to_f >= seq_act.percentage.to_f %>
									<% counter = counter + 1 %>
								<% end %>
							<% end %>
						<% end %>


						<div class="right">
							<% if counter == activities.count %>
						    	<a class="btn-post" href="/activity/<%=activity.id%>">Go to Activity</a>
						    <% else %>
						    	<p style="font-size: 12px; color: red;">You must approve the previous activities</p>
						    <% end %>
						</div>

						<% latact = sequence_activity.lms_activity.latamusers_useractivities.order(score: :desc).where('user_id = ?', current_auth_user.id).first %>
						<% if latact.present? %>
							<h4>Points: <%= latact.score.to_s + "/" + latact.possibleScore.to_s %><br>
							Percentage: <%= ((latact.score.to_f/latact.possibleScore.to_f)*100).round(2) %>%<br>
							Percentage to approve: <%= sequence_activity.percentage.to_f %>%
							</h4>
						<% else %>
							<p>You have not presented this activity</p>
						<% end %>

					</article>
				<% end %>
			<% end %>
		</div>


		<% if !has_guided_content %>
			<h3>You don't have guided content</h3>
		<% end %>
    </div>
  </div>
</main>