<style type="text/css">
    body  {
      background-image: url("../assets/fondo1.jpg");
      background-position: center center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover;
    }
  </style>
  <script>
    var index = 0;

    var listaimg = ["../assets/fondo1.jpg", "../assets/fondo2.jpg", "../assets/fondo3.jpg",, "../assets/fondo4.jpg", "../assets/fondo5.jpg"];

  $(function() {
    
     setInterval(changeImage, 5000);
    
  });

  function changeImage() {
    
   
     $('body').css("background-image", 'url(' + listaimg[index] + ')');
                    
     index++;
                    
     if(index == listaimg.length)
        index = 0;
      
      
  }

</script>

<style type="text/css">

  .menu-bottom{
    height: 10%;
  } 

  .login-landing{
    height: 90%;
  }

  li{
    display: inline;
    font-size: 1.5em;
    padding-left: 1em;
  }

  .active-item{
    color: #F53759;
  }

</style>

<div class="login-landing">
  hadsf
</div>

<div class="menu-bottom">
  <div class="col-md-6"></div>
  <div class="col-md-6">
    <ul class="options-landing">
      <li class="active-item">Nosotros</li>
      <li>¿Cómo funciona?</li>
      <li>¿Para quien?</li>
      <li>Contacto</li>
    </ul>
  </div>
</div>