<% content_for :title, " - My subscription" %>
<main id="main">        
   <div class="container">
   <%= render 'modules/sidebar'%>
        <div class="main_l profile" id="main">
           <h2 class="page_title"><b>Mi Suscripción</b> </h2>
           <p style="font-size:20px"> La suscripción termina el: <%= @date_end.strftime("%b. %d, %Y")%> </p>
        </div>
    </div>
</main>