<style type="text/css">
    .answer_class {
        box-sizing: border-box;
        border:1px solid #3366FF;
        border-left: 4px solid #3366FF;
        height: 100px;
        width: 100%;
    }
</style>
<% content_for :title, " - Open Domain Question Review" %>

<main id="main">       
<div class="container">
<%= render "modules/sidebar" %>
<div class="main_l">
<h1 class="page_title">Open-Domain Questions Review</h1>

<h4>Pregunta abierta</h4>
<%=@open_question.lms_question.text.html_safe%>
<h4>Respuesta de <%=@open_question.auth_user.first_name+' '+@open_question.auth_user.last_name%></h4>
<%=@open_question.content.html_safe%>
<h4>Corrección automática</h4>
<%=@open_question.content_errors.html_safe%>

<h3>Agregar un comentario a la entrega</h3>
<p>*Al estudiante le llegará un correo notificándole el comentario</p>

<%= form_for @comment do |f| %>
  <%= hidden_field_tag :id_question, @open_question.id %>
  <%= hidden_field_tag :id_student, @open_question.auth_user_id %>
  <%= hidden_field_tag :id_teacher, current_auth_user.id %>

  <%= f.label :text, "Comentar entrega" %>
  <%= f.text_area :text, class: "answer_class" %>
  <br><br>
  <%= button_tag "Añadir comentario", class: "btn-post", type: "submit"%>
<% end %>

<% if @comments.count > 0 %>
  <h5>Comentarios realizados:</h5>
  <% @comments.each do |comment| %>
    <div style="border-bottom: 1px solid #3366FF;">
      <div class="row">
        <div class="col-md-2">
          <%=image_tag(comment.auth_user_teacher.latamusers_userprofiles.first.thumbnail.url)%>
        </div>
        <div class="col-md-10">
          <p><%= comment.text %></p>
          <p><%= comment.created_at.strftime("%B %m, %d")%></p>
        </div>
      </div>
    </div>
  <% end %>
  <center><%= paginate @comments, theme:"admin"%></center>
<% end %>
   
</div>
</b></div><b>    
</b></main>