<style type="text/css">
  .k-grid tbody tr{height: 150px;}
</style>
<% content_for :title, " - Open Domain Questions" %>
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<main id="main">       
<div class="container">
<%= render "modules/sidebar" %>
<div class="main_l">
<h1 class="page_title">Open-Domain Questions Review</h1>

<div id="example">
  <div id="grid"></div>
</div>
   
</div>
</b></div><b>    
</b></main>

<script>
  $("#grid").kendoGrid({
    toolbar: ["excel"],
    excel: {
        fileName: "Open-Domain Questions.xlsx"
    },
    dataSource: {
      transport: {
        read: {
          url: "/open-questions-api",
          type: "get",
          dataType: "json",
        }
      },
      schema: {
        data: "openquestions",
        total: function (data) {
          return data.total;
        }
      }
    },
    groupable: true,
    sortable: true,
    pageable: {
      pageSize: 10,
      refresh: true,
      pageSizes: true,
      buttonCount: 5
    },
    columns: [
      {   
        field: "student",
        title: "Student",
      },
      {   
        field: "question",
        encoded: false,
        title: "Question",
      },
      {
        field: "answer",
        title: "Answer"
      },
      {   
        field: "correction",
        encoded: false,
        title: "Correction",
      },
      { 
        template: '<a href="/open-questions/#:data.id#" class="btn btn-default btn-xs"><i class="glyphicon btn-primary glyphicon-send"></i></a>',
        title: "Revise",
      }
    ]
  });
</script>