<% content_for :title, " - Preview of sequence" %>

<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<main id="main">
        
<div class="container">
<%= render "modules/sidebar" %>
<div class="main_l">
<h2 class="page_title">Preview of sequence "<%=@sequence.name%>"</h2>

<h4> Description </h4>
<p><%= if @sequence.description.present? then @sequence.description else "This sequence does not have description yet" end %></p>
<br><br>
<% counter = 0 %>
<% @sequence.sequence_lms_activities.order(:order).each do |sequence_activity| %>
  <% activity = sequence_activity.lms_activity %>
  
  <h4 class="page_title">
    <%= 
    if sequence_activity.type_activity.to_s == "1"
      "Activity"
    elsif sequence_activity.type_activity.to_s == "2"
      "Diagnostic exam"
    elsif sequence_activity.type_activity.to_s == "3"
      "Progress exam"
    elsif sequence_activity.type_activity.to_s == "4"
      "Pre-Task"
    elsif sequence_activity.type_activity.to_s == "5"
      counter = counter + 1
      "Task number #{counter}"
    elsif sequence_activity.type_activity.to_s == "6"
      "Post-Task"
    end
    %>
  </h4>
  <article class="activityList" style="border-color: blue;" name=<%=activity.id%>>
    <% media = "" %>
    <% gallery = "" %>
    <% if activity.news_article.media_galleries.present? %>
      <% media = activity.news_article.media_galleries.first.media_media.first %>
      <% id = "gallery-" + activity.news_article.media_galleries.first.id.to_s %>
      <% gallery = activity.news_article.media_galleries.first%>
      <%= render 'modules/media', locals:{gallery: gallery, media: media, sidebar_articles: false} %>
      <% end %>

    <h3>  
    <%if activity.lms_level.difficulty_level == "0"
      class_level = "beginner"
      else 
        class_level = ""
      end%>

    <% if activity.lms_level.difficulty_level == "0" %>
      <span class="level <%=class_level%>">Beginners</span>
    <% else %>
      <span class="level <%=class_level%>">Level <span style="background-color: <%=activity.lms_level.color%>"><%=activity.lms_level.difficulty_level%></span></span> 
    <% end %>

    </h3>

    <h3><%= activity.name %></h3>

    <div class="content">
      <%= activity.introduction.html_safe %>
    </div>

    <% activities = @sequence.sequence_lms_activities.where('"sequence_lms_activities"."order" < ?', sequence_activity.order) %>

    <% counter = 0 %>
    <% activities.each do |seq_act| %>
      <% latact = seq_act.lms_activity.latamusers_useractivities.order(score: :desc).where('user_id = ?', current_auth_user.id).first %>
      <% if latact.present? %>
        <% percentage = ((latact.score.to_f/latact.possibleScore.to_f)*100).round(2) %>
        <% if percentage.to_f >= seq_act.percentage.to_f %>
          <% counter = counter + 1 %>
        <% end %>
      <% end %>
    <% end %>


    <div class="right">
      <a class="btn-post" href="/activity/<%=activity.id%>">Check activity</a>
    </div>
    
    <br><br>
    <h4>Percentage to approve: <%= sequence_activity.percentage.to_f %>%</h4>

  </article>
<% end %>

<%= form_tag ("/create_assign_sequence") do %>
  <%= hidden_field_tag :sequence, params[:id] %>
  <%= hidden_field_tag :start_date, Date.today %>
  <%= hidden_field_tag :end_date, Date.today + 7.days %>
  <%= button_tag "Save sequence", class: "btn-post", type: "submit"%>
<% end %>

</div>
</b></div><b>    
</b></main>