<% content_for :title, " - Profile" %>

<% if current_auth_user.auth_groups.where("group_id = '4'").present? %>
    <link rel="stylesheet" href="
    https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
    <link rel="stylesheet" href="
    https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
    <script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<% end %>

<div id="wrap">

    <main id="main">

        <div class="container">
            
            <%= render 'modules/sidebar' %>

            <div class="main_l profile" id="main">

                <% if current_auth_user.auth_groups.where("group_id = '4'").present? %>

                <h1 class="page_title">Group Management</h1>

                <div id="example">
                    <div id="grid"></div>
                </div>

                <h1 class="page_title">Assignment creation</h1>
                
                    <div id="activity_creation_and_edition_form">
                        <form action="/create_assign_activity" method="post">
                            <input type="hidden" name="csrfmiddlewaretoken" value="PuwofTfbd52FulJaPrscWtdb1D0g8c7V">

                        <div class="row">
                                <div class="form-group">
                                    <label class="col-md-5">Level</label>
                                    <label class="col-md-7" for="">Activity</label>
                                   <div class="col-md-5">

                                    <select class="form-control" id="id_level_field" name="level_field">
                                      <% @levels.each do |level| %>
                                        <% if level.difficulty_level == 0 %> 
                                          <option value="<%=level.id%>" selected="selected">Level <%=level.difficulty_level%></option>
                                        <% else %>
                                          <option value="<%=level.id%>">Level <%=level.difficulty_level%></option>
                                        <% end %>
                                      <% end %>
                                    </select>

                                    <br>
                                    <label>Section</label>
                                    <select class="form-control" id="id_section_field" name="section_field">
                                      <% counter = 0 %>  
                                      <% @sections.each do |section| %>
                                        <% counter = counter + 1 %>
                                        <% if counter == 1 %> 
                                          <option value="<%=section.id%>" selected="selected"><%=section.title%></option>
                                        <% else %>
                                          <option value="<%=section.id%>"><%=section.title%></option>
                                        <% end %>
                                      <% end %>
                                    </select>

                                    </div>
                                    <div class="col-md-7">
                                    <select class="form-control" id="id_activity" name="activity">
                                      <% @activities_init.each do |activity|%>
                                        <option value="<%=activity.id%>"><%=activity.name%></option>
                                      <% end %>
                                    </select>
                                    </div>
                                </div>        

                                <div class="form-group">
                                    <label for="">Maximum tries</label>
                                    <input class="form-control" id="id_maximum_tries" min="0" name="maximum_tries" type="number" value="3" required="required"> 
                                </div>

                            </div>
                           
                            <div class="row">
                                <div class="form-group">
                                    <label for="">Start date:</label>
                                    <input class="form-control" id="id_start_date" name="start_date" type="date" required="required">
                                </div>        

                                <div class="form-group">
                                    <label for="">End date:</label>
                                    <input class="form-control" id="id_end_date" name="end_date" type="date" required="required">  
                                </div>
                            </div>
                            
                            <button type="submit" class="btn-post" name="create_activity">Save Activity</button>
                           
                        </form>
                    </div>

                    <h1 class="page_title">Sequence assignation</h1>

                    <div id="activity_creation_and_edition_form">
                        <form action="/create_assign_sequence" method="post">
                            <input type="hidden" name="csrfmiddlewaretoken" value="PuwofTfbd52FulJaPrscWtdb1D0g8c7V">

                            <div class="row">
                                <div class="form-group">
                                    <label class="col-md-7" for="">Sequence</label>
                                    <div class="col-md-12">
                                        <select class="form-control" id="id_activity" name="sequence">
                                          <% @sequences_init.each do |sequence|%>
                                            <option value="<%=sequence.id%>"><%=sequence.name%></option>
                                          <% end %>
                                        </select>
                                    </div>
                                </div> 
                            </div>

                            <div class="row">
                                <div class="form-group">
                                    <label for="">Start date:</label>
                                    <input class="form-control" id="id_start_date" name="start_date" type="date" required="required">
                                </div>        


                                <div class="form-group">
                                    <label for="">End date:</label>
                                    <input class="form-control" id="id_end_date" name="end_date" type="date" required="required">  
                                </div>
                            </div>
                            
                            <button type="submit" class="btn-post" name="create_activity">Save Sequence</button>
                           
                        </form>
                    </div>

                <% end %>

                <h1 class="page_title">Revisa tu progreso</h1>

                    <p>¿Quieres ver tu progreso? Solo da click en cualquiera de las secciones y obtén tus estadísticas.</p>

                    <div class="row">
                        <% points = 0%>
                        <% counter = 0 %>
                        <% score = 0 %>
                        <% @categories.order(:order).each do |category| %>
                            <% counter = counter + 1 %>
                            <% str = "#stats-" + counter.to_s%>
                            <div class="category">
                                <div class="icon">
                                    <%= category.icon.html_safe %>
                                    <h3><%= category.name %></h3>
                                    <br>
                                </div>
                                <div class="intro">
                                    <% activities_category = @user_activities.where("category_id = ?", category.id) %>

                                    <% attempts = 0 %>
                                    <% passed = 0 %>
                                    <% activities_category.group(:id).each do |ua|%>
                                        <% attempts = attempts + ua.current_try %>
                                        <% if ua.successfull %>
                                            <% passed = passed + 1 %>
                                        <% end %>
                                        <% score = score + ua.score %>
                                    <% end %>

                                    <p>Intentos por actividad:</p>
                                    <h3><%= attempts %></h3>

                                    <p>Actividades pasadas:</p>
                                    <h3><%= passed %></h3>

                                    <h1></h1>
                                    <a class="btn-post btn-red" href=<%=str%>>Ver estadísticas</a>
                                </div>
                            </div>
                        <% end %>
                    </div>

                    <div class="row">
                        <div class="category">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="102.609" height="72.122" viewBox="0 0 102.609 72.122">
                                    <path fill="#404041" d="M71.235 66.91l-19.93-10.478-19.929 10.478 3.806-22.189-16.122-15.718 22.28-3.236 9.964-20.19 9.966 20.19 22.278 3.236-16.12 15.717 3.807 22.19zm-19.93-12.738l17.273 9.081-3.299-19.23 13.973-13.623-19.31-2.804-8.638-17.5-8.636 17.5-19.31 2.804 13.973 13.623-3.299 19.23 17.273-9.081z"></path>
                                </svg>
                                <h3>Points</h3>
                                <br>
                            </div>
                            <div class="intro">

                                <p>Puntos obtenidos:</p>
                                <h3><%= score %></h3>

                            </div>
                        </div>

                        <!--
                        <div class="category">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="102.609" height="72.122"
                                     viewBox="0 0 102.609 72.122">
                                    <g fill="#333">
                                        <path d="M65.257 66.444h-27.907c-1.122 0-2.035-.914-2.035-2.036v-1.951c0-1.122.913-2.034 2.035-2.034h.471v-.054c0-1.123.913-2.036 2.035-2.036h5.101l2.125-24.448c-7.327-1.127-13.926-5.187-18.258-11.248-1.5-.775-11.313-6.027-12.299-11.384-.237-1.289-.032-2.332.608-3.102.711-.854 1.901-1.288 3.535-1.288 1.092 0 2.205.192 3.021.377l-.014-.642c0-.509.412-.92.921-.92h53.414c.509 0 .92.412.92.92l-.012.643c.816-.185 1.932-.378 3.022-.378 1.635 0 2.824.434 3.534 1.288.642.77.846 1.813.607 3.102-.985 5.359-10.808 10.614-12.301 11.385-4.332 6.062-10.929 10.12-18.254 11.247l2.126 24.448h5.097c1.122 0 2.034.913 2.034 2.036v.054h.473c1.122 0 2.036.912 2.036 2.034v1.951c.001 1.122-.913 2.036-2.035 2.036zm-27.907-4.18c-.105 0-.193.088-.193.192v1.951c0 .105.088.194.193.194h27.907c.104 0 .194-.089.194-.194v-1.951c0-.104-.09-.192-.194-.192h-1.394c-.509 0-.921-.413-.921-.921v-.975c0-.105-.088-.194-.192-.194h-5.942c-.477 0-.876-.365-.917-.842l-2.275-26.162c-.043-.495.315-.934.808-.994 7.264-.876 13.839-4.836 18.036-10.861.148-.211.371-.344.61-.382 3.138-1.625 10.495-6.169 11.202-10.015.135-.726.062-1.26-.211-1.589-.43-.516-1.39-.625-2.12-.625-1.349 0-2.802.363-3.411.535-.214.192-.515.279-.812.218-.449-.096-.759-.508-.725-.967l.013-.179.054-.792h-51.512l.054.782.013.184c.033.459-.278.872-.729.968-.294.062-.588-.023-.8-.212-.607-.171-2.063-.536-3.417-.536-.729 0-1.689.109-2.119.625-.274.329-.345.864-.212 1.589.713 3.871 8.149 8.442 11.256 10.042.219.04.419.16.557.358 4.198 6.024 10.772 9.981 18.036 10.858.493.06.85.499.807.994l-2.273 26.162c-.042.477-.44.842-.917.842h-5.945c-.105 0-.193.089-.193.194v.975c0 .508-.412.921-.921.921h-1.395zM28.609 18.786c-.139 0-.28-.032-.411-.097-2.447-1.221-8.137-4.38-8.137-7.333 0-.693.487-1.393 1.576-1.393 1.066 0 2.647.626 4.453 1.383.344.144.646.271.883.362.297.115.515.376.574.689.463 2.458.602 2.832 1.859 5.006.204.352.153.796-.126 1.092-.178.19-.422.291-.671.291zm-6.555-6.932c.424.821 1.764 2.186 4.392 3.776-.245-.665-.412-1.36-.614-2.395l-.454-.19c-.941-.395-2.421-1.015-3.324-1.191zM73.999 18.786c-.248 0-.493-.101-.671-.291-.279-.296-.329-.74-.126-1.092 1.259-2.174 1.397-2.548 1.859-5.006.06-.313.277-.574.574-.689.237-.091.539-.218.883-.362 1.806-.756 3.387-1.383 4.453-1.383 1.088 0 1.575.7 1.575 1.393 0 2.953-5.69 6.111-8.136 7.333-.13.065-.271.097-.411.097zm2.779-5.551c-.203 1.036-.368 1.73-.615 2.395 2.615-1.583 3.955-2.941 4.387-3.764-.949.186-2.394.791-3.318 1.179l-.454.19z"/>
                                    </g>
                                </svg>
                                <h3>Premios</h3>
                                <br/>
                            </div>
                            <div class="intro">
                                <h4>30</h4>

                                <p>Créditos</p>
                                <a class="btn-post btn-red" href="#">Redimir</a>
                            </div>
                        </div>
                        <div class="category">
                            <div class="icon">
                                <svg xmlns="http://www.w3.org/2000/svg" width="102.609" height="72.122"
                                     viewBox="0 0 102.609 72.122">
                                    <path d="M75.068 28.592c0-.541-.438-.98-.98-.98h-45.563c-.541 0-.981.439-.981.98 0 .54.44.98.981.98h45.562c.542.001.981-.44.981-.98zM43.712 58.684c.539 0 .979-.44.979-.98v-20.25c0-.542-.44-.982-.979-.982-.272 0-.516.11-.693.288l-5.064 5.063c-.381.381-.381 1.003 0 1.387.382.381 1.005.381 1.387 0l3.39-3.393v17.887c-.001.54.439.98.98.98zM61.43 38.434c.541 0 .979-.442.979-.982 0-.539-.438-.98-.979-.98h-10.125c-.542 0-.98.441-.98.98v10.125c0 .54.438.98.98.98h5.062c1.128 0 2.148.456 2.887 1.192l.005.004c.735.737 1.191 1.763 1.191 2.888 0 1.126-.456 2.147-1.191 2.888l-.005.003c-.738.734-1.759 1.191-2.887 1.191h-5.062c-.542 0-.98.44-.98.98s.438.98.98.98h5.062c1.664 0 3.176-.678 4.27-1.771l.003-.005c1.093-1.093 1.77-2.604 1.77-4.268 0-1.665-.677-3.177-1.77-4.27l-.003-.004c-1.094-1.093-2.605-1.77-4.27-1.77h-4.083v-8.164h9.146zM81.681 25.08c-.541 0-.979.439-.979.98v35.44c0 1.123-.461 2.145-1.2 2.884-.739.738-1.762 1.2-2.883 1.2h-50.626c-1.123 0-2.145-.462-2.884-1.2-.739-.739-1.2-1.761-1.2-2.884v-35.44c0-.541-.439-.98-.98-.98s-.98.439-.98.98v35.44c0 1.663.681 3.176 1.774 4.269 1.094 1.095 2.607 1.775 4.271 1.775h50.625c1.664 0 3.175-.681 4.269-1.775 1.094-1.093 1.774-2.605 1.774-4.269v-35.44c-.001-.541-.44-.98-.981-.98zM80.883 11.26l-.066-.06c-1.092-1.063-2.581-1.719-4.198-1.719h-6.699c-.54 0-.98.44-.98.98s.44.978.98.978h6.699c1.094 0 2.098.442 2.832 1.157l.047.051c.739.738 1.203 1.76 1.203 2.877v4.493h-58.793v-4.493c0-1.093.444-2.099 1.157-2.831l.05-.046c.742-.743 1.764-1.208 2.878-1.208h9.632v4.688c0 .54.44.98.98.98.541 0 .981-.44.981-.98v-10.572c0-.538-.44-.979-.981-.979-.54 0-.98.44-.98.979v3.927h-9.632c-1.658 0-3.168.685-4.264 1.778l-.062.067c-1.062 1.092-1.718 2.577-1.718 4.197v5.473c0 .541.439.98.98.98h60.751999999999995c.54 0 .98-.439.98-.98v-5.4719999999999995c0-1.662-.683-3.169-1.778-4.265zM40.523 11.44h24.5v4.688c0 .54.438.98.98.98.541 0 .98-.44.98-.98v-10.573c0-.538-.439-.979-.98-.979-.542 0-.98.44-.98.979v3.927h-24.5c-.541 0-.98.44-.98.98s.439.978.98.978z"/>
                                </svg>
                                <h3>Metas</h3>
                                <br/>
                            </div>
                            <div class="intro">
                                <h4>4</h4>

                                <p>Metas</p>
                                <a class="btn-post btn-red" href="#">Fijar</a>
                            </div>
                            -->
                        
                    </div>
                
                    <%= label_tag("stats-range", "Estadísticas Semanales, Mensuales o Anuales") %>
                    <%=form_tag "./profile", method: :get do %>
                        <%= label_tag("assigned", "Actividades Asignadas o No Asignadas") %>
                        <%= select_tag("assigned", options_for_select([['All','all'],['Not assigned','false'],['Assigned', 'true']], :selected => params["assigned"]), { style:"width:33%;" , name:"assigned", class:"form-control" }) %>
                        <br>
                        <%= select_tag("stats-range", options_for_select([['Año','año'],['Mes','mes'],['Semana', 'semana']], :selected => params["stats-range"]), { style:"width:33%;" , name:"stats-range", class:"form-control" }) %>
                        <%= content_tag :button, type: :submit, class: "btn-post" do%>
                            Cargar Estadísticas
                        <% end %>
                    <% end %>

                    <div id="stats">

                        <% if params["stats-range"] %>
                            <% if params["stats-range"] == "año" %>
                                <h2 class="page_title">Estadísticas del último año</h2>
                                <p></p>
                            <% elsif  params["stats-range"] == "semana" %>
                                <h2 class="page_title">Estadísticas de la última semana</h2>
                                <p></p>
                            <% elsif  params["stats-range"] == "mes" %>
                                <h2 class="page_title">Estadísticas del último mes</h2>
                                <p></p>
                            <% end %>
                        <% else %>
                            <h2 class="page_title">Estadísticas del último año</h2>
                            <p></p>
                        <% end %>
                           
                        <div id="stats-general">
                           <h2 class="stat-title">Estadísticas Generales</h2>
                           <div class="chart-container">
                                <canvas id="canvas_general"></canvas>
                           </div>
                        </div>
                        <a name="stats-general"></a>
                        <div id="stats-1">
                            <h2 class="stat-title"><svg xmlns="http://www.w3.org/2000/svg" width="102.61" height="72.122" viewBox="0 0 102.61 72.122"><g fill="#58595B"><path d="M46.01 20.166l-23.849-6.813c-.796-.227-1.626.233-1.854 1.03-.228.796.234 1.627 1.03 1.854l23.849 6.813c.138.04.276.058.413.058.652 0 1.253-.43 1.441-1.088.228-.796-.234-1.626-1.03-1.854zM46.01 26.924l-23.849-6.814c-.796-.228-1.626.233-1.854 1.03-.228.797.234 1.627 1.03 1.854l23.849 6.814c.138.039.276.058.413.058.652 0 1.253-.43 1.441-1.088.228-.796-.234-1.626-1.03-1.854zM46.01 33.682l-23.849-6.814c-.796-.228-1.626.233-1.854 1.03-.228.797.234 1.627 1.03 1.854l23.849 6.814c.138.039.276.058.413.058.652 0 1.253-.43 1.441-1.088.228-.796-.234-1.626-1.03-1.854zM46.01 40.44l-23.849-6.814c-.796-.226-1.626.233-1.854 1.03-.228.797.234 1.627 1.03 1.854l23.849 6.814c.138.039.276.059.413.059.652 0 1.253-.43 1.441-1.089.228-.796-.234-1.627-1.03-1.854zM46.01 47.198l-23.849-6.814c-.796-.228-1.626.232-1.854 1.029-.228.797.234 1.627 1.03 1.855l23.849 6.814c.138.039.276.058.413.058.652 0 1.253-.43 1.441-1.089.228-.796-.234-1.626-1.03-1.853zM46.01 53.956l-23.849-6.814c-.796-.228-1.626.232-1.854 1.029-.228.797.234 1.627 1.03 1.855l23.849 6.814c.138.039.276.058.413.058.652 0 1.253-.43 1.441-1.089.228-.796-.234-1.626-1.03-1.853zM89.116 12.72v-7.209l-37.454 7.096-37.441-7.464.001.374-.03-.006v7.068l-4.542.083v53.319h40.504v.311l1.5-.284 1.5.284v-.311h40.504v-53.39l-4.542.129zm-71.924 2.805l.075-.001-.028-6.382 32.915 6.235v47.294l-32.962-6.245v-40.901zm35.962-.141l32.808-6.055-.121 6.485.275-.008v40.62l-32.962 6.245v-47.287zm-40.505.224l1.542-.028v43.332l21.486 4.07h-23.028v-47.374zm78.009 47.374h-23.029l21.486-4.07v-43.19l1.542-.043v47.303zM81.147 13.353l-23.85 6.813c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.088 1.441 1.088.137 0 .275-.019.412-.058l23.85-6.813c.797-.228 1.258-1.058 1.03-1.854-.227-.798-1.06-1.258-1.854-1.03zM81.147 20.11l-23.85 6.814c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.088 1.441 1.088.137 0 .275-.019.412-.058l23.85-6.814c.797-.228 1.258-1.058 1.03-1.854s-1.06-1.258-1.854-1.03zM81.147 26.868l-23.85 6.814c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.088 1.441 1.088.137 0 .275-.019.412-.058l23.85-6.814c.797-.228 1.258-1.058 1.03-1.854s-1.06-1.259-1.854-1.03zM81.147 33.625l-23.85 6.814c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.089 1.441 1.089.137 0 .275-.02.412-.059l23.85-6.814c.797-.228 1.258-1.058 1.03-1.854s-1.06-1.256-1.854-1.03zM81.147 40.383l-23.85 6.814c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.089 1.441 1.089.137 0 .275-.019.412-.058l23.85-6.814c.797-.229 1.258-1.059 1.03-1.855s-1.06-1.258-1.854-1.03zM81.147 47.141l-23.85 6.814c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.089 1.441 1.089.137 0 .275-.019.412-.058l23.85-6.814c.797-.229 1.258-1.059 1.03-1.855s-1.06-1.258-1.854-1.03z"></path></g></svg>Reading</h2> 
                            
                            <div class="chart-container">
                                <canvas id="canvas_reading"></canvas>   
                            </div>
                        </div>
                                
                        <div id="stats-2">
                            <h2 class="stat-title"><svg xmlns="http://www.w3.org/2000/svg" width="102.61" height="72.122" viewBox="0 0 102.61 72.122"><g fill="#58595B"><path d="M40.875 39.989h-3.589l-.892 3.48h-2.72l4.416-15.335h2.153l4.438 15.335h-2.871l-.935-3.48zm-3.002-2.218h2.523l-.87-3.546-.348-2.393h-.087l-.37 2.415-.848 3.524zM56.493 31.767c0 .377-.041.75-.12 1.12-.08.37-.207.718-.381 1.044s-.402.613-.685.859c-.283.247-.62.435-1.012.565v.13c.348.087.678.218.989.392s.584.41.816.707c.231.297.416.66.555 1.087.138.428.206.932.206 1.512 0 .783-.134 1.461-.402 2.034-.269.573-.631 1.041-1.088 1.403-.456.362-.989.631-1.599.805-.608.174-1.254.261-1.936.261h-.783s-.663-.011-1.033-.032c-.37-.022-.75-.055-1.142-.098s-.755-.109-1.088-.196v-15.008c.479-.087 1.069-.163 1.772-.229s1.403-.098 2.1-.098c.638 0 1.251.051 1.838.152.587.102 1.102.291 1.544.565.442.276.794.657 1.056 1.142.262.488.393 1.115.393 1.883zm-5.33 2.936c.16 0 .345-.011.555-.032.211-.022.381-.047.512-.076.42-.16.779-.42 1.076-.783.298-.362.446-.833.446-1.414 0-.376-.051-.696-.152-.957-.102-.261-.239-.467-.413-.62s-.381-.261-.62-.326-.497-.098-.772-.098c-.595 0-1.015.029-1.261.087v4.22h.629zm.74 6.613c.608 0 1.109-.196 1.501-.587s.587-.964.587-1.718c0-.479-.065-.859-.195-1.142-.131-.283-.305-.5-.522-.652-.218-.152-.468-.25-.75-.294-.283-.043-.577-.065-.882-.065h-1.108v4.329c.115.043.315.076.598.098.282.02.539.031.771.031zM69.261 42.86c-.378.319-.881.551-1.512.696-.631.145-1.259.218-1.882.218-.783 0-1.512-.134-2.186-.402-.675-.269-1.266-.714-1.773-1.338s-.906-1.443-1.196-2.458c-.29-1.015-.435-2.262-.435-3.741 0-1.537.163-2.813.489-3.828s.754-1.824 1.283-2.425 1.135-1.026 1.816-1.272 1.37-.37 2.066-.37c.71 0 1.33.058 1.859.174s.961.247 1.295.391l-.544 2.415c-.276-.145-.599-.257-.969-.337-.369-.08-.808-.12-1.315-.12-1.001 0-1.77.435-2.306 1.305-.537.87-.805 2.233-.805 4.089 0 .798.062 1.526.185 2.186.123.66.319 1.229.588 1.708.268.479.608.849 1.021 1.109.414.261.91.392 1.49.392.508 0 .942-.068 1.306-.207.362-.138.688-.301.979-.489l.546 2.304zM23.192 64.697c-.688 0-1.131-.261-1.381-.479-.688-.599-1.827-1.592 1.909-11.585-4.695-4.888-7.27-10.945-7.27-17.156 0-15.467 15.635-28.051 34.854-28.051s34.854 12.584 34.854 28.051-15.635 28.05-34.853 28.05c-6.197 0-12.26-1.322-17.59-3.83-2.896 1.792-8.384 5-10.523 5zm28.113-54.272c-17.564 0-31.854 11.238-31.854 25.051 0 5.778 2.441 11.21 7.061 15.709l.453.442v.91l-.109.286c-1.47 3.844-2.397 6.99-2.683 8.599 1.873-.727 5.588-2.778 8.652-4.705l.714-.448.754.376c5.097 2.54 10.979 3.882 17.012 3.882 17.564 0 31.854-11.238 31.854-25.051s-14.29-25.051-31.854-25.051z"></path></g></svg>Vocabulary</h2> 
                            <div class="chart-container">
                                <canvas id="canvas_vocabulary"></canvas>
                            </div>
                        </div>
                                
                        <div id="stats-3">
                            <h2 class="stat-title"><svg xmlns="http://www.w3.org/2000/svg" width="102.61" height="72.122" viewBox="0 0 102.61 72.122"><g fill="#58595B"><path d="M51.305 63.818c-15.306 0-27.757-12.452-27.757-27.758 0-15.304 12.452-27.756 27.757-27.756 15.305 0 27.757 12.452 27.757 27.757 0 15.305-12.452 27.757-27.757 27.757zm0-52.514c-13.651 0-24.757 11.106-24.757 24.757 0 13.651 11.106 24.758 24.757 24.758 13.651 0 24.757-11.106 24.757-24.758 0-13.651-11.106-24.757-24.757-24.757zM43.855 51.704v-30.596l23.489 15.298-23.489 15.298zm3-25.061v19.527l14.992-9.764-14.992-9.763z"></path></g></svg>Media </h2> 
                            <div class="chart-container">
                                <canvas id="canvas_media"></canvas>
                            </div>
                        </div>      
                    </div>
                </div>
            </div>

        </div>

        <script>

            function transparentize(color, opacity) {
                var alpha = opacity === undefined? 0.5 : 1 - opacity;
                return Chart.helpers.color(color).alpha(alpha).rgbString();
            }

            var range = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            <% if params["stats-range"] %>
                <% if params["stats-range"] == "año" %>
                    range = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                <% elsif params["stats-range"] == "semana" %>
                    range = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]
                <% elsif params["stats-range"] == "mes" %>
                    var d = new Date();
                    var n = d.getDate();
                    range = Array(n).fill().map((e,i)=>i+1);
                <% end %>
            <% end %>

            var config_general = {
                type: 'line',
                data: {
                    labels: range,
                    datasets: [{
                        label: "Actividades intentadas",
                        backgroundColor: transparentize('#45c1ea',0.8),
                        borderColor: '#45c1ea',
                        data: <%=@arreglo_general[0]%>,
                        fill: true,
                    }, {
                        label: "Actividades aprobadas",
                        backgroundColor: transparentize('#8ec75d',0.8),
                        borderColor: '#8ec75d',
                        data: <%=@arreglo_general[1]%>,
                        fill: true,
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    } 
                }
            };

            var config_reading = {
                type: 'line',
                data: {
                    labels: range,
                    datasets: [{
                        label: "Preguntas respondidas",
                        backgroundColor: transparentize('#45c1ea',0.8),
                        borderColor: '#45c1ea',
                        data: <%=@arreglo_category_reading[0]%>,
                        fill: true,
                    }, {
                        label: "Respuestas correctas",
                        backgroundColor: transparentize('#8ec75d',0.8),
                        borderColor: '#8ec75d',
                        data: <%=@arreglo_category_reading[1]%>,
                        fill: true,
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            };

            var config_vocabulary = {
                type: 'line',
                data: {
                    labels: range,
                    datasets: [{
                        label: "Preguntas respondidas",
                        backgroundColor: transparentize('#45c1ea',0.8),
                        borderColor: '#45c1ea',
                        data: <%=@arreglo_category_vocabulary[0]%>,
                        fill: true,
                    }, {
                        label: "Respuestas correctas",
                        backgroundColor: transparentize('#8ec75d',0.8),
                        borderColor: '#8ec75d',
                        data: <%=@arreglo_category_vocabulary[1]%>,
                        fill: true,
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            };

            var config_media = {
                type: 'line',
                data: {
                    labels: range,
                    datasets: [{
                        label: "Preguntas respondidas",
                        backgroundColor: transparentize('#45c1ea',0.8),
                        borderColor: '#45c1ea',
                        data: <%=@arreglo_category_media[0]%>,
                        fill: true,
                    }, {
                        label: "Respuestas correctas",
                        backgroundColor: transparentize('#8ec75d',0.8),
                        borderColor: '#8ec75d',
                        data: <%=@arreglo_category_media[1]%>,
                        fill: true,
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            };

            $(document).ready(function() {
                var ctx_general = document.getElementById("canvas_general").getContext("2d");
                window.myLine = new Chart(ctx_general, config_general);

                var ctx_reading = document.getElementById("canvas_reading").getContext("2d");
                window.myLine = new Chart(ctx_reading, config_reading);

                var ctx_vocabulary = document.getElementById("canvas_vocabulary").getContext("2d");
                window.myLine = new Chart(ctx_vocabulary, config_vocabulary);

                var ctx_media = document.getElementById("canvas_media").getContext("2d");
                window.myLine = new Chart(ctx_media, config_media);
            });

        </script>

    </main>
</div>

<% if current_auth_user.auth_groups.where("group_id = '4'").present? %>
    <script>
      $("#grid").kendoGrid({
        toolbar: ["excel"],
        excel: {
            fileName: "Groups.xlsx"
        },
        dataSource: {
          transport: {
            read: {
              url: "/current_groups",
              type: "get",
              dataType: "json",
            }
          },
          schema: {
            data: "groups",
            total: function (data) {
                return data.total;
            }
          }
        },
        groupable: true,
        sortable: true,
        pageable: {
            pageSize: 10,
            refresh: true,
            pageSizes: true,
            buttonCount: 5
        },
        columns: [
          {
            template: '<a href="/students_in_group/#:data.code#">#:data.group#</a>',
            field: "group",
            title: "Name",
          }/* quitado boton de acceso al grupo ya que dando click sobre el nombre también se genera la funcionalidad,
          {   
            template: '<a href="/students_in_group/#:data.code#"><i class="glyphicon btn-primary glyphicon-send"></i></a>',
            title: "View students",
          }*/
        ]
      });
    </script>
<% end %>

<script>
(function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

ga('create', 'UA-57877027-6', 'auto');
ga('send', 'pageview');

</script>