<% content_for :title, " - Reports" %>
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<style type="text/css">
  select {
    max-width: 113%;
    height: auto !important;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    background-color: #c4c9cc;
    color: #fff;
    font-size: 18px;
    line-height: 16px !important;
    -moz-appearance: none;
    font-family: 'PT Sans', sans-serif;
  }}
</style>

<main id="main">
  
  <div class="container">
    <%= render 'modules/sidebar' %>
    <div class="main_l">
      <h2 class="page_title">Administrador institucional</h2>

        <h2>Generación de reportes</h2>
        <% if @institution.present? %>
          <div style="width: 45%;display: inline-block;">
            <label for="">Filtro:</label>
            <%= select_tag(:filter, options_for_select([['Profesores', 1],['Grupos', 2],['Alumnos', 3]])) %>
          </div>

          <div style="width: 45%;display: inline-block;">
            <label for="">Concepto:</label>
            <%= select_tag(:concept, options_for_select(@teachers.collect{ |u| [ u.first_name.to_s + " " + u.last_name.to_s, u.id] })) %>
          </div>

          <br><br> 

          <div style="width: 45%;display: inline-block;">
            <label for="">Desde:</label>
            <input class="form-control" id="startDate" name="birthday" type="date" onchange="updateLink();">
          </div>

          <div style="width: 45%;display: inline-block;">
            <label for="">Hasta:</label>
            <input class="form-control" id="endDate" name="birthday" type="date" onchange="updateLink();">
          </div>

          <br><br>

          <a id="report" href="http://52.89.58.105:8080/birt/run?__format=xlsx&__report=reporte_asignadas_por_estudiante.rptdesign&user=<%=@teachers.first.id%>" target="_blank">
          <button type="submit" class="btn-post">Exportar a excel</button>
          </a>
          <a id="report_chart" href="http://52.89.58.105:8080/birt/run?__format=pdf&__report=chart_ass_exc.rptdesign&Group=" target="_blank" style="display: none;">
          <button type="submit" class="btn-post">Exportar gráfica a pdf</button>
          </a>

          <h2> Listas de grupos por profesores </h2>
          <% @teacher_paginate.each do |teacher| %>
            <h4>Grupos de <%=teacher.first_name.to_s + " " + teacher.last_name.to_s%></h4>
            <div id="grid-<%=teacher.id%>"></div>
            <script type="text/javascript">
              $("#grid-<%=teacher.id%>").kendoGrid({
                toolbar: ["excel"],
                excel: {
                    fileName: "Groups.xlsx"
                },
                dataSource: {
                  transport: {
                    read: {
                      url: "/current_groups_by_id/<%=teacher.id%>",
                      type: "get",
                      dataType: "json",
                    }
                  },
                  schema: {
                    data: "groups",
                    total: function (data) {
                      return data.total;
                    }
                  }
                },
                groupable: true,
                sortable: true,
                pageable: {
                  pageSize: 10,
                  refresh: true,
                  pageSizes: true,
                  buttonCount: 5
                },
                columns: [
                  {
                    template: '<a href="/students_in_group/#:data.code#">#:data.group#</a>',
                    field: "group",
                    title: "Name",
                  },
                  {   
                    field: "active",
                    title: "Users Active",
                  },
                  {   
                    field: "inactive",
                    title: "Users Inactive",
                  },
                  {   
                    field: "total",
                    title: "Total Users",
                  }
                ]
              }); 
            </script>
            <br>
          <% end %>

          <center><%= paginate @teacher_paginate, theme:"admin"%></center>
          
        <% else %>
          Usted no se encuentra afiliado a ninguna institución, por lo tanto no podrá administrar reportes.
        <% end %>

    </div>
  </div>

</main>

<script type="text/javascript">
  function updateLink(){
    if(document.getElementById('startDate').value != "")
      start = "&startDate="+document.getElementById('startDate').value;
    else
      start = "";
    
    if(document.getElementById('endDate').value != "")
      end = "&endDate="+document.getElementById('endDate').value;
    else
      end = "";
    
    if ($('#filter').val() == 2){

      document.getElementById("report").href=encodeURI("http://52.89.58.105:8080/birt/run?__format=xlsx&__report=report.rptdesign&superUser=false&Group="+$('#concept').val()+start+end);
    
      document.getElementById("report_chart").href=encodeURI("http://52.89.58.105:8080/birt/run?__format=pdf&__report=chart_ass_exc.rptdesign&Group="+$('#concept').val()+start+end);

    } else {

      document.getElementById("report").href=encodeURI("http://52.89.58.105:8080/birt/run?__format=xlsx&__report=reporte_asignadas_por_estudiante.rptdesign&user="+$('#concept').val()+start+end);

    }

  }
</script>

<script type="text/javascript">

  $('#filter').on('change', function() {

    if(document.getElementById('startDate').value != "")
      start = "&startDate="+document.getElementById('startDate').value;
    else
      start = "";
    
    if(document.getElementById('endDate').value != "")
      end = "&endDate="+document.getElementById('endDate').value;
    else
      end = "";

    if (this.value == 1){

      $("#report_chart").hide('1000');

      $('#concept').html("<%= escape_javascript options_from_collection_for_select(AuthUser.joins(:latamusers_students_teacher, :auth_groups).where('"latamusers_student"."institution_id" = ? AND "auth_group"."id" = ?', @institution.id, 4).group('"auth_users"."id"').order('"auth_users"."date_joined" desc'), :id, :username) %>");

      document.getElementById("report").href=encodeURI("http://52.89.58.105:8080/birt/run?__format=xlsx&__report=reporte_asignadas_por_estudiante.rptdesign&user="+$('#concept').val()+start+end);

    } else if (this.value == 2) {

      $("#report_chart").show('1000');

      $('#concept').html("<%= escape_javascript options_from_collection_for_select(LatamusersUsergroup.joins(:latamusers_students).where('"latamusers_student"."institution_id" = ?',@institution.id).group('"latamusers_usergroups"."code"'), :identificador, :name) %>");

      document.getElementById("report").href=encodeURI("http://52.89.58.105:8080/birt/run?__format=xlsx&__report=report.rptdesign&superUser=false&Group="+$('#concept').val()+start+end);
    
      document.getElementById("report_chart").href=encodeURI("http://52.89.58.105:8080/birt/run?__format=pdf&__report=chart_ass_exc.rptdesign&Group="+$('#concept').val()+start+end);

    } else if (this.value == 3) {

      $("#report_chart").hide('1000');

      $('#concept').html("<%= escape_javascript options_from_collection_for_select(AuthUser.joins(:latamusers_students).where('"latamusers_student"."institution_id" = ?', @institution.id).group('"auth_users"."id"'), :id, :username) %>");

      document.getElementById("report").href=encodeURI("http://52.89.58.105:8080/birt/run?__format=xlsx&__report=reporte_asignadas_por_estudiante.rptdesign&user="+$('#concept').val()+start+end);

    }

  });

  $('#concept').on('change', function() {
    if(document.getElementById('startDate').value != "")
      start = "&startDate="+document.getElementById('startDate').value;
    else
      start = "";
    
    if(document.getElementById('endDate').value != "")
      end = "&endDate="+document.getElementById('endDate').value;
    else
      end = "";

    if ($('#filter').val() == 1){

      document.getElementById("report").href=encodeURI("http://52.89.58.105:8080/birt/run?__format=xlsx&__report=reporte_asignadas_por_estudiante.rptdesign&user="+this.value+start+end);
      
    } else if ($('#filter').val() == 2) {

      document.getElementById("report").href=encodeURI("http://52.89.58.105:8080/birt/run?__format=xlsx&__report=report.rptdesign&superUser=false&Group="+this.value+start+end);
    
      document.getElementById("report_chart").href=encodeURI("http://52.89.58.105:8080/birt/run?__format=pdf&__report=chart_ass_exc.rptdesign&Group="+this.value+start+end);

    } else if ($('#filter').val() == 3) {

      document.getElementById("report").href=encodeURI("http://52.89.58.105:8080/birt/run?__format=xlsx&__report=reporte_asignadas_por_estudiante.rptdesign&user="+this.value+start+end);

    }
  });

</script>