<% content_for :title, " - Students in group" %>

<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<main id="main">     
<div class="container">
<%= render 'modules/sidebar' %>
<div class="main_l">
    <h2 class="page_title">Students in <%=@name_group%></h2>
    <div style="border-style: solid hidden;border-width: 1px;padding-left: 7pt;">
	   <h3 style="width: 30%;display: inline-block;">Export reports</h3>
  	 <div style="width: 30%;display: inline-block;">
        <label for="">Desde:</label>
        <input class="form-control" id="startDate" name="birthday" type="date" onchange="updateLink();">
     </div>
	   <div style="width: 30%;display: inline-block;">
        <label for="">Hasta:</label>
        <input class="form-control" id="endDate" name="birthday" type="date" onchange="updateLink();">
     </div>
        <a id="report" href="http://52.89.58.105:8080/birt/run?__format=xlsx&amp;__report=report.rptdesign&amp;superUser=false&amp;Group=<%=LatamusersUsergroup.find(params[:code]).identificador%>" target="blank">
        <button type="submit" class="btn-post">Exportar a excel</button>
        </a>
        <a id="report_chart" href="http://52.89.58.105:8080/birt/run?__format=pdf&amp;__report=chart_ass_exc.rptdesign&amp;Group=<%=LatamusersUsergroup.find(params[:code]).identificador%>" target="blank">
  	   	<button type="submit" class="btn-post">Exportar gráfica a pdf</button>
  	   	</a>
 	   </div>

   	<script type="text/javascript">
   		function updateLink(){
   			if(document.getElementById('startDate').value != "")
   				start = "&startDate="+document.getElementById('startDate').value;
   			else
   				start = "";
   			
   			if(document.getElementById('endDate').value != "")
   				end = "&endDate="+document.getElementById('endDate').value;
   			else
   				end = "";
   			
        document.getElementById("report").href="http://52.89.58.105:8080/birt/run?__format=xlsx&__report=report.rptdesign&superUser=false&Group=<%=LatamusersUsergroup.find(params[:code]).identificador%>"
        +start+end;
   			
        document.getElementById("report_chart").href="http://52.89.58.105:8080/birt/run?__format=pdf&__report=chart_ass_exc.rptdesign&Group=<%=LatamusersUsergroup.find(params[:code]).identificador%>"
   			+start+end;
   		}
   	</script>

      <div id="example">
        <div id="grid"></div>
      </div>

      <p class="blockquote-reverse"> Page 1 of 1</p>        
      <a href="/create-group/" class="btn-post">Back To Groups</a>

    </div>
</div>

</div>
</b></div><b>    
</b></main>

<script>
  $("#grid").kendoGrid({
    toolbar: ["excel"],
    excel: {
        fileName: "Students.xlsx"
    },
    dataSource: {
      transport: {
        read: {
          <% url = "/current_students_in_group/" + params[:code].to_s %>
          url: "<%=url%>",
          type: "get",
          dataType: "json",
        }
      },
      schema: {
        data: "students",
        total: function (data) {
          return data.total;
        }
      }
    },
    groupable: true,
    sortable: true,
    pageable: {
      pageSize: 10,
      refresh: true,
      pageSizes: true,
      buttonCount: 5
    },
    columns: [
      {
        field: "first_name",
        title: "First name"
      },
      {   
        field: "last_name",
        title: "Last name",
      },
      {   
        field: "total_score",
        title: "Score",
      },
      {   
        template: "<p>#:data.reading# %</p>",
        field: "reading",
        title: "Reading score",
      },
      {   
        template: "<p>#:data.vocabulary# %</p>",
        field: "vocabulary",
        title: "Vocabulary score",
      },
      {   
        template: "<p>#:data.media# %</p>",
        field: "media",
        title: "Media score",
      },
      { 
        template: '<a href="/student_activities/#:data.id#" class="btn btn-default btn-xs"><i class="glyphicon btn-primary glyphicon-send"></i></a>',
        title: "View activities",
      }
    ]
  });
</script>