<% content_for :title, " - Students with sequence" %>

<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>
<main id="main">
        
<div class="container">
<%= render "modules/sidebar" %>
<div class="main_l">
<h2 class="page_title">Students in Sequence</h2>

<div id="example">
  <div id="grid"></div>
</div>
   
<a href="/create-sequence/" class="btn-post">Back To Sequence Management</a>

</div>
</b></div><b>    
</b></main>

<script>
  var regex = /<br\s*[\/]?>/gi;
  $("#grid").kendoGrid({
    toolbar: ["excel"],
    excel: {
        fileName: "Students_in_sequence.xlsx"
    },
    dataSource: {
      transport: {
        read: {
          url: "/current_students_in_sequence/"+<%=params[:id]%>,
          type: "get",
          dataType: "json",
        }
      },
      schema: {
        data: "students",
        total: function (data) {
          return data.total;
        }
      }
    },
    groupable: true,
    sortable: true,
    pageable: {
      pageSize: 10,
      refresh: true,
      pageSizes: true,
      buttonCount: 5
    },
    columns: [
      {
        //template: '<a href="/student_sequences/#:data.id#">#:data.username#</a>',
        field: "username",
        title: "Username",
      },
      {   
        field: "group",
        title: "Group",
      },
      {
        field: "first_name",
        title: "First name"
      },
      {   
        field: "last_name",
        title: "Last name",
      },
      {   
        field: "media",
        title: "Media approval",
      },
      {   
        field: "vocabulary",
        title: "Vocabulary approval",
      },
      {   
        field: "reading",
        title: "Reading approval",
      },
      { 
        field: "status",
        encoded: false,
        title: "Current progress",
        width: "250px",
      }
    ]
  });
</script>
