<% content_for :title, " - Students with activity" %>

<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<main id="main">
        
<div class="container">
<%= render "modules/sidebar" %>
<div class="main_l">
<h2 class="page_title">Students In Activity</h2>

<div id="example">
  <div id="grid"></div>
</div>
   
<a href="/create-activity/" class="btn-post">Back To Activity Management</a>

</div>
</b></div><b>    
</b></main>
<script>
  $("#grid").kendoGrid({
    toolbar: ["excel"],
    excel: {
        fileName: "Students_in_activity.xlsx"
    },
    dataSource: {
      transport: {
        read: {
          url: "/current_students_in_activity/"+<%=params[:id]%>,
          type: "get",
          dataType: "json",
        }
      },
      schema: {
        data: "students",
        total: function (data) {
          return data.total;
        }
      }
    },
    groupable: true,
    sortable: true,
    pageable: {
      pageSize: 10,
      refresh: true,
      pageSizes: true,
      buttonCount: 5
    },
    columns: [
      {
        template: '<a href="/student_activities/#:data.id#">#:data.username#</a>',
        field: "username",
        title: "Username",
      },
      {   
        field: "group",
        title: "Group",
      },
      {
        field: "first_name",
        title: "First name"
      },
      {   
        field: "last_name",
        title: "Last name",
      },
      { 
        template: '<a href="/student_activities/#:data.id#" class="btn btn-default btn-xs"><i class="glyphicon btn-primary glyphicon-send"></i></a>',
        title: "View activities",
      }
    ]
  });
</script>