<% content_for :title, " - Students assignation" %>
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<main id="main">

<div class="container">
<%= render "modules/sidebar" %>
<div class="main_l">
<h2 class="page_title">Students assignation to groups </h2>

<form action="/create_student_group" method="post">
   <input type="hidden" name="csrfmiddlewaretoken" value="PuwofTfbd52FulJaPrscWtdb1D0g8c7V">
   
      <label> Select students </label>
      <div id="example">
        <div id="grid"></div>
      </div>
      
    <p class="blockquote-reverse"> Page 1 of 1</p>   
      <label>Select Group</label>
      <select class="form-control" style="width:30%" name="group-select"> 
            <% @groups.each do |group| %>
                <option value="<%=group.code%>"><%=group.name%></option>
            <% end %>
      </select>
   
   <button type="submit" class="btn-post" name="assign-students">Assign students to group</button>
   </form>

</div>
</b></div><b>
</b></main>
<script>
  $("#grid").kendoGrid({
    toolbar: ["excel"],
    excel: {
        fileName: "Students.xlsx"
    },
    dataSource: {
      transport: {
        read: {
          url: "/current_students",
          type: "get",
          dataType: "json",
        }
      },
      schema: {
        data: "students",
        total: function (data) {
          return data.total;
        }
      }
    },
    groupable: true,
    sortable: true,
    pageable: {
      pageSize: 10,
      refresh: true,
      pageSizes: true,
      buttonCount: 5
    },
    columns: [
      {
        template: '<input type="checkbox" name="students-checkboxes[]" value="#:data.id#">',
        title: "Select",
      },
      {   
        field: "group",
        title: "Group",
      },
      {
        field: "first_name",
        title: "First name"
      },
      {   
        field: "last_name",
        title: "Last name",
      },
      {
        field: "total_score",
        title: "Total score",
      },
      { 
        template: '<a href="/student_activities/#:data.id#" class="btn btn-default btn-xs"><i class="glyphicon btn-primary glyphicon-send"></i></a>',
        title: "View activities",
      }
    ]
  });
</script>