<% content_for :title, " - Students activities" %>
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.common.min.css" />
<link rel="stylesheet" href="
https://kendo.cdn.telerik.com/2017.2.621/styles/kendo.material.min.css" />
<script src="https://kendo.cdn.telerik.com/2017.2.621/js/kendo.all.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/2.4.0/jszip.min.js"></script>

<main id="main">
        
<div class="container">

<%= render "modules/sidebar" %>

<div class="main_l">
    <h2 class="page_title"> <%=if @student.first_name.present? then @student.first_name else '' end%> <%=if @student.last_name.present? then @student.last_name else '' end%>'s Activities</h2>

    <% totalScore = 0 %>
    <% totalPossibleScore = 0 %>

    <% @assigned_activities.each do |activity_assinged| %>
        <% totalScore = totalScore + activity_assinged.score %>
        <% totalPossibleScore = totalPossibleScore + activity_assinged.possibleScore %>
    <% end %>

    <h3>Total score: <%=totalScore%>/<%=totalPossibleScore%></h3>

   	<a href="http://52.89.58.105:8080/birt/run?__format=xlsx&amp;__report=reporte_asignadas_por_estudiante.rptdesign&amp;&user=<%=params[:id].gsub(' ','%20%')%>" target="blank">
   	<button type="submit" class="btn-post">Exportar a excel</button>
   	</a>
   
   <div id="example">
        <div id="grid"></div>
    </div>
   
   <a href="<%=students_in_group_path(@student.latamusers_students.first.group_id)%>" class="btn-post">Back To Students</a>
   
            <%=form_tag "./"+@student.id.to_s, method: :get do %>
              <%= label_tag("assigned", "Actividades Asignadas o No Asignadas") %>
              <%= select_tag("assigned", options_for_select([['All','all'],['Not assigned','false'],['Assigned', 'true']], :selected => params["assigned"]), { style:"width:33%;" , name:"assigned", class:"form-control" }) %>
              <br>
              <%= label_tag("stats-range", "Estadísticas Semanales, Mensuales o Anuales") %>
              <%= select_tag("stats-range", options_for_select([['Año','año'],['Mes','mes'],['Semana', 'semana']], :selected => params["stats-range"]), { style:"width:33%;" , name:"stats-range", class:"form-control" }) %>
              <%= content_tag :button, type: :submit, class: "btn-post" do%>
                  Cargar Estadísticas
              <% end %>
            <% end %>

            <div class="row ng-scope" id="stats">

                <% if params["stats-range"] %>
                    <% if params["stats-range"] == "año" %>
                        <h2 class="page_title">Estadísticas del último año</h2>
                        <p></p>
                    <% elsif  params["stats-range"] == "semana" %>
                        <h2 class="page_title">Estadísticas de la última semana</h2>
                        <p></p>
                    <% elsif  params["stats-range"] == "mes" %>
                        <h2 class="page_title">Estadísticas del último mes</h2>
                        <p></p>
                    <% end %>
                <% else %>
                    <h2 class="page_title">Estadísticas del último año</h2>
                    <p></p>
                <% end %>
                   
                <div class="stats ng-scope" id="stats-general">
                   <h2 class="stat-title">Estadísticas Generales</h2>
                   <div class="chart-container">
                        <canvas id="canvas_general"></canvas>
                   </div>
                </div>
                <a name="stats-general"></a>
                <div class="stats ng-scope" id="stats-1">
                    <h2 class="stat-title"><svg xmlns="http://www.w3.org/2000/svg" width="102.61" height="72.122" viewBox="0 0 102.61 72.122"><g fill="#58595B"><path d="M46.01 20.166l-23.849-6.813c-.796-.227-1.626.233-1.854 1.03-.228.796.234 1.627 1.03 1.854l23.849 6.813c.138.04.276.058.413.058.652 0 1.253-.43 1.441-1.088.228-.796-.234-1.626-1.03-1.854zM46.01 26.924l-23.849-6.814c-.796-.228-1.626.233-1.854 1.03-.228.797.234 1.627 1.03 1.854l23.849 6.814c.138.039.276.058.413.058.652 0 1.253-.43 1.441-1.088.228-.796-.234-1.626-1.03-1.854zM46.01 33.682l-23.849-6.814c-.796-.228-1.626.233-1.854 1.03-.228.797.234 1.627 1.03 1.854l23.849 6.814c.138.039.276.058.413.058.652 0 1.253-.43 1.441-1.088.228-.796-.234-1.626-1.03-1.854zM46.01 40.44l-23.849-6.814c-.796-.226-1.626.233-1.854 1.03-.228.797.234 1.627 1.03 1.854l23.849 6.814c.138.039.276.059.413.059.652 0 1.253-.43 1.441-1.089.228-.796-.234-1.627-1.03-1.854zM46.01 47.198l-23.849-6.814c-.796-.228-1.626.232-1.854 1.029-.228.797.234 1.627 1.03 1.855l23.849 6.814c.138.039.276.058.413.058.652 0 1.253-.43 1.441-1.089.228-.796-.234-1.626-1.03-1.853zM46.01 53.956l-23.849-6.814c-.796-.228-1.626.232-1.854 1.029-.228.797.234 1.627 1.03 1.855l23.849 6.814c.138.039.276.058.413.058.652 0 1.253-.43 1.441-1.089.228-.796-.234-1.626-1.03-1.853zM89.116 12.72v-7.209l-37.454 7.096-37.441-7.464.001.374-.03-.006v7.068l-4.542.083v53.319h40.504v.311l1.5-.284 1.5.284v-.311h40.504v-53.39l-4.542.129zm-71.924 2.805l.075-.001-.028-6.382 32.915 6.235v47.294l-32.962-6.245v-40.901zm35.962-.141l32.808-6.055-.121 6.485.275-.008v40.62l-32.962 6.245v-47.287zm-40.505.224l1.542-.028v43.332l21.486 4.07h-23.028v-47.374zm78.009 47.374h-23.029l21.486-4.07v-43.19l1.542-.043v47.303zM81.147 13.353l-23.85 6.813c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.088 1.441 1.088.137 0 .275-.019.412-.058l23.85-6.813c.797-.228 1.258-1.058 1.03-1.854-.227-.798-1.06-1.258-1.854-1.03zM81.147 20.11l-23.85 6.814c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.088 1.441 1.088.137 0 .275-.019.412-.058l23.85-6.814c.797-.228 1.258-1.058 1.03-1.854s-1.06-1.258-1.854-1.03zM81.147 26.868l-23.85 6.814c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.088 1.441 1.088.137 0 .275-.019.412-.058l23.85-6.814c.797-.228 1.258-1.058 1.03-1.854s-1.06-1.259-1.854-1.03zM81.147 33.625l-23.85 6.814c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.089 1.441 1.089.137 0 .275-.02.412-.059l23.85-6.814c.797-.228 1.258-1.058 1.03-1.854s-1.06-1.256-1.854-1.03zM81.147 40.383l-23.85 6.814c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.089 1.441 1.089.137 0 .275-.019.412-.058l23.85-6.814c.797-.229 1.258-1.059 1.03-1.855s-1.06-1.258-1.854-1.03zM81.147 47.141l-23.85 6.814c-.796.228-1.258 1.058-1.029 1.854.188.659.789 1.089 1.441 1.089.137 0 .275-.019.412-.058l23.85-6.814c.797-.229 1.258-1.059 1.03-1.855s-1.06-1.258-1.854-1.03z"></path></g></svg>Reading</h2> 
                    
                    <div class="chart-container">
                        <canvas id="canvas_reading"></canvas>   
                    </div>
                </div>
                        
                <div class="stats ng-scope" id="stats-2">
                    <h2 class="stat-title"><svg xmlns="http://www.w3.org/2000/svg" width="102.61" height="72.122" viewBox="0 0 102.61 72.122"><g fill="#58595B"><path d="M40.875 39.989h-3.589l-.892 3.48h-2.72l4.416-15.335h2.153l4.438 15.335h-2.871l-.935-3.48zm-3.002-2.218h2.523l-.87-3.546-.348-2.393h-.087l-.37 2.415-.848 3.524zM56.493 31.767c0 .377-.041.75-.12 1.12-.08.37-.207.718-.381 1.044s-.402.613-.685.859c-.283.247-.62.435-1.012.565v.13c.348.087.678.218.989.392s.584.41.816.707c.231.297.416.66.555 1.087.138.428.206.932.206 1.512 0 .783-.134 1.461-.402 2.034-.269.573-.631 1.041-1.088 1.403-.456.362-.989.631-1.599.805-.608.174-1.254.261-1.936.261h-.783s-.663-.011-1.033-.032c-.37-.022-.75-.055-1.142-.098s-.755-.109-1.088-.196v-15.008c.479-.087 1.069-.163 1.772-.229s1.403-.098 2.1-.098c.638 0 1.251.051 1.838.152.587.102 1.102.291 1.544.565.442.276.794.657 1.056 1.142.262.488.393 1.115.393 1.883zm-5.33 2.936c.16 0 .345-.011.555-.032.211-.022.381-.047.512-.076.42-.16.779-.42 1.076-.783.298-.362.446-.833.446-1.414 0-.376-.051-.696-.152-.957-.102-.261-.239-.467-.413-.62s-.381-.261-.62-.326-.497-.098-.772-.098c-.595 0-1.015.029-1.261.087v4.22h.629zm.74 6.613c.608 0 1.109-.196 1.501-.587s.587-.964.587-1.718c0-.479-.065-.859-.195-1.142-.131-.283-.305-.5-.522-.652-.218-.152-.468-.25-.75-.294-.283-.043-.577-.065-.882-.065h-1.108v4.329c.115.043.315.076.598.098.282.02.539.031.771.031zM69.261 42.86c-.378.319-.881.551-1.512.696-.631.145-1.259.218-1.882.218-.783 0-1.512-.134-2.186-.402-.675-.269-1.266-.714-1.773-1.338s-.906-1.443-1.196-2.458c-.29-1.015-.435-2.262-.435-3.741 0-1.537.163-2.813.489-3.828s.754-1.824 1.283-2.425 1.135-1.026 1.816-1.272 1.37-.37 2.066-.37c.71 0 1.33.058 1.859.174s.961.247 1.295.391l-.544 2.415c-.276-.145-.599-.257-.969-.337-.369-.08-.808-.12-1.315-.12-1.001 0-1.77.435-2.306 1.305-.537.87-.805 2.233-.805 4.089 0 .798.062 1.526.185 2.186.123.66.319 1.229.588 1.708.268.479.608.849 1.021 1.109.414.261.91.392 1.49.392.508 0 .942-.068 1.306-.207.362-.138.688-.301.979-.489l.546 2.304zM23.192 64.697c-.688 0-1.131-.261-1.381-.479-.688-.599-1.827-1.592 1.909-11.585-4.695-4.888-7.27-10.945-7.27-17.156 0-15.467 15.635-28.051 34.854-28.051s34.854 12.584 34.854 28.051-15.635 28.05-34.853 28.05c-6.197 0-12.26-1.322-17.59-3.83-2.896 1.792-8.384 5-10.523 5zm28.113-54.272c-17.564 0-31.854 11.238-31.854 25.051 0 5.778 2.441 11.21 7.061 15.709l.453.442v.91l-.109.286c-1.47 3.844-2.397 6.99-2.683 8.599 1.873-.727 5.588-2.778 8.652-4.705l.714-.448.754.376c5.097 2.54 10.979 3.882 17.012 3.882 17.564 0 31.854-11.238 31.854-25.051s-14.29-25.051-31.854-25.051z"></path></g></svg>Vocabulary</h2> 
                    <div class="chart-container">
                        <canvas id="canvas_vocabulary"></canvas>
                    </div>
                </div>
                        
                <div class="stats ng-scope" id="stats-3">
                    <h2 class="stat-title"><svg xmlns="http://www.w3.org/2000/svg" width="102.61" height="72.122" viewBox="0 0 102.61 72.122"><g fill="#58595B"><path d="M51.305 63.818c-15.306 0-27.757-12.452-27.757-27.758 0-15.304 12.452-27.756 27.757-27.756 15.305 0 27.757 12.452 27.757 27.757 0 15.305-12.452 27.757-27.757 27.757zm0-52.514c-13.651 0-24.757 11.106-24.757 24.757 0 13.651 11.106 24.758 24.757 24.758 13.651 0 24.757-11.106 24.757-24.758 0-13.651-11.106-24.757-24.757-24.757zM43.855 51.704v-30.596l23.489 15.298-23.489 15.298zm3-25.061v19.527l14.992-9.764-14.992-9.763z"></path></g></svg>Media </h2> 
                    <div class="chart-container">
                        <canvas id="canvas_media"></canvas>
                    </div>
                </div> 
            </div>
          </div>
        </b></div><b>

        <script>
          $("#grid").kendoGrid({
            toolbar: ["excel"],
            excel: {
                fileName: "Activities of user.xlsx"
            },
            dataSource: {
              transport: {
                read: {
                  <% url = "/current_activities_in_student/" + params[:id].to_s %>
                  url: "<%=url%>",
                  type: "get",
                  dataType: "json",
                }
              },
              schema: {
                data: "activities",
                total: function (data) {
                    return data.total;
                }
              }
            },
            groupable: true,
            sortable: true,
            pageable: {
                pageSize: 10,
                refresh: true,
                pageSizes: true,
                buttonCount: 5
            },
            columns: [
              {
                field: "activity",
                title: "Activity"
              },
              {   
                field: "start_date",
                title: "Start date",
              },
              {   
                field: "end_date",
                title: "End date",
              },
              {   
                field: "maximum_tries",
                title: "Maximum tries",
              },
              {   
                field: "current_try",
                title: "Current try",
              },
              {   
                field: "reading",
                title: "Reading score",
              },
              {   
                field: "vocabulary",
                title: "Vocabulary score",
              },
              {   
                field: "media",
                title: "Media score",
              },
              {   
                field: "score",
                title: "Total score",
              },
              { 
                template: "<p>#:data.percentage# %</p>",
                field: "percentage",
                title: "Percentage",
              }
            ]
          });
        </script>

        <script>

            function transparentize(color, opacity) {
                var alpha = opacity === undefined? 0.5 : 1 - opacity;
                return Chart.helpers.color(color).alpha(alpha).rgbString();
            }

            var range = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
            <% if params["stats-range"] %>
                <% if params["stats-range"] == "año" %>
                    range = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                <% elsif params["stats-range"] == "semana" %>
                    range = ["Lunes", "Martes", "Miércoles", "Jueves", "Viernes", "Sábado", "Domingo"]
                <% elsif params["stats-range"] == "mes" %>
                    var d = new Date();
                    var n = d.getDate();
                    range = Array(n).fill().map((e,i)=>i+1);
                <% end %>
            <% end %>

            var config_general = {
                type: 'line',
                data: {
                    labels: range,
                    datasets: [{
                        label: "Actividades intentadas",
                        backgroundColor: transparentize('#45c1ea',0.8),
                        borderColor: '#45c1ea',
                        data: <%=@arreglo_general[0]%>,
                        fill: true,
                    }, {
                        label: "Actividades aprobadas",
                        backgroundColor: transparentize('#8ec75d',0.8),
                        borderColor: '#8ec75d',
                        data: <%=@arreglo_general[1]%>,
                        fill: true,
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    } 
                }
            };

            var config_reading = {
                type: 'line',
                data: {
                    labels: range,
                    datasets: [{
                        label: "Preguntas respondidas",
                        backgroundColor: transparentize('#45c1ea',0.8),
                        borderColor: '#45c1ea',
                        data: <%=@arreglo_category_reading[0]%>,
                        fill: true,
                    }, {
                        label: "Respuestas correctas",
                        backgroundColor: transparentize('#8ec75d',0.8),
                        borderColor: '#8ec75d',
                        data: <%=@arreglo_category_reading[1]%>,
                        fill: true,
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            };

            var config_vocabulary = {
                type: 'line',
                data: {
                    labels: range,
                    datasets: [{
                        label: "Preguntas respondidas",
                        backgroundColor: transparentize('#45c1ea',0.8),
                        borderColor: '#45c1ea',
                        data: <%=@arreglo_category_vocabulary[0]%>,
                        fill: true,
                    }, {
                        label: "Respuestas correctas",
                        backgroundColor: transparentize('#8ec75d',0.8),
                        borderColor: '#8ec75d',
                        data: <%=@arreglo_category_vocabulary[1]%>,
                        fill: true,
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            };

            var config_media = {
                type: 'line',
                data: {
                    labels: range,
                    datasets: [{
                        label: "Preguntas respondidas",
                        backgroundColor: transparentize('#45c1ea',0.8),
                        borderColor: '#45c1ea',
                        data: <%=@arreglo_category_media[0]%>,
                        fill: true,
                    }, {
                        label: "Respuestas correctas",
                        backgroundColor: transparentize('#8ec75d',0.8),
                        borderColor: '#8ec75d',
                        data: <%=@arreglo_category_media[1]%>,
                        fill: true,
                    }]
                },
                options: {
                    responsive: true,
                    tooltips: {
                        mode: 'index',
                        intersect: false,
                    },
                    hover: {
                        mode: 'nearest',
                        intersect: true
                    },
                    scales: {
                        yAxes: [{
                            ticks: {
                                beginAtZero:true
                            }
                        }]
                    }
                }
            };

            $(document).ready(function() {
                var ctx_general = document.getElementById("canvas_general").getContext("2d");
                window.myLine = new Chart(ctx_general, config_general);

                var ctx_reading = document.getElementById("canvas_reading").getContext("2d");
                window.myLine = new Chart(ctx_reading, config_reading);

                var ctx_vocabulary = document.getElementById("canvas_vocabulary").getContext("2d");
                window.myLine = new Chart(ctx_vocabulary, config_vocabulary);

                var ctx_media = document.getElementById("canvas_media").getContext("2d");
                window.myLine = new Chart(ctx_media, config_media);
            });

        </script>

    </main>
</div>

 
</b></main>