<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_userprofile", "change_userprofile").present? || user.is_superuser == true %>

<%= f.text_field :type , type: "hidden", value: "student"%>

<%= f.label :user_id, "User" %>
<%= f.searchable_select :user_id, AuthUser.all, :id, :username %>
<%= f.hint "Select the user" %>

<%= f.label :thumbnail %>
<%= f.image_field :thumbnail, preview_url:@resource.thumbnail.url %>
<%= f.hint "Image of the user" %>

<%= f.label :city %>
<%= f.text_field :city , placeholder:"City of the user" %>
<%= f.hint "City of the user" %>

<%= f.label :country %>
<%= f.searchable_select :country, Country.all, :country, :country %>
<%= f.hint "Country of the user" %>

<%= f.label :gender %>
<select include_blank="false" name="latamusers_userprofile[gender]" id="latamusers_userprofile_gender">
	<%if @resource.gender == 'M' %>
		<option value="M" selected="selected">Hombre</option>
	<% else %>
		<option value="M" >Hombre</option>
	<% end %>

	<%if @resource.gender == 'F' %>
		<option value="F" selected="selected">Mujer</option>
	<% else %>
		<option value="F">Mujer</option>
	<% end %>
</select>
<%= f.hint "Gender of user" %>

<%= f.label :birthday %>
<div class="field-cluster"><%= f.date_select :birthday %></div>
<%= f.hint "Birthday of the user" %>

<%= f.label :english_level %>
<select include_blank="false" name="latamusers_userprofile[english_level]" id="latamusers_userprofile_english_level">

	<%if @resource.english_level == 'A1' %>
		<option value="A1" selected="selected">A1</option>
	<% else %>
		<option value="A1" >A1</option>
	<% end %>

	<%if @resource.english_level == 'A2' %>
		<option value="A2" selected="selected">A2</option>
	<% else %>
		<option value="A2" >A2</option>
	<% end %>

	<%if @resource.english_level == 'B1' %>
		<option value="B1" selected="selected">B1</option>
	<% else %>
		<option value="B1" >B1</option>
	<% end %>

	<%if @resource.english_level == 'B2' %>
		<option value="B2" selected="selected">B2</option>
	<% else %>
		<option value="B2" >B2</option>
	<% end %>

	<%if @resource.english_level == 'C1' %>
		<option value="C1" selected="selected">C1</option>
	<% else %>
		<option value="C1" >C1</option>
	<% end %>

	<%if @resource.english_level == 'C2' %>
		<option value="C2" selected="selected">C2</option>
	<% else %>
		<option value="C2" >C2</option>
	<% end %>

</select>
<%= f.hint "Level of english of user" %>

<%= f.label :education %>
<select include_blank="false" name="latamusers_userprofile[education]" id="latamusers_userprofile_education">

	<%if @resource.education == 'grade_school' %>
		<option value="grade_school" selected="selected">Primaria</option>
	<% else %>
		<option value="grade_school" >Primaria</option>
	<% end %>

	<%if @resource.education == 'high_school' %>
		<option value="high_school" selected="selected">Secundaria</option>
	<% else %>
		<option value="high_school" >Secundaria</option>
	<% end %>

	<%if @resource.education == 'college' %>
		<option value="college" selected="selected">Universitario</option>
	<% else %>
		<option value="college" >Universitario</option>
	<% end %>

	<%if @resource.education == 'graduate' %>
		<option value="graduate" selected="selected">Postgrado</option>
	<% else %>
		<option value="graduate" >Postgrado</option>
	<% end %>

</select>
<%= f.hint "Level of education of user" %>

<%= f.label :ocupation %>
<select include_blank="false" name="latamusers_userprofile[ocupation]" id="latamusers_userprofile_ocupation">

	<%if @resource.ocupation == 'student' %>
		<option value="student" selected="selected">Estudiante</option>
	<% else %>
		<option value="student" >Estudiante</option>
	<% end %>

	<%if @resource.ocupation == 'employee' %>
		<option value="employee" selected="selected">Empleado</option>
	<% else %>
		<option value="employee" >Empleado</option>
	<% end %>

	<%if @resource.ocupation == 'freelance' %>
		<option value="freelance" selected="selected">Independiente</option>
	<% else %>
		<option value="freelance" >Independiente</option>
	<% end %>

	<%if @resource.ocupation == 'unemployed' %>
		<option value="unemployed" selected="selected">Desempleado</option>
	<% else %>
		<option value="unemployed" >Desempleado</option>
	<% end %>	

</select>
<%= f.hint "Level of education of user" %>

<%= f.label :subscripted, "Subscripted" %>
<div class="field-cluster"><%= f.check_box :subscripted %></div>
<%= f.hint "Is subscripted" %>

<%= f.label :date_subcription %>
<div class="field-cluster"><%= f.date_select :date_subscription %></div>
<%= f.hint "Date of subscription of the user" %>

<%= f.label :date_end %>
<div class="field-cluster"><%= f.date_select :date_end %></div>
<%= f.hint "Date end of subscription" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>