<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_userprofile").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :user_id %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |profile| %>
      <tr>
        <%= index_td profile, AuthUser.find(profile.user_id).username %>       
        <%= actions_td profile %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>