<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_siteconfig", "change_siteconfig").present? || user.is_superuser == true %>

<%= f.label :site_id, "Site" %>
<%= f.searchable_select :site_id, DjangoSite.all, :id, :domain %>
<%= f.hint "Select the site for this configuration" %>

<%= f.label :facebook %>
<%= f.text_field :facebook , placeholder:"Facebook page" %>
<%= f.hint "Facebook page" %>

<%= f.label :twitter %>
<%= f.text_field :twitter , placeholder:"Twitter page" %>
<%= f.hint "Twitter page" %>

<%= f.label :youtube %>
<%= f.text_field :youtube , placeholder:"YouTube page" %>
<%= f.hint "YouTube page" %>

<%= f.label :linkedin %>
<%= f.text_field :linkedin , placeholder:"Linkedin page" %>
<%= f.hint "Linkedin page" %>

<%= f.label :highlight_featured, "Highlight featured" %>
<div class="field-cluster"><%= f.check_box :highlight_featured %></div>
<%= f.hint "Is highlight featured?" %>

<%= f.label :featured_title %>
<%= f.text_field :featured_title , placeholder:"Featured title" %>
<%= f.hint "Featured title" %>

<%= f.label :google_analytics %>
<%= f.text_field :google_analytics , placeholder:"Google analytics" %>
<%= f.hint "Code of google analytics" %>

<%= f.label :watch_module_category_id, "Watch module category" %>
<%= f.searchable_select :watch_module_category_id, NewsSection.all, :id, :title %>
<%= f.hint "Select the watch module category" %>

<%= f.label :category_link_color %>
<%= f.swatch_field :category_link_color, placeholder:"#CC0000" %>
<%= f.hint "Choose a color for category link"%>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>