<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_siteconfig").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :id %>
      <%= index_th :site_id %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |site| %>
      <tr>
        <%= index_td site, :id %>
        <%= index_td site, DjangoSite.find(site.site_id).domain %>
        <%= actions_td site %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>