<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_cronjoblogs", "change_cronjoblogs").present? || user.is_superuser == true %>

<%= f.label :code %>
<%= f.text_field :code , placeholder:"Code of cron job" %>
<%= f.hint "Code of cron job" %>

<%= f.label :start_time, "Start of cron job" %>
<%= f.timestamp_field :start_time %>
<%= f.hint "Start cron job" %>

<%= f.label :end_time, "End of cron job" %>
<%= f.timestamp_field :end_time %>
<%= f.hint "End of cron job" %>

<%= f.label :is_success, "Is success?" %>
<div class="field-cluster"><%= f.check_box :is_success %></div>
<%= f.hint "Is success the cron" %>

<%= f.label :message %>
<%= f.text_field :message , placeholder:"Message of cron job" %>
<%= f.hint "Message of cron job" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>