<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_cronjoblogs").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :code %>
      <%= index_th :start_time %>
      <%= index_th :end_time %>
      <%= index_th :success %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |cron| %>
      <tr>
        <%= index_td cron, :code %>      
        <%= index_td cron, :start_time %>
        <%= index_td cron, :end_time %>
        <%= index_td cron, :is_success %>
        <%= actions_td cron %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>