<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_student", "change_student").present? || user.is_superuser == true %>

<%= f.label :user_id, "User" %>
<%= f.searchable_select :user_id, AuthUser.all, :id, :username %>
<%= f.hint "Select the student user" %>

<%= f.label :teacher_id, "Teacher" %>
<%= f.searchable_select :teacher_id, AuthUser.joins(:auth_groups).where("group_id = '4'"), :id, :username %>
<%= f.hint "Select the teacher user" %>

<%= f.label :group_id, "Group" %>
<%= f.searchable_select :group_id, LatamusersUsergroup.all, :code, :name %>
<%= f.hint "Select the group" %>

<%= f.label :institution_id, "Institution" %>
<%= f.searchable_select :institution_id, LatamusersIntitution.all, :id, :name %>
<%= f.hint "Select the institution" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>