<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_student").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :teacher_id %>
      <%= index_th :user_id %>
      <%= index_th :group_id %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |student| %>
      <tr>
        <%= index_td student, AuthUser.find(student.teacher_id).username %>
        <%= index_td student, AuthUser.find(student.user_id).username %>       
        <%= index_td student, student.group_id %>       
        <%= actions_td student %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>