<% style = '<style type="text/css">
	a.definition {
		vertical-align: baseline;
	}

	.definition .tooltiptext_error {
		visibility: hidden;
		background-color: rgba(85, 85, 85, 1);;
		color: #fff;
		text-align: center;
		border-radius: 6px;
		padding-left: 5px;
		padding-right: 5px;
		position: absolute;
		margin-top: 20px;
	}

	.definition:hover .tooltiptext_error {
		visibility: visible;
	}
</style>' %>
<%= javascript_include_tag Ckeditor.cdn_url %>

<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_open_question", "change_open_question").present? || user.is_superuser == true %>

<%= f.label :content %><br><br><br>
<%= f.cktext_area :content%>
<div class="field-cluster" style="border: solid;">
		-- Suggested correction -- <br><br>
		<%= (style + @resource.content_errors).html_safe%> <br><br>
		-- End --
</div>
<%= f.hint "This was the response of student" %>

<%= f.label :auth_user_id, "User" %>
<%= f.searchable_select :auth_user_id, AuthUser.all, :id, :username %>
<%= f.hint "The student of ths question" %>

<%= f.label :lms_question_id, "Question" %>
<%= f.searchable_select :lms_question_id, LmsQuestion.where("type_id = 5"), :id, :text %>
<%= f.hint "The open question related with answer" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>