<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_media", "change_media").present? || user.is_superuser == true %>

<%= f.label :title %>
<%= f.text_field :title , placeholder:"Name of media" %>
<%= f.hint "Please type the name of media" %>

<%= f.label :type %>
<select include_blank="false" name="media_medium[type]" id="media_medium_type">

	<%if @resource.type =='audio' %>
		<option value="audio" selected="selected">Audio content</option>
	<% else %>
		<option value="audio" >Audio content</option>
	<% end %>

	<%if @resource.type =='embedded' %>
		<option value="embedded" selected="selected">Iframe</option>
	<% else %>
		<option value="embedded">Iframe</option>
	<% end %>

	<%if @resource.type =='flash' %>
		<option value="flash" selected="selected">Flash content (swf)</option>
	<% else %>
		<option value="flash">Flash content (swf)</option>	
	<% end %>

	<%if @resource.type =='video' %>
		<option value="video" selected="selected">Video content (mp4, webm, ogv)</option>
	<% else %>
		<option value="video">Video content (mp4, webm, ogv)</option>
	<% end %>

	<%if @resource.type =='image' %>
		<option value="image" selected="selected">Image content (png, svg, jpg, gif)</option>
	<% else %>
		<option value="image">Image content (png, svg, jpg, gif)</option>
	<% end %>

	<%if @resource.type =='document' %>
		<option value="document" selected="selected">Document (pdf, zip, doc, txt, etc..)</option>
	<% else %>
		<option value="document">Document (pdf, zip, doc, txt, etc..)</option>
	<% end %>


</select>
<%= f.hint "Type of media to be uploaded" %>

<%= f.label :media %>
<%= f.attachment_field :media, preview_url:@resource.media.url %>
<br><br><br>
<div class="field-cluster" style="padding: 15px 15px 15px 160px;">
<a class="button -small -inspect" href="#" onClick="window.open('<%=generate_audio_layout_path%>','Generate audio','resizable,height=500,width=500'); return false;">Click here if you want generate an audio to upload here</a>
</div>
<%= f.hint "Use this field to upload images or audios" %>

<%= f.label :poster %>
<%= f.image_field :poster %>
<%= f.hint "Use this field to upload a poster image" %>

<%= f.label :iframe_url %>
<%= f.text_field :iframe_url , placeholder:"Iframe" %>
<%= f.hint "Use to include youtube or vimeo videos using original url for example: https://www.youtube.com/watch?v=nfWlot6h_JM" %>

<%= f.label :author %>
<%= f.text_field :author , placeholder:"Author" %>
<%= f.hint "Please type the name of author" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>