<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_media").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :id %>
      <%= index_th :title %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |media| %>
      <tr>
        <%= index_td media, :id %>
        <%= index_td media, :title %>
        <%= actions_td media %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>