<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_assignedactivity", "change_assignedactivity").present? || user.is_superuser == true %>

<%= f.label :teacher_id, "User" %>
<%= f.searchable_select :teacher_id, AuthUser.joins(:auth_groups).where("group_id = '4'"), :id, :username %>
<%= f.hint "Select the teacher for this activity" %>

<%= f.label :activity_id, "Activity" %>
<%= f.searchable_select :activity_id, LmsActivity.all, :id, :name %>
<%= f.hint "Select the activity" %>

<%= f.label :maximum_tries %>
<%= f.text_field :maximum_tries, placeholder: "Maximum tries"%>
<%= f.hint "Maximum tries for the activity" %>

<%= f.label :creation_date, "Creation date" %>
<%= f.timestamp_field :creation_date %>
<%= f.hint "Creation date of assigned activity" %>

<%= f.label :start_date, "Start date" %>
<%= f.timestamp_field :start_date %>
<%= f.hint "Start date of assigned activity" %>

<%= f.label :end_date, "End date" %>
<%= f.timestamp_field :end_date %>
<%= f.hint "End date of assigned activity" %>

<%= f.label :active %>
<div class="field-cluster"><%= f.check_box :active %></div>
<%= f.hint "Is active" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>