<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_assignedactivity").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :teacher_id %>
      <%= index_th :activity_id %>
      <%= index_th :start_date %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |assigned_act| %>
      <tr>
        <%= index_td assigned_act, AuthUser.find(assigned_act.teacher_id).username %>
        <%= index_td assigned_act, LmsActivity.find(assigned_act.activity_id).name %>
        <%= index_td assigned_act, assigned_act.start_date %>       
        <%= actions_td assigned_act %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>