<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_menu", "change_menu").present? || user.is_superuser == true %>

<%= f.label :name %>
<%= f.text_field :name, placeholder:"Name of menu" %>
<%= f.hint "Name of menu" %>

<%= f.label :url %>
<%= f.text_field :url, placeholder:"Url" %>
<%= f.hint "Url of menu" %>

<%= f.label :parent_id %>
<%= f.searchable_select :parent_id, CmsMenu.all , :id, :name %>
<%= f.hint "Select the parent of menu" %>

<%= f.label :order %>
<%= f.text_field :order, placeholder:"Order" %>
<%= f.hint "Order of menu" %>

<%= f.label :color %>
<%= f.swatch_field :color, placeholder:"#CC0000" %>
<%= f.hint "Choose a color of menu"%>

<%= f.label :django_site_ids, "Site" %>
<%= f.searchable_select :site_id, DjangoSite.all, :id, :domain%>
<%= f.hint "Select the site fo menu" %>

<%= f.label :published %>
<div class="field-cluster"><%= f.check_box :published %></div>
<%= f.hint "Select if menu is public" %>


<%= f.label :location %>
<select include_blank="false" name="cms_menu[location]" id="cms_menu_location">
	<%if @resource.location =='header' %>
		<option value="header" selected="selected">Primary Menu - Header</option>
	<% else %>
		<option value="header" >Primary Menu - Header</option>
	<% end %>

	<%if @resource.location =='footer' %>
		<option value="footer" selected="selected">Footer Menu</option>
	<% else %>
		<option value="footer">Footer Menu</option>
	<% end %>
</select>

<% else %>
	No tienes los permisos necesarios para modificar la página
<% end %>