<%= javascript_include_tag Ckeditor.cdn_url %>
<script type="text/javascript">
	CKEDITOR.config.pasteFromWordPromptCleanup = true;
	CKEDITOR.config.pasteFromWordRemoveFontStyles = true;
	CKEDITOR.config.forcePasteAsPlainText = true;
	CKEDITOR.config.ignoreEmptyParagraph = true;
	CKEDITOR.config.removeFormatAttributes = true;
</script>

<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_page", "change_page").present? || user.is_superuser == true %>

<%= f.label :title %>
<%= f.text_field :title , placeholder:"Title of the page" %>
<%= f.hint "Type the title of the page" %>
<br><br><br><br><br>

<%= f.label :content %><br><br><br>
<%= f.cktext_area :content %>
<%= f.hint "Please add the content of the page" %>
<br><br><br>

<%= f.label :excerpt %><br><br><br>
<%= f.cktext_area :excerpt %>
<%= f.hint "Please add the excert of the page" %>

<%= f.label :featured, "featured" %>
<div class="field-cluster"><%= f.check_box :featured %></div>
<%= f.hint "Select if the page is featured" %>

<%= f.label :published, "Published" %>
<div class="field-cluster"><%= f.check_box :published %></div>
<%= f.hint "Select if the page is published" %>

<%= f.label :slug %>
<%= f.slug_field :slug, placeholder:"Slug", pattern:"/*" %>
<%= f.hint "Slug of page" %>

<%= f.label :pubDate, "Publishing Date" %>
<%= f.timestamp_field :pubDate %>
<%= f.hint "The date this page should be published." %>

<%= f.label :upDate, "Update Date" %>
<%= f.timestamp_field :upDate %>
<%= f.hint "The date this page was updated" %>

<%= f.label :django_site_ids, "Sites" %>
<%= f.searchable_select :django_site_ids, DjangoSite.all, :id, :domain, multiple:true %>
<%= f.hint "Select all the sites for this page" %>


<%= f.has_many :media_galleries do |q| %>
	
	<%= q.has_many_header allow_destroy:true %>
	
	<%= q.label :media_medium_ids, "Media" %>
	<%= q.searchable_select :media_medium_ids, MediaMedium.where('type = ?','image'), :id, :title, multiple:true %>
	<%= q.hint "Select all the media for this gallery" %>

<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>