<% @articles.each do |article|%>
    <article class="activityList" name=<%=article.id%>>
        
        <% media = "" %>
        <% gallery = "" %>
    	<% if article.news_article.media_galleries.present? %>
        	<% media = article.news_article.media_galleries.first.media_media.first %>
        	<% id = "gallery-" + article.news_article.media_galleries.first.id.to_s %>
        	<% gallery = article.news_article.media_galleries.first%>
    	 	<%= render 'modules/media', locals:{gallery: gallery, media: media, sidebar_articles: false} %>
       	<% end %>

       	<h3>           
            <%if article.lms_level.difficulty_level == "0"
                class_level = "beginner"
              else 
                class_level = ""
              end%>

            <% if article.lms_level.difficulty_level == "0" %>
                <span class="level <%=class_level%>">Beginners</span>
            <% else %>
                <span class="level <%=class_level%>">Level <span style="background-color: <%=article.lms_level.color%>"><%= article.lms_level.difficulty_level%></span></span>
            <% end %>

       	</h3>

        <h2><%=article.name%></h2>

        <div class="content">
        	<%= article.introduction.html_safe %>
        </div>

    <%=form_tag "/activity", method: :get, remote: :true do %>
        <div class="right">
            <a class="btn-post" href="/activity/<%=article.id%>">Go to Article</a>
        </div>
    <% end %>

    </article>
<% end %>

<center><%= paginate @articles, theme:"admin", window:4, param_name:"p", remote: true%></center>

