<% gallery = locals[:gallery]%>
<% media = locals[:media]%>
<% if locals[:sidebar_articles] %>
    <div class="gal">
        <ul>
        <% if media.present? %>
            <% if media.type == 'image' %>
                <li data-src="<%= media.media.url %>"
                    data-thumb="<%= media.media.url %>">
                    <% if media.media.url.present? %>
                        <%= image_tag(media.media.url.sub("/uploads/uploads","/uploads"), alt: media.title)%>
                    <% end %>
                </li>
            <% end %>
            <% if media.type == 'embedded' %>
                <li data-src="<%= media.iframe_url %>"
                    data-thumb="<%= media.media.url %>">
                    <%= image_tag(media.media.url.sub("/uploads/uploads","/uploads"), alt: media.title)%>
                </li>
            <% end %>
            <% if media.type == 'audio' %>
                <p align="center">
                    <audio controls="controls" controlslist="nodownload" height="32" text-align="center" width="300">
                        <source src="<%=media.media.url%>" type="audio/mpeg"> Your browser does not support the audio tag.
                    </audio>
                </p>
            <% end %>
            <% if media.type == 'video' %>
                <li data-html="<video src='<%= media.media.url %>' controls='true'></video>"
                    data-thumb="<%= media.media.url %>">
                    <%= image_tag(media.media.url.sub("/uploads/uploads","/uploads"), alt: media.title)%>
                </li>
            <% end %>
        <% end %>
        </ul>
    </div>
<% else %>
    <div id="gallery-<%= gallery.id %>" class="gal">
        <ul class="gallery-<%= gallery.style %> article-gallery">
        <% if media.present? %>
            <% if media.instance_of? MediaMedium %>
                <% if media.type == 'image' %>
                    <li data-src="<%= media.media.url %>"
                        data-thumb="<%= media.media.url %>">
                        <% if media.media.url.present? %>
                            <%= image_tag(media.media.url.sub("/uploads/uploads","/uploads"), alt: media.title)%>
                        <% end %>
                    </li>
                <% end %>
                <% if media.type == 'embedded' %>
                    <li data-src="<%= media.iframe_url %>"
                        data-thumb="<%= media.media.url %>">
                        <%= image_tag(media.media.url.sub("/uploads/uploads","/uploads"), alt: media.title)%>
                    <% end %>
                </li>
            <% end %>
            <% if media.type == 'embedded' %>
                <li data-src="<%= media.iframe_url %>"
                    data-thumb="<%= media.media.url %>">
                    <%= image_tag(media.media.url.sub("/uploads/uploads","/uploads"), alt: media.title)%>
                </li>
            <% end %>
            <% if media.type == 'audio' %>
                <p align="center">
                    <audio controls="controls" controlslist="nodownload" height="32" text-align="center" width="300">
                        <source src="<%=media.media.url%>" type="audio/mpeg"> Your browser does not support the audio tag.
                    </audio>
                </p>
            <% end %>
            <% if media.type == 'video' %>
                <li data-html="<video src='<%= media.media.url %>' controls='true'></video>"
                    data-thumb="<%= media.media.url %>">
                    <%= image_tag(media.media.url.sub("/uploads/uploads","/uploads"), alt: media.title)%>
                </li>
            <% end %>
        <% end %>
        </ul>
    </div>
<% end %>
