<h2 class="module_title">
	<% if locals[:content_module].name == "Latinamericanpost" %>
		<%= link_to 'http://latinamericanpost.com', target: :blank do %>
			<%= image_tag("latampost.jpg") %>
		<% end %>
	<% else %>
		<%= locals[:content_module].name %>
	<% end %>
</h2>
<%= locals[:content_module].html.html_safe %>
<%= locals[:content_module].javascript.html_safe %>
<%= locals[:content_module].css.html_safe %>