<div class="sidebar_s">
   
<div class="profile">
    <div class="profile-pic">
        <% if current_auth_user.latamusers_userprofiles.first.present? %>
            <% if current_auth_user.latamusers_userprofiles.first.thumbnail.present? %>
                <%= image_tag(current_auth_user.latamusers_userprofiles.first.thumbnail.url.sub("/media/users/users/", "/media/users/"))%>
            <% else %>
                <%= image_tag("profile.jpg", alt: "") %>
            <% end %>
        <% else %>
            <%= image_tag("profile.jpg", alt: "") %>
        <% end %>
    </div>
    <h4><%=current_auth_user.first_name + ' ' + current_auth_user.last_name%></h4>
</div>

    <% if current_auth_user.auth_groups.where("group_id = '4'").blank? %>

        <div class="sidebar_menu">
            <% if request.original_url.index('edit').present?%>
                <a href="/profile">Profile</a>
            <%elsif%>
                <a href="/auth_users/edit">Editar perfil</a>
            <%end%>
            <a href="/auth_users/edit_password_signed">Cambiar clave</a>
            <a href="/caracterization_view/"> Caracterización de usuario </a>
            <a href="/activities/reading">Reading</a>
            <a href="/activities/vocabulary">Vocabulary</a>
            <a href="/activities/media">Media</a>
            <a href="/my_subscription/"> Mi suscripción </a>

            <% assign_count = LatamusersUseractivity.all.joins(:latamusers_assignedactivity).where("user_id = ? AND assigned = true AND active = true", current_auth_user.id).count %>
            <% if assign_count > 0 %>
                <a href="/assigned_activities/"> Assigned activities (<%=assign_count%>)</a>
            <% end %>
            <% if current_auth_user.auth_permissions.where('"auth_permission"."codename" = ?', "generate_report").present? || current_auth_user.is_superuser == true %>
                <a href="/generate_report">Administrador institucional</a>
            <% end %>
        </div>

    <% else %>

        <div class="sidebar_menu">
            <% if request.original_url.index('edit').present?%>
                <a href="/profile">Profile</a>
            <%elsif%>
                <a href="/auth_users/edit">Editar perfil</a>
            <%end%>
            <a href="/auth_users/edit_password_signed">Cambiar clave</a>
            <a href="/caracterization_view/"> Caracterización de usuario </a>
            <a href="/activities/reading">Reading</a>
            <a href="/activities/vocabulary">Vocabulary</a>
            <a href="/activities/media">Media</a>
            <a href="/create-group/"> <b style="font-size: 15px;">Administración de grupo</b></a>
            <a href="/create-activity/"><b style="font-size: 15px;"> Administración de actividad </b></a>
            <a href="/create-sequence/"><b style="font-size: 15px;"> Administración de secuencias </b></a>
            <a href="/open-domain-questions/"><b style="font-size: 15px;"> Revisión preguntas abiertas </b></a>
            <% if current_auth_user.auth_permissions.where('"auth_permission"."codename" = ?', "generate_report").present? || current_auth_user.is_superuser == true %>
                <a href="/generate_report"><b style="font-size: 15px;">Administrador institucional</b></a>
            <% end %>
            <ul id="nav">
              <!--li><a href="https://elpost.s3.amazonaws.com/media/uploads/Introduccion_profesores.pdf" download=""-->
              <li><a href="https://s3-us-west-2.amazonaws.com/elpost/media/uploads/Guia_Docentes.pdf" target="_blank" download="">
                <img src="http://icon-icons.com/icons2/904/PNG/512/download-1_icon-icons.com_69664.png" style="width: 20px;">
                <b style="font-size: 15px;">Introducción plataforma</b></a></li><b>
              <li><a href="#" style="font-size: 15px;">Guías docente »</a>
                <ul>
                  <li><a href="https://elpost.s3.amazonaws.com/media/uploads/Guia_level_0_beginners.pdf" target="_blank" download="">
                    <img src="http://icon-icons.com/icons2/904/PNG/512/download-1_icon-icons.com_69664.png" style="width: 20px;">
                    <b>Guía nivel 0</b></a></li>
                  <li><a href="https://elpost.s3.amazonaws.com/media/uploads/Guia_del_profesor_NIVEL_1.pdf" target="_blank" download="">
                    <img src="http://icon-icons.com/icons2/904/PNG/512/download-1_icon-icons.com_69664.png" style="width: 20px;">
                    <b>Guía nivel 1</b></a></li>
                  <li><a href="https://elpost.s3.amazonaws.com/media/uploads/Guia_del_profesor_NIVEL_2.pdf" target="_blank" download="">
                    <img src="http://icon-icons.com/icons2/904/PNG/512/download-1_icon-icons.com_69664.png" style="width: 20px;">
                    <b>Guía nivel 2</b></a></li>
                  <li><a href="https://elpost.s3.amazonaws.com/media/uploads/Guia_del_profesor_NIVEL_3.pdf" target="_blank" download="">
                    <img src="http://icon-icons.com/icons2/904/PNG/512/download-1_icon-icons.com_69664.png" style="width: 20px;">
                    <b>Guía nivel 3</b></a></li>
                </ul>
              </li>
            </b></ul><b>
        </b></div><b>

    <% end %>

    <% user_activity = LatamusersUseractivity.select('"latamusers_useractivity"."activity_id", (("latamusers_useractivity"."score"+ 0.0)/("latamusers_useractivity"."possibleScore"+0.0)) AS percentage, "latamusers_useractivity"."score", "latamusers_useractivity"."possibleScore"').where("user_id = ?", current_auth_user.id) %>

    <% highest = user_activity.order("percentage DESC").first(5) %>
    <% last_activities = current_auth_user.latamusers_useractivities.order('date DESC').first(5) %>
    
    <aside class="high_scores">
    
        <h2>Máximas puntuaciones</h2>

        <% counter = 1 %> 
        <% highest.each do |highest| %>
            <div class="high_score">
                <span class="level"><%=counter%></span>
                <div class="info">
                    <%= link_to activity_path(:id => highest.lms_activity.id) do %>
                        <h4><%= highest.lms_activity.name %></h4>
                    <% end %>
                    <span class="points"><%=highest.score%> / <%=highest.possibleScore%></span>
                </div>
            </div>
            <% counter = counter + 1 %>
        <% end %>

    </aside>

    <aside class="high_scores">
    
        <h2>Últimas actividades realizadas </h2>

        <% counter = 1 %> 
        <% last_activities.each do |activity| %>
            <div class="high_score">
                <div class="info">
                    <%= link_to activity_path(:id => activity.lms_activity.id) do %>
                        <h4><%= activity.lms_activity.name %></h4>
                    <% end %>
                    <span class="points">
                        <%= activity.date.strftime("%b. %d, %Y")%><br>
                        <%= activity.score %> / <%= activity.possibleScore %>
                    </span>
                </div>
            </div>
            <% counter = counter + 1 %>
        <% end %>

    </aside>

</b></div>