<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_category", "change_category").present? || user.is_superuser == true %>

<%= f.label :institution_id, "Institution" %>
<%= f.searchable_select :institution_id, LatamusersIntitution.all, :id, :name, multiple:false %>
<%= f.hint "Select all the institution" %>

<%= f.label :section_id, "Category" %>
<%= f.searchable_select :section_id, NewsSection.all.joins(:news_section_sites).where('site_id = 3'), :id, :title, multiple:false %>
<%= f.hint "Select all the section" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>