<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_group", "change_group").present? || user.is_superuser == true %>

<%= f.label :name %>
<%= f.text_field :name , placeholder:"Name of the group" %>
<%= f.hint "Name of the group" %>

<%= f.label :auth_permission_ids, "Permissions" %>
<%= f.searchable_select :auth_permission_ids, AuthPermission.all, :id, :name, multiple:true %>
<%= f.hint "Select the permission for this group" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>