<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_intitutions", "change_intitutions").present? || user.is_superuser == true %>

<%= f.label :name %>
<%= f.text_field :name , placeholder:"Name of the institution" %>
<%= f.hint "Type the name of the institution" %>

<%= f.label :logo %>
<div class="field-cluster">
	<%= f.image_field :logo %>
	<%= f.check_box :remove_logo %>
	<div class="field-cluster" style="padding-top: 0.5em;"><span style="color: red;">Remove the logo attached</span></div>
</div>
<%= f.hint "Use this field to upload a logo image if the institution need blanc mark" %>

<%= f.label :nit %>
<%= f.text_field :nit , placeholder:"nit of the institution" %>
<%= f.hint "Type the nit of the institution" %>

<%= f.label :contact_name %>
<%= f.text_field :contact_name , placeholder:"Contact name of the institution" %>
<%= f.hint "Type the contact name of the institution" %>

<%= f.label :contact_phone %>
<%= f.text_field :contact_phone , placeholder:"Contact phone of the institution" %>
<%= f.hint "Type the contact phone of the institution" %>

<%= f.label :contact_email %>
<%= f.text_field :contact_email , placeholder:"Contact email of the institution" %>
<%= f.hint "Type the contact email of the institution" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>