<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_intitutions").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :logo %>
      <%= index_th :name %>
      <%= index_th :nit %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |obj| %>
      <tr>
        <% if obj.logo.url.nil? %>
        <%= index_td obj, obj.logo %>
        <% else %>
        <%= index_td obj, image_tag(obj.logo.thumb.url, alt: "") %>
        <% end %>
        <%= index_td obj, obj.name %>
        <%= index_td obj, obj.nit %>
        <%= actions_td obj %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>