<%= javascript_include_tag Ckeditor.cdn_url %>

<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_activity", "change_activity").present? || user.is_superuser == true %>

<%= f.label :name %>
<%= f.text_field :name , placeholder:"Name of the activity" %>
<%= f.hint "Please type the name of the activity" %>
<br><br><br><br><br>	

<%= f.label :introduction %><br><br><br>
<%= f.cktext_area :introduction %>
<%= f.hint "Please add an introduction for the activity" %>

<%= f.label :created_by_id, "Author" %>
<%= f.searchable_select :created_by_id, AuthUser.all, :id, :username, include_blank:false %>
<%= f.hint "Select the person who wrote this post." %>

<%= f.label :lms_word_ids, "Words" %>
<div class="field-cluster"><%= f.searchable_select :lms_word_ids, LmsWord.order(word: :asc), :id, :word_with_use, multiple:true %><button class="button" id="refresh-words"><%= image_tag("refresh.jpg", size: "30x30")%></button></div>
<%= f.hint "Select each word that applies to this activity" %>

<%= f.label :difficulty_id, "Level" %>
<%= f.searchable_select :difficulty_id, LmsLevel.all.order(:difficulty_level), :id, :difficulty_level, include_blank:false %>
<%= f.hint "Select the level of the activity." %>

<%= f.label :course_id %>
<%= f.searchable_select :course_id, LmsCourse.all, :id, :name %>
<%= f.hint "Select the course tha applies to this activity" %>

<%= f.label :article_id %>
<div class="field-cluster"><%= f.searchable_select :article_id, NewsArticle.order(id: :desc), :id, :title %><button class="button" id="refresh-articles"><%= image_tag("refresh.jpg", size: "30x30")%></button></div>
<%= f.hint "Select the article tha applies to this activity" %>

<%= f.label :reward %>
<%= f.text_field :reward , placeholder:"Reward", type: "number"%>
<%= f.hint "Number of the reward" %>

<%= f.label :time %>
<%= f.text_field :time , placeholder:"Time", type: "number"%>
<%= f.hint "Number of minutes user has to complete the activity" %>

<%= f.label :published, "Published" %>
<div class="field-cluster"><%= f.check_box :published %><span style="color: red;">Obligatory if you want to show in the list of activities or articles</span></div>
<%= f.hint "Select if the activity is published" %>

<%= f.label :public, "Public" %>
<div class="field-cluster"><%= f.check_box :public %></div>
<%= f.hint "Select if the activity is public" %>

<%= f.label :private_content, "Private content" %>
<div class="field-cluster"><%= f.check_box :private_content %></div>
<%= f.hint "Select if the content is private for the institution" %>

<%= f.label :latamusers_intitution_ids, "Institutions" %>
<%= f.searchable_select :latamusers_intitution_ids, LatamusersIntitution.all, :id, :name, multiple:true %>
<%= f.hint "Select each word that applies to this activity" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>

<script type="text/javascript">

	(function(funcName, baseObj) {
	    funcName = funcName || "docReady";
	    baseObj = baseObj || window;
	    var readyList = [];
	    var readyFired = false;
	    var readyEventHandlersInstalled = false;

	    function ready() {
	        if (!readyFired) {
	            readyFired = true;
	            for (var i = 0; i < readyList.length; i++) {
	                readyList[i].fn.call(window, readyList[i].ctx);
	            }
	            readyList = [];
	        }
	    }

	    function readyStateChange() {
	        if ( document.readyState === "complete" ) {
	            ready();
	        }
	    }

	    baseObj[funcName] = function(callback, context) {
	        if (typeof callback !== "function") {
	            throw new TypeError("callback for docReady(fn) must be a function");
	        }
	        if (readyFired) {
	            setTimeout(function() {callback(context);}, 1);
	            return;
	        } else {
	            readyList.push({fn: callback, ctx: context});
	        }
	        if (document.readyState === "complete") {
	            setTimeout(ready, 1);
	        } else if (!readyEventHandlersInstalled) {
	            if (document.addEventListener) {
	                document.addEventListener("DOMContentLoaded", ready, false);
	                window.addEventListener("load", ready, false);
	            } else {
	                document.attachEvent("onreadystatechange", readyStateChange);
	                window.attachEvent("onload", ready);
	            }
	            readyEventHandlersInstalled = true;
	        }
	    }
	})("docReady", window);

	docReady(function() {
		$("#refresh-words").click(function reload_words(){
			html_select = "";
			html_selected = [];
			$("#lms_activity_lms_word_ids_chosen .chosen-choices .search-choice .search-choice-close").each(function(i, obj) {
				html_selected.push($('#lms_activity_lms_word_ids option').eq($(this).attr("data-option-array-index")).val());
			});
			$.ajax({
				url : '/get_words',
				type : 'POST',
				dataType : 'json',
				beforeSend: function() {
					$("#refresh-words").html('<%= image_tag("refresh.gif", size: "30x30")%>');
					$("#refresh-words").prop("disabled", true);
				},
				success : function(json) {
					for(i = 0; i < json.length; i++){
						object = json[i];
						html_select = html_select + '<option value="'+object["id"]+'">'+object["word"]+' - '+object["use"]+'</option>';
					}
					$('#lms_activity_lms_word_ids').html(html_select);
					$("#lms_activity_lms_word_ids").val(html_selected).trigger('chosen:updated');
				},
				error : function(xhr, status) {
				    alert("Error al obtener de nuevo las palabras, intenta de nuevo");
				},
				complete : function(xhr, status) {
				    $("#refresh-words").html('<%= image_tag("refresh.jpg", size: "30x30")%>');
				    $("#refresh-words").prop("disabled", false);
				}
			});
		});

		$("#refresh-articles").click(function reload_articles(){
			html_select = "";
			html_selected = $('#lms_activity_article_id').val();
			$.ajax({
				url : '/get_articles',
				type : 'POST',
				dataType : 'json',
				beforeSend: function() {
					$("#refresh-articles").html('<%= image_tag("refresh.gif", size: "30x30")%>');
					$("#refresh-articles").prop("disabled", true);
				},
				success : function(json) {
					for(i = 0; i < json.length; i++){
						object = json[i];
						html_select = html_select + '<option value="'+object["id"]+'">'+object["title"]+'</option>';
					}
					$('#lms_activity_article_id').html(html_select);
					$("#lms_activity_article_id").val(html_selected).trigger('chosen:updated');
				},
				error : function(xhr, status) {
				    alert("Error al obtener de nuevo los artículos, intenta de nuevo");
				},
				complete : function(xhr, status) {
				    $("#refresh-articles").html('<%= image_tag("refresh.jpg", size: "30x30")%>');
				    $("#refresh-articles").prop("disabled", false);
				}
			});
		});
	});

</script>

<script type="text/javascript">
	CKEDITOR.config.pasteFromWordRemoveStyles = true;
</script>