@import "admin/base";
@import "jquery.tagsinput";

i, cite, em, var, address, dfn {
    font-style: italic;
}

strong, b {
    font-weight: bold;
}

s, strike, del {
    text-decoration: line-through;
}