<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_usergroup", "change_usergroup").present? || user.is_superuser == true %>

<%= f.label :name, "Name" %>
<%= f.text_field :name , placeholder:"Name of the group" %>
<%= f.hint "Type the name of the group" %>

<%= f.label :code, "Code" %>
<%= f.text_field :code , placeholder:"Code of group" %>
<%= f.hint "Type the code of the group" %>

<%= f.label :teacher_id, "Teacher" %>
<%= f.searchable_select :teacher_id, AuthUser.all, :id, :username %>
<%= f.hint "Select the teacher user" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>