<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_usergroup").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :code %>
      <%= index_th :name %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.order(:code).each do |usergroup| %>
      <tr>
        <%= index_td usergroup, usergroup.code %>
        <%= index_td usergroup, usergroup.name %>
        <% links = [] %>
        <% links << link_to("Edit", edit_admin_usergroup_path(usergroup), class:"button -small -edit") %>
        <% links << link_to("Inspect", show_admin_usergroup_path(:id => usergroup.code), class:"button -small -inspect") %>
        <% links << link_to("Delete", show_admin_usergroup_path(usergroup), class:"button -small -delete", method: :delete, :'data-confirm' => deletion_warning(usergroup)) %>
        <%= content_tag(:td, links.join("").html_safe, class:"actions-td") %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>
