<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_caracterizationcategory", "change_caracterizationcategory").present? || user.is_superuser == true %>

<%= f.label :detail %>
<%= f.text_field :detail, placeholder: "Detail"%>
<%= f.hint "Detail of caracterization category" %>

<%= f.label :description %>
<%= f.text_field :description, placeholder: "Description"%>
<%= f.hint "Description of caracterization category" %>

<% else %>
	No tienes los permisos necesarios para modificar la página
<% end %>
