<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_caracterizationcategory").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :detail %>
      <%= index_th :description %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |caracterization| %>
      <tr>
        <%= index_td caracterization, caracterization.detail %>
        <%= index_td caracterization, caracterization.description %>
        <%= actions_td caracterization %>
      </tr>
    <% end %>
  </tbody>
<% end %>
<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>