<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_sectionsidebarcontent", "change_sectionsidebarcontent").present? || user.is_superuser == true %>

<%= f.label :title %>
<%= f.text_field :title , placeholder:"Title of the side bar content" %>
<%= f.hint "Type the title of the side bar content" %>

<%= f.label :display %>
<select include_blank="false" name="news_sectionsidebarcontent[display]" id="cms_menu_location">

	<%if @resource.display =='sections' %>
		<option value="sections" selected="selected">All sections</option>
	<% else %>
		<option value="sections" >All sections</option>
	<% end %>

	<%if @resource.display =='home' %>
		<option value="home" selected="selected">Homepage</option>
	<% else %>
		<option value="home" >Homepage</option>
	<% end %>

	<%if @resource.display =='selected' %>
		<option value="selected" selected="selected">Selected content</option>
	<% else %>
		<option value="selected" >Selected content</option>
	<% end %>

</select>
<%= f.hint "Select the diplay of side bar content" %>

<%= f.label :news_section_ids, "Sections" %>
<%= f.searchable_select :news_section_ids, NewsSection.all, :id, :title, multiple:true %>
<%= f.hint "Select all sections of the side bar content" %>

<%= f.label :color %>
<%= f.swatch_field :color, placeholder:"#CC0000" %>
<%= f.hint "Choose a color for side bar content"%>

<%= f.label :number_of_articles %>
<%= f.text_field :number_of_articles, placeholder:"Number of articles" %>
<%= f.hint "Number of the articles" %>

<%= f.label :section_to_show_id, "Tags" %>
<%= f.searchable_select :section_to_show_id, NewsSection.all, :id, :title %>
<%= f.hint "Select the section to show of side bar content" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>