<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_section", "change_section").present? || user.is_superuser == true %>

<%= f.label :title %>
<%= f.text_field :title , placeholder:"Title of the section" %>
<%= f.hint "Type the title of the section" %>

<%= f.label :watch_title %>
<%= f.text_field :watch_title , placeholder:"Watch title of section" %>
<%= f.hint "Type the watch title of the section" %>

<%= f.label :slug %>
<%= f.slug_field :slug , placeholder:"Slug of section" %>
<%= f.hint "Type the slug of the section" %>

<%= f.label :django_site_ids, "Sites" %>
<%= f.searchable_select :django_site_ids, DjangoSite.all, :id, :domain, multiple:true %>
<%= f.hint "Select all domains of the section" %>

<%= f.label :style %>
<select include_blank="false" name="news_section[style]" id="news_section_style">

	<%if @resource.style =='grid' %>
		<option value="grid" selected="selected">Grid</option>
	<% else %>
		<option value="grid" >Grid</option>
	<% end %>

	<%if @resource.style =='slideshow' %>
		<option value="slideshow" selected="selected">SlideShow</option>
	<% else %>
		<option value="slideshow">SlideShow</option>
	<% end %>

</select>
<%= f.hint "Select the style of section" %>

<%= f.label :highlight_featured %>
<div class="field-cluster"><%= f.check_box :highlight_featured %></div>
<%= f.hint "Select if section is highlighted featured" %>

<%= f.label :color %>
<%= f.swatch_field :color, placeholder:"#CC0000" %>
<%= f.hint "Choose a color for section"%>

<%= f.label :parent_id, "Parent" %>
<%= f.searchable_select :parent_id, NewsSection.all, :id, :title %>
<%= f.hint "Select the parent of the section" %>

<%= f.label :featured_title %>
<%= f.text_field :featured_title , placeholder:"Featured title of the section" %>
<%= f.hint "Type the featured title of the section" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>