<%= f.label :id %>
<%= f.text_field :id , placeholder:"Code of phrase", disabled: true %>
<%= f.hint "Code of phrase." %>

<%= f.label "Add image" %>
<%= link_to '<button class="button -primary -save-and-review" type="button">New Post</button>'.html_safe, 'media_media'%>
<%= f.hint "Choose each topic that applies to this blog post" %>

<%= f.label :imagen, "Featured Image" %>
<%= f.image_association_select :imagen, MediaMedium.all, :media, :title, :media %>
<%= f.hint "Select a featured image for this phrase." %>

<%= f.label :nivel, "Level" %>
<%= f.searchable_select :nivel, LmsLevel.order("difficulty_level ASC"), :id, :difficulty_level, multiple:false %>
<%= f.hint "Select the type of phrase" %>

<%= f.label :tipo, "Type" %>
<%= f.searchable_select :tipo, InstantPhrasesTipoFrase.order("nombre ASC"), :id, :nombre, multiple:false %>
<%= f.hint "Select the type of phrase" %>

<%= f.has_many :instant_phrases_partes do |pp| %>

	<%= pp.has_many_header allow_destroy:true %>

	<%= pp.label :posicion, "Position" %>
	<%= pp.text_field :posicion, :onchange => "javascript:comprobate_unique_position(this.value, "+pp.options[:child_index].to_s+");" %>
	<%= pp.hint "Write the position" %>

	<%= pp.label :opciones, "Options" %>
	<%= pp.text_field :opciones %>
	<%= pp.hint "Write the number of options" %>

	<%= pp.label :palabra_id, "Word" %>
	<%= pp.searchable_select :palabra_id, InstantPhrasesPalabra.all, :id, :sintaxis %>
	<%= pp.hint "Select the word" %>

<% end %>

<script type="text/javascript">
	function comprobate_unique_position(value, pos){
		var field = document.getElementById("instant_phrases_frase_instant_phrases_partes_attributes_"+pos+"_posicion");
		var flag = true;
		var i = 0;
		while(flag){
			if(i != pos)var position = document.getElementById("instant_phrases_frase_instant_phrases_partes_attributes_"+i+"_posicion");
			if(position != null && position.value == value){
				alert("Ya hay una palabra en la posición "+value+". \nAgruegue una posición diferente y que sea continua");
				field.value = field.defaultValue;
				flag = false
			}else if(position == null){
				flag = false
			}
			i++;
		}
	}
</script>