<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :id %>
      <%= index_th :imagen %>
      <%= index_th :nivel %>
      <%= index_th :tipo %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |frase| %>
      <tr>
        <%= index_td frase, :id %>
        <%= index_td frase, image_tag(frase.imagen, size: "60x40", alt: :imagen) %> 
        <%= index_td frase, :nivel %>         
        <%= index_td frase, InstantPhrasesTipoFrase.find(frase.tipo).nombre %>         
        <%= actions_td frase %>
      </tr>
    <% end %>
  </tbody>
<% end %>