<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_level", "change_level").present? || user.is_superuser == true %>

<%= f.label :difficulty_level %>
<%= f.text_field :difficulty_level , placeholder:"Difficulty", type: "number"%>
<%= f.hint "Number of difficulty" %>

<%= f.label :color %>
<%= f.swatch_field :color, placeholder:"#CC0000" %>
<%= f.hint "Choose a color for this level"%>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>