<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_level").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :id %>
      <%= index_th :difficulty_level %>
      <%= index_th :color %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |level| %>
      <tr>
        <%= index_td level, :id %>
        <%= index_td level, "Level" + ' ' + level.difficulty_level.to_s %>
        <%= index_td level, :color %>
        <%= actions_td level %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>