<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_coupon", "change_coupon").present? || user.is_superuser == true %>

<%= f.label :reference %>
<%= f.text_field :reference , placeholder:"Reference of coupon" %>
<%= f.hint "Reference of the coupon" %>

<%= f.label :percentage_discount %>
<%= f.text_field :percentage_discount , placeholder:"Percentage of discount", type: "number"%>
<%= f.hint "Percentage of discount of the coupon" %>

<%= f.label :date_start, "Start date" %>
<%= f.timestamp_field :date_start %>
<%= f.hint "Start date of coupon" %>

<%= f.label :date_end, "End date" %>
<%= f.timestamp_field :date_end %>
<%= f.hint "End date of coupon" %>

<%= f.label :paymentpasarel_subscriptioncategory_ids, "Categories" %>
<%= f.searchable_select :paymentpasarel_subscriptioncategory_ids, PaymentPasarelSubscriptioncategory.all, :id, :name, multiple:true %>
<%= f.hint "Select all the categories that applies" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>