<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_useractivity", "change_useractivity").present? || user.is_superuser == true %>

<%= f.label :user_id, "User" %>
<%= f.searchable_select :user_id, AuthUser.all, :id, :username %>
<%= f.hint "Select the user" %>

<%= f.label :activity_id, "Activity" %>
<%= f.searchable_select :activity_id, LmsActivity.all, :id, :name %>
<%= f.hint "Select the activity" %>

<%= f.label :successfull, "Successful" %>
<div class="field-cluster"><%= f.check_box :successfull %></div>
<%= f.hint "Is successful" %>

<%= f.label :score %>
<%= f.text_field :score , placeholder:"Score", type: "number"%>
<%= f.hint "Score for the activity" %>

<%= f.label :possibleScore %>
<%= f.text_field :possibleScore , placeholder:"Possible score", type: "number"%>
<%= f.hint "Possible score of the activity" %>

<%= f.label :date %>
<div class="field-cluster"><%= f.date_select :date %></div>
<%= f.hint "Date of assigned question" %>

<%= f.label :assigned, "Assigned" %>
<div class="field-cluster"><%= f.check_box :assigned %></div>
<%= f.hint "Is assigned" %>

<%= f.label :assigned_activity_id, "Assigned activity" %>
<%= f.searchable_select :assigned_activity_id, LatamusersAssignedactivity.all, :id, :id %>
<%= f.hint "Select the id of assigned activity" %>

<%= f.label :current_try %>
<%= f.text_field :current_try , placeholder:"Current try", type: "number"%>
<%= f.hint "Current try of the activity" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>