<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_useractivity").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :activity_id %>
      <%= index_th :user_id %>
      <%= index_th :assigned %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |assigned| %>
      <tr>
        <%= index_td assigned, LmsActivity.find(assigned.activity_id).name %>
        <%= index_td assigned, AuthUser.find(assigned.user_id).username %> 
        <%= index_td assigned, assigned.assigned %>         
        <%= actions_td assigned %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>