<%= f.label :id %>
<%= f.text_field :id , placeholder:"Word code", disabled: true %>
<%= f.hint "Word code" %>

<%= f.label :sintaxis, "Sintax" %>
<%= f.text_field :sintaxis, placeholder:"Word sintax" %>
<%= f.hint "Sintax Phrase" %>

<%= f.label :definición, "Word definition" %>
<%= f.text_field :definicion, placeholder:"Word definition" %>
<%= f.hint "Word definition" %>

<%= f.label :title, "Type" %>
<%= f.searchable_select :tipo, InstantPhrasesTipoFrase.order("nombre ASC"), :id, :nombre, multiple:false %>
<%= f.hint "Select the type of phrase" %>
