<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :id %>
      <%= index_th :sintaxis %>
      <%= index_th :definición %>
      <%= index_th :tipo %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |palabra| %>
      <tr>
        <%= index_td palabra, :id %>
        <%= index_td palabra, :sintaxis %>        
        <%= index_td palabra, :definicion %>        
        <%= index_td palabra, InstantPhrasesTipoFrase.find(palabra.tipo).nombre %>         
        <%= actions_td palabra %>
      </tr>
    <% end %>
  </tbody>
<% end %>