<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_registrationprofile", "change_registrationprofile").present? || user.is_superuser == true %>

<%= f.label :user_id, "User" %>
<%= f.searchable_select :user_id, AuthUser.all, :id, :username %>
<%= f.hint "Select a user" %>

<%= f.label :activation_key %>
<%= f.text_field :activation_key , placeholder:"Activation key" %>
<%= f.hint "Activation key for the user" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>