<%= javascript_include_tag Ckeditor.cdn_url %>

<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_question", "change_question").present? || user.is_superuser == true %>

<% if @resource.type_id == 3 and @resource.parent.nil? %>
<%= f.label :definition, 'Description' %><br><br><br><br>
<%= f.cktext_area :definition %>
<%= f.hint "Please fill this definition for Drag and Drop question. If you fill this field, the default description are going to be replaced to this one" %>
<% end %>

<%= f.label :text %><br><br><br><br><br><br><br>
<div id="instructionsFill"  style="<%= (@resource.type_id == 2) ? '' : 'display: none;'%>">
	<font color="black">Instrucciones para crear una pregunta de tipo fill in the blanks.
		<br>
		<br>
		Frase a construir:  <b>Este es un <u>excelente ejemplo</u> de creación de <u>fill in the blanks</u></b>
		<br>
		<br>
		Escriba el cuerpo de la frase reemplazando los espacios a completar por el símbolo <b>$#</b>, donde "<b>#</b>" indica el número de la parte que corresponde al espacio en blanco; para este ejemplo quedaría de la siguiente manera:
			Este es un <b>$1</b> de creación de <b>$2</b>
		<br>
		<br>
		En el campo "Answer" escriba las respuestas correspondientes a cada espacio en blanco separadas por coma, para este ejemplo sería:
		<br>
		excelente ejemplo,fill in the blanks <b>(Sin espacios al lado de las comas)</b>
		<br>
		<br>
		Así ve el usuario el ejercicio completo y correcto:
		<br>Este es un ___________ de creación de _____________
		<br>
		<br>
	</font>
</div>

<%= f.cktext_area :text %>
<%= f.hint "Please fill this question" %>

<%= f.label :type_id, "Type" %>
<%= f.searchable_select :type_id, QuestionType.all, :id, :name, :onchange => "javascript:showParent();" %>
<%= f.hint "Select the type of this question" %>

<%= f.label :lms_activity_id, "Activity" %>
<%= f.searchable_select :activity_id, LmsActivity.order(id: :desc), :id, :name, include_blank:true %>
<%= f.hint "Select the activity of this question" %>

<%= f.label :lms_category_id, "Category" %>
<%= f.searchable_select :category_id, LmsCategory.all, :id, :name %>
<%= f.hint "Select the category of this question" %>

<% if @resource.parent.blank? %>
	<%= f.label :order, "Order" %>
	<%= f.text_field :order, :type => "number" %>
	<%= f.hint "If you want, you can define an order of apparition of question. **Remember to put order number for all questions of activity to make effective the order. In the case of drag and drop, you must put the order number only in the first question of the drag and drop" %>
<% end %>

<% media = MediaMedium.order(id: :desc) %>
<%= f.label :media_id, "Media" %>
<div class="field-cluster"><%= f.searchable_select :media_id, media, :id, :title, include_blank:true %>
<%= f.hint "Media of question" %><button class="button" type="button" id="remove_question_media">Eliminar</button></div>

<div id="check_box_voice" style="<%= (@resource.type_id == 2) ? '' : 'display: none;'%>">
	<%= f.label :fill_with_voice, "Fill with voice" %>
	<div class="field-cluster"><%= f.check_box :fill_with_voice %></div>
	<%= f.hint "Select if question will be filling with voice" %>
	<br>
</div>

<%= f.has_many :lms_answers do |u| %>

	<%= u.has_many_header allow_destroy:true %>
	<%= u.label :text, "Answer" %>
	<%= u.text_field :text %>
	<%= u.hint "Text of the answer. If this is for Open-Domain Question, you must write errors,minimum,maximum of the answer with numbers to validate the response of student" %>

	<%= u.label :Media_media_id, "Media" %>
	<%= u.searchable_select :Media_media_id, media, :id, :title, include_blank:true %>
	<%= u.hint "Media of answer" %>

	<%= u.label :correctAnswer, "Is the correct?" %>
	<div class="field-cluster"><%= u.check_box :correctAnswer %></div>
	<%= u.hint "Select if is the correct answer" %>

<% end %>

<div id="parentContent">

<%= f.has_many :lms_questions do |q| %>

	<%= q.has_many_header allow_destroy:true %>

	<%= q.label :text %>
	<%= q.text_area :text %>
	<%= q.hint "Please fill this question" %>

	<%= q.label :type_id, "Type" %>
	<%= q.searchable_select :type_id, QuestionType.all, :id, :name, {:selected => 3} %>
	<%= q.hint "Select the type of this question" %>

	<%= q.label :lms_activity_id, "Activity" %>
	<%= q.searchable_select :activity_id, LmsActivity.order(id: :desc), :id, :name, {:selected => f.object.activity_id} %>
	<%= q.hint "Select the activity of this question" %>

	<%= q.label :lms_category_id, "Category" %>
	<%= q.searchable_select :category_id, LmsCategory.all, :id, :name, {:selected => f.object.category_id} %>
	<%= q.hint "Select the category of this question" %>

	<%= q.label :media_id, "Media" %>
	<%= q.searchable_select :media_id, MediaMedium.all, :id, :title, include_blank:true  %>
	<%= q.hint "Media of question" %>

<% end %>

</div>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>
<script>
window.onload = showParent;	
function showParent(){
	var parent = <%=f.object.parent.nil?%>;
	if(parent && $('#lms_question_type_id')[0].value == 3){
		$("#instructionsFill").hide();
		$("#check_box_voice").hide();
		$("#parentContent").show();
	}else if($('#lms_question_type_id')[0].value == 2){
		$("#parentContent").hide();
		$("#instructionsFill").show();
		$("#check_box_voice").show();
	}else{
		$("#instructionsFill").hide();
		$("#parentContent").hide();
		$("#check_box_voice").hide();
	}
}

(function(funcName, baseObj) {
    funcName = funcName || "docReady";
    baseObj = baseObj || window;
    var readyList = [];
    var readyFired = false;
    var readyEventHandlersInstalled = false;

    function ready() {
        if (!readyFired) {
            readyFired = true;
            for (var i = 0; i < readyList.length; i++) {
                readyList[i].fn.call(window, readyList[i].ctx);
            }
            readyList = [];
        }
    }

    function readyStateChange() {
        if ( document.readyState === "complete" ) {
            ready();
        }
    }

    baseObj[funcName] = function(callback, context) {
        if (typeof callback !== "function") {
            throw new TypeError("callback for docReady(fn) must be a function");
        }
        if (readyFired) {
            setTimeout(function() {callback(context);}, 1);
            return;
        } else {
            readyList.push({fn: callback, ctx: context});
        }
        if (document.readyState === "complete") {
            setTimeout(ready, 1);
        } else if (!readyEventHandlersInstalled) {
            if (document.addEventListener) {
                document.addEventListener("DOMContentLoaded", ready, false);
                window.addEventListener("load", ready, false);
            } else {
                document.attachEvent("onreadystatechange", readyStateChange);
                window.attachEvent("onload", ready);
            }
            readyEventHandlersInstalled = true;
        }
    }
})("docReady", window);

docReady(function() {
	$("#remove_question_media").click(function(){
		$("#lms_question_media_id").val('').trigger('chosen:updated');
	});
});
</script>

<script type="text/javascript">
	CKEDITOR.config.pasteFromWordPromptCleanup = true;
</script>