<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_question").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :id %>
      <%= index_th :type %>
      <%= index_th :text %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |question| %>
      <tr>
        <%= index_td question, :id %>
        <td><p><%= question.question_type.name %></p></td>
        <%= index_td question, :text %>
        <%= actions_td question %>
      </tr>
    <% end %>
  </tbody>
<% end %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>