@import url(https://fonts.googleapis.com/css?family=Tinos|PT+Sans);
html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  vertical-align: middle; }

h1, h2, h3, h4, h5, h6, a, .date {
  font-family: 'PT Sans', sans-serif; }

button:hover, button:visited, button:active, .btn-post:hover, .btn-post:visited, .btn-post:active {
    text-decoration:none;
    color:white;
}

a:hover {
    text-decoration:none;
}

.col1 {
    display: inline-block;
    text-align: right;
    margin-left: 25%;
    width:24%;
}

.col2 {
    display: inline-block;
    margin-right: 25%;
    width:25%;
}

.col11 {
    display: inline-block;
    text-align: left;
    width:24%;
}

.col12 {
    display: inline-block;
    width:70%;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-skype {
  background: #00aff0;
  color: white;
}

.fa-android {
  background: #a4c639;
  color: white;
}

.fa-dribbble {
  background: #ea4c89;
  color: white;
}

.fa-vimeo {
  background: #45bbff;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.fa-vine {
  background: #00b489;
  color: white;
}

.fa-foursquare {
  background: #45bbff;
  color: white;
}

.fa-stumbleupon {
  background: #eb4924;
  color: white;
}

.fa-flickr {
  background: #f40083;
  color: white;
}

.fa-yahoo {
  background: #430297;
  color: white;
}

.fa-soundcloud {
  background: #ff5500;
  color: white;
}

.fa-reddit {
  background: #ff5700;
  color: white;
}

.fa-rss {
  background: #ff6600;
  color: white;
}

p + p {
  margin-top: 1em; }

button {
  border: none;
  background: none; }

p {
  line-height: 1.5;
  font-family: 'Tinos', serif;
  color: #6b6b6b;
  letter-spacing: .04em; }

img {
  max-width: 100%; }

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-family: 'Tinos', serif;
  color: #6b6b6b;
  letter-spacing: .04em; }

.section h1, .article h1 {
  font-size: 2em;
  line-height: 1.4;
  color: #666666;
  margin-bottom: .7em; }

.ad_service {
  text-align: center;
  display: inline-block;
  margin: .5em auto; }

.endless_container {
  position: relative;
  width: 100%;
  text-align: center;
  background: #eeeeee;
  padding: .5em; }
  .endless_container a {
    text-decoration: none;
    color: #666;
    font-style: italic;
    display: block; }

div[class^="ads_"] {
  display: block;
  text-align: center; }

.activityList .article-gallery li img {
  width: 100%; }

.article-gallery li img {
  width: 60%; }

.article h1 {
  font-size: 2em;
  line-height: 1.4;
  color: #666666;
  margin-bottom: .7em; }
.article .gallery-grid:after {
  content: '';
  display: table;
  height: 1px; }
.article .gallery-grid li {
  position: relative;
  width: 25%;
  padding-top: 25%;
  overflow: hidden;
  float: left;
  border: 2px solid #FFFFFF; }
  .article .gallery-grid li img {
    position: absolute;
    left: -50%;
    right: -50%;
    top: 0;
    max-width: none;
    width: auto;
    height: 100%; }

.date {
  font-style: italic;
  font-size: .8em;
  text-align: right;
  display: block;
  color: #666;
  margin-bottom: .7em; }

.video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.thumbnail-image {
  border-radius:50%;
}

html, body {
  height: 100%; }

h1 {
  margin-bottom: 1em; }

#wrap {
  min-height: 100%; }

#main {
  /*overflow: auto; APDI*/
  padding-left: 15px; /*APDI*/
  padding-bottom: 180px;
  padding-top: 20px; }

/* must be same height as the footer */
#footer {
  position: relative;
  /* negative value of footer height */
  min-height: 180px;
  clear: both;
  background: #444;
  color: #fff; }

#post-logo {
  max-width:80%;
}

.stat-title {
  margin-bottom: 1em;
  color: #82d2d6; }
  .stat-title svg {
    height: 2em; }

.blockquote-reverse {
  border-right:none;
}
@media only screen and (max-device-width: 480px) {
     .container {
                 margin-right: auto;
                 margin-left: 0px;
                 max-width: 77em;
           }
    .activity .question {
           width:119%;
    }
    #post-logo{
      max-width:70%; 
    }
}

  .container::after {
    clear: both;
    content: "";
    display: table; }

.error, .errorlist li {
  padding: .5em;
  background: lightpink;
  color: darkred;
  border-radius: 3px;
  margin-bottom: .75em; }

.hero {
  position: relative; }
  .hero .container {
    height: 100%; }
  .hero figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .hero figcaption .slideInfo {
      color: #fff; }
      @media screen and (min-width: 47.5em) {
        .hero figcaption .slideInfo {
          text-align: left;
          font-size: 120%;
          padding: 1em 0;
          height: 100%;
          display: table; }
          .hero figcaption .slideInfo div {
            display: table-cell;
            width:50%;
            vertical-align: middle; } }
      .hero figcaption .slideInfo p {
        color: inherit; }
.slideLogo{
    display: table-cell;
}

a.definition {
    /*position: relative;*/
    vertical-align: baseline;
  }

.definition .tooltiptext {
    visibility: hidden;
    width: 420px;
    background-color: rgba(85, 85, 85, 0.45);
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    left: 50%;
    margin-top: 20px;
}

.definition:hover .tooltiptext {
    visibility: visible;
}

.definition .tooltiptext_error {
  visibility: hidden;
  background-color: rgba(85, 85, 85, 1);;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding-left: 5px;
  padding-right: 5px;

  /* Position the tooltip */
  position: absolute;
  margin-top: 20px;
}

.definition:hover .tooltiptext_error {
  visibility: visible;
}

.main .activity {
  max-width: 100%;
  width: 100%; }

.activity {
  margin: 1em; }
  @media screen and (min-width: 47.5em) {
    .activity {
      max-width: 80%;
      margin: 1em auto; } }
  .activity.detail header {
    padding: 1em 0;
    background: #fff; }
    .activity.detail header svg {
      height: 40px;
      width: 60px; }
  .activity header {
    background: #EEEEEE;
    padding: 1em;
    display: block; }
    .activity header::after {
      clear: both;
      content: "";
      display: table; }
    .activity header .icon {
      width: 110px;
      text-align: center;
      float: left; }
      .activity header .icon h3 {
        font-size: 1em;
        color: #f26e66; }
  .activity .content * + * {
    margin-top: 1em; }
  .activity .media {
    text-align: center;
    margin-bottom: 1em; }
    .activity .media h2 {
      margin-top: -9px;
      bottom: 0;
      width: 100%;
      padding: 1em;
      left: 0;
      color: #fff;
      text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.5);
      background: -webkit-linear-gradient(transparent 10%, rgba(0, 0, 0, 0.8));
      background: -webkit-linear-gradient(to, rgba(0, 0, 0, 0.8));
      background: linear-gradient(to   , rgba(0, 0, 0, 0.8)); }
      .activity .media h2 p {
        color: #FFFFFF; }
      .activity .media h2.title {
        position: relative;
        color: #444444;
        padding: 1em 0;
        text-shadow: none;
        background: none; }
  
    @media screen and (min-width: 47.5em) {
      .activity .question {
        border: 2px solid #eee;
        padding: 1em 0em; } }
    .activity .question ul {
      padding-left: 2em; }
    .activity .question li {
      line-height: 1.5;
      list-style: upper-alpha; }
      .activity .question li p {
        display: inline-block;
        padding: 0 .5em; }
      .activity .question li .true {
        background: #f37734;
        color: #FFFFFF; }

.btn-post {
  margin: 1em 0;
  background: #53beed;
  display:inline-block;
  color: #FFFFFF;
  padding: .5em;
 /* text-transform: capitalize;*/
  font-family: 'PT Sans', sans-serif;
  text-decoration: none;
  border-bottom: 4px solid #25ade8; }

.btn-post.btn-red {
  background: #f37734;
  border-bottom-color: #e65a0e; 
}

.right {
  text-align: right; }

.menu {
  background: #444;
  color: #fff;
  display: block;
  width: 100%; }
  .menu::after {
    clear: both;
    content: "";
    display: table; }
  .menu svg {
    width: 3em;
    height: 3em; }
    .menu svg g {
      fill: #fff; }
  .menu li {
    list-style: none;
    display: block;
    float: left; }
    .menu li.profile_nav {
      float: right; }
    .menu li a {
      display: block;
      line-height: 3;
      padding: 0 1em;
      text-decoration: none;
      color: #fff;
      font-weight: 100; }
      .menu li a:hover, .menu li a:active {
        background: #333; }

.section-title {
  font-size: 1em;
  margin-bottom: .5em; }

.login form a.pwd_recover {
  background: none;
  border-bottom: none;
  color: #666666;
  text-align: center;
  display: block;
  font-size: .8em; }

#quickLinks {
  text-align: right; }
  #quickLinks ul {
    display: inline-block; }

[ng-click] {
  cursor: pointer; }

.center {
  text-align: center; }

.scoreset {
  width: 100%;
  font-family: 'PT sans', sans-serif; }
  .scoreset .score {
    color: #87c457;
    text-align: left; }
  .scoreset .stats {
    color: #f66c69;
    text-align: right; }
  .scoreset tbody {
    margin-top: 2em; }
  .scoreset td, .scoreset th {
    text-align: center;
    padding: 1em; }

/*.row {
  display: block;
  padding: 1em 0 2em;
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em; }APDI*/
  .row::after {
    clear: both;
    content: "";
    display: table; }

.activityList {
  display: block;
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc; }
  .activityList::after {
    clear: both;
    content: "";
    display: table; }
  .activityList h3 {
    margin-bottom: 1em; }
    .activityList h3 svg {
      height: 40px;
      width: 60px; }
  .activityList h2 {
    margin-bottom: 1em; }
  .activityList .level {
    float: right; }
  .activityList .article-gallery {
    width: 40%;
    float: left;
    margin-right: 1em; }

.category {
  /*border: 1px solid #000;*/
  margin: 50px 1em 1em 1em;
  padding: 1em;
  text-align: center; }
  @media screen and (min-width: 47.5em) {
    .category {
      margin: 50px 0 40px 0;
      float: left;
      display: block;
      margin-right: 10.1483979942%;
      width: 26.5677346705%;
      text-align: center; }
      .category:last-child {
        margin-right: 0; } }
  .category .icon {
    text-align: center;
    margin-top: -50px; }
    .category .icon svg {
      background: #fff; }
    .category .icon h3 {
      font-size: 1em;
      color: #f26e66; }

.level span {
  height: 30px;
  width: 30px;
  display: inline-block;
  text-align: center;
  line-height: 30px;
  color: #FFFFFF;
  border-radius: 50%; }

.beginner span {
  height: 32px;
  width: 115px;
  display: inline-block;
  text-align: center;
  line-height: 32px;
  color: #FFFFFF;
  border-radius: 50%; }

.main_l {
  padding-top: 1em; }
  @media screen and (min-width: 60em) {
    .main_l {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 74.4105871005%;
      padding-right: 1em; }
      .main_l:last-child {
        margin-right: 0; } }

@media screen and (min-width: 60em) {
  .sidebar_s {
    float: left;
    display: block;
    margin-right: 2.3576515979%;
    width: 23.2317613015%;
    margin-top: 10px; }
    .sidebar_s:last-child {
      margin-right: 0; } }

.module_title {
  color: #f26e66;
  font-size: 1.5em;
  border-bottom: 4px solid #f26e66;
  margin-bottom: .5em; }
form .form-group {
  float: left;
  display: block;
  margin-right: 16.0363113405%;
  width: 41.9818443298%; }
  form .form-group:last-child {
    margin-right: 0; }
form .row {
  border: none;
  padding: 0; }
form label {
  display: block;
  margin-bottom: .5em;
  font-family: 'Open Sans', sans-serif;
  color: #666; }
form input[type="text"], form input[type="email"], form input[type="password"], form input[type="number"], form input[type="date"], form textarea {
  line-height: 1.2;
  padding: .5em;
  border: 1px solid #cccccc;
  width: 100%; }
form .error {
  margin-top: 1em; }
form h3 {
  font-size: 1.5em;
  padding-bottom: 1em;
  margin-bottom: 1em;
  border-bottom: 1px solid #cccccc;
  color: #f26e66; }
form select {
  max-width: 113%; height: auto !important; border: 1px solid #e3e3e3; border-radius: 3px; background-color: #c4c9cc;; color: #fff; font-size: 18px; line-height: 16px !important; -moz-appearance: none;
  font-family: 'PT Sans', sans-serif; }
form select option { padding: 0 10px !important; }

.main {
  padding-top: 1em; }
  @media screen and (min-width: 60em) {
    .main {
      float: left;
      display: block;
      margin-right: 2.38%;
      margin-left: 0px;
      padding-right: 3em;
      width: 64.881%;
      }
      .main:last-child {
        margin-right: 0; } }

.login {
  background: #EEEEEE;
  padding: 2em;
  margin: 70px auto 1em;
  max-width: 400px;
  display: block; }
  .login .heading {
    text-align: center;
    margin-top: -100px; }
  .login form input {
    display: block;
    width: 100%;
    margin-bottom: 1em;
    border: none;
    line-height: 1.5;
    padding: 1em; }
  .login form button {
    background: #45c0e9;
    border-bottom: 4px solid #1bafe0; }
  .login form a {
    background: #88c557;
    border-bottom: 4px solid #6ead3c; }

.login-btn {
  font-size: 16px;
  color: #FFFFFF;
  width: 100%;
  padding: .7em;
  display: block;
  margin: 1em 0;
  text-align: center;
  text-decoration: none; }

.login-btn:hover, .login-btn:visited {
  color:#FFFFFF; 
}
.sidebar {
  padding-top: 1em; }
  @media screen and (min-width: 60em) {
    .sidebar {
      float: left;
      display: block;
      margin-right: 2.3576515979%;
      width: 31.7615656014%; }
      .sidebar:last-child {
        margin-right: 0; } }

.activity_answer:hover{
  background-color: #E7AA17;
}

.right_answer, .wrong_answer {
  display: inline-block;
  height: 16px;
  width: 16px; }

.right_answer {
  background-image: image-url("right.png"); }

.wrong_answer {
  background-image: image-url("wrong.png"); }

.stat_icon {
  height: 35px;
  width: 35px;
  display: inline-block; }
  .stat_icon.trophy {
    background-image: image-url("trophy.png"); }
  .stat_icon.answers {
    background-image: image-url("board.png"); }
  .stat_icon.earned {
    background-image: image-url("starts.png"); }

.points {
  display: block;
  color: #87c457; }

.activity_footer {
  display: block; }
  .activity_footer::after {
    clear: both;
    content: "";
    display: table; }

.profile-pic {
  width: 100%;
  height: 0;
  padding-top: 70%;
  position: relative;
  /*overflow: hidden;
  border-radius: 50%;*/
  margin: 1em 0; }
  .profile-pic img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }

.sidebar_menu a {
  padding: 1em .5em;
  border-bottom: 1px solid #cccccc;
  color: #666;
  text-decoration: none;
  display: block;
  font-size: 1em;  
  }

.how {
  color: #f66c69;
  font-style: italic;
  margin-bottom: 1em; }

.profile h4 {
  text-align: center;
  color: #f66c69;
  font-style: italic; }
.profile .row {
  border: none;
  margin-bottom: 0; }
.profile .category h3 {
  color: #87c457; }
.profile .category .intro {
  position: relative;
  }
  .profile .category .intro h4 {
    font-size: 4em;
    font-style: normal; }
  .profile .category .intro .btn-post {
    position: relative;
    bottom: 1px;
    width: 100%;
    left: 0;
    }

.profile .category .intro_subscription {
    position: relative;
    max-height: 180px;
}

.profile .category .intro_subscription .btn-post{
    width:100%;
}


.profile_nav {
  float: right; }

.high_scores {
  margin: 1em 0;
  background: #EEEEEE;
  border-bottom: 5px solid #ffc946; }
  .high_scores h2 {
    background: #ffc946;
    color: #fff;
    font-size: 1em;
    padding: .5em; }
  .high_scores .high_score {
    padding: 1em .5em 1em 60px;
    position: relative;
    border-bottom: 1px solid #cccccc;
    color: #666; }
    .high_scores .high_score .level {
      height: 30px;
      width: 30px;
      position: absolute;
      top: 15px;
      left: 15px;
      border-radius: 50%;
      display: block;
      background: #ffc946;
      line-height: 30px;
      vertical-align: middle;
      text-align: center;
      color: #fff; }

.credit {
  margin: 1em 0;
  font-size: 80%; }

.img {
  text-align: center; }
  .img img {
    max-width: 100%; }

.video {
  position: relative;
  width: 100%;
  height: 0;
  padding-top: 56.6%;
  margin-bottom: 2em; }
  .video iframe, .video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.page_title {
  margin-bottom: 1em;
  color: #f66c69; }
  .page_title.blue {
    color: #45c0e9; }

/*Search*/
#id_q {
    background: transparent none repeat scroll 0% 0%;
    border-width: medium medium 2px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #CCC;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: #CCC;
    line-height: 1.5;
    font-size: 1em;
    padding: 11px 0em 0px 0px;
    margin: 0px;
    display: block;
    max-width: 100%;
}

.btn-search {
    border-width: medium medium 2px;
    border-style: none none solid;
    border-color: -moz-use-text-color -moz-use-text-color #CCC;
    border-color: -moz-use-text-color -moz-use-text-color #CCC;
    -moz-border-top-colors: none;
    -moz-border-right-colors: none;
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    border-image: none;
    color: #CCC;
    padding:4px 0px 0px 0px;
}

/*Caracterizacion*/	
  .page_title_car.green {
   font-size: 1.1em;
   color: #9BC45E; }
  .text_check{
	  font-size: 0.7em;
  }
   
#footer * {
  color: #fff !important; }
#footer .col {
  float: left;
  display: block;
  margin-right: 16.0363113405%;
  width: 41.9818443298%;
  padding-top: 1em; }
  #footer .col:last-child {
    margin-right: 0; }
#footer .social {
  text-align: right;
  padding: 1em 0; }
  #footer .social li {
    display: inline-block; }
    #footer .social li img {
      width: 30px; }
#footer .footer-menu li {
  width: 50%;
  float: left; }
  #footer .footer-menu li:nth-child(2n+1) {
    clear: left; }
  #footer .footer-menu li a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: .25em 1em .25em 0; }

.filter {
  display: inline-block;
  width: 49%; 
  text-align:right;
  margin-bottom: 10px; }
.article_filter {
  display: inline;
  width: 100%;
  margin-bottom: 1em; }
  .article_filter li {
    display: inline-block;
    background: #ccc;
    margin-right: .5em; }
    .article_filter li a {
      padding: 1em;
      display: block;
      color: #666666;
      text-decoration: none; }
      .article_filter li a:hover {
        color: #fff;
        background: #666666; }

.submenu {
  position: relative; }
  .submenu ul {
    position: absolute;
    right: 0;
    z-index: 999;
    background: rgba(68, 68, 68, 0.8);
    display: none; }
    .submenu ul li a {
      min-width: 150px;
      padding: 0 1em; }
      
.submenu .menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}
#search_results a, #search_results a:hover{
   text-decoration:none;
   color:#F26E66;
}
#excersises{
  display: none;
}

.btn-info {
  display: inline-block;
  padding: 3px 8px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: #53beed;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}

.label-replace {
  display: inline-block;
  padding-right: 6px;
  font-size: 24px;
  text-align: center;
  color: #53beed;
  border: none;
}

.label-score {
  display: inline-block;
  font-size: 24px;
  color: #53beed;
}

.btn {
  margin-bottom: 11px;
}

.btn-info:hover {
  color: #fff;
  background-color: #337ab7;
  border-color: #2aabd2;
}

.btn-info:focus, .btn-info.focus {
  -webkit-box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
          box-shadow: 0 0 0 2px rgba(91, 192, 222, 0.5);
}

.btn-info.disabled, .btn-info:disabled {
  background-color: #5bc0de;
  border-color: #5bc0de;
}

.btn-info:active, .btn-info.active,
.show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #337ab7;
  background: none;
  border-color: #337ab7;
}
.seach_button{
    background-image: image_url("Lupa.png");
    width: 30px;
    height: 30px;
    background-size: 30px 30px;
    margin-top: 7px;
}

#nav ul a {
    padding: 1em 20px;
}

#nav ul {
    padding:0;
    left:0;
    display:none; /* hides sublists */
}

#nav li:hover ul ul {display:none;} /* hides sub-sublists */

#nav li:hover ul {display:block;} /* shows sublist on hover */

.big_text{
  font-size: 2em;
}

// start drag and drop
/* Contenedor del puzzle*/
.contenedorPuzzle {
    width: 100%;
    padding: 20px;
    overflow: hidden;
}

/* Puzzle */
#answersContent {
    width: 47%;
    float: left;
    margin-left: 10px;
    border-radius: 2px;
    display: inline-block;
    text-align: center;
}

.puzzle {
    width: 47%;
    float: right;
    margin-right: 10px;
    background: linear-gradient(to right, #46cdda , #52a0e1);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
    border-radius: 2px;
    display: inline-block;
}

.answerConetnt {
    width: 80%;
    height: 94px;
    padding: 3px;
    background: #fff;
    display: inline-block;
    margin: 0.3rem;
    position: relative;
    border-style: dashed;
    border-radius: 30px;
    border-width: 2px;
    border-color: #2c5b85;
    text-align: center;
}

.answerConetnt:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.contenedorPieza {
    display: table;
    width: 57%;
    height: 94px;
    float: left;
    margin: 0.3rem;
    background-image: image-url("draganddrop.png");
    background-size: cover;
    border-style: dashed;
    border-width: 2px;
    border-color: #2c5b85;
    border-radius: 30px;
    color: #2c5b85;
    text-align: center;
}

.contenedorPieza .answerConetnt {
    display: table-cell;
}

.contenedorPuzzle img {
    border-radius: 7pt;
}
.drag_answer p{
    display: table-cell;
    color: #fff;
}
.drag_answer {
    text-align: center;
    display: table;
    float: left;
    padding: 1px;
    width: 40%;
    height: 94px;
    margin: 0.3rem;
}
// end drag and drop
.ng-binding p{
  display: inline-block;
}