<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_tag", "change_tag").present? || user.is_superuser == true %>

<%= f.label :name %>
<%= f.text_field :name , placeholder:"Name of tag" %>
<%= f.hint "Please type the name of tag" %>

<%= f.label :slug %>
<%= f.slug_field :slug, placeholder:"Slug", pattern:"/*" %>
<%= f.hint "Slug of tag" %>

<%= f.has_many :taggit_taggeditems do |f| %>

	<%= f.has_many_header allow_destroy:true %>

	<%= f.label :object_id %>
	<%= f.text_field :object_id , placeholder:"Object id" %>
	<%= f.hint "Please type the id of the object" %>

	<%= f.label :content_type_id, "Content" %>
	<%= f.searchable_select :content_type_id, DjangoContentType.all, :id, :name %>
	<%= f.hint "Select the content of tagged item" %>

<% end %>

<div class="has-many">
</div>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>

<script type="text/javascript">
	document.getElementsByClassName('has-many-create')[0].setAttribute("data-id", 0);
</script>