<%= f.label :email %>
<%= f.text_field :email, placeholder:"Email" %>
<%= f.hint "Specify the email of user" %>

<%= f.label :password %>
<%= f.text_field :password, placeholder:"Password", type:"password" %>
<%= f.hint "Specify a password for user" %>