<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_subscriptioncategory", "change_subscriptioncategory").present? || user.is_superuser == true %>

<%= f.label :description %>
<%= f.text_field :description , placeholder:"Description of category" %>
<%= f.hint "Description of category" %>

<%= f.label :name %>
<%= f.text_field :name , placeholder:"Name of the category" %>
<%= f.hint "Name of category" %>

<%= f.label :value %>
<%= f.text_field :value , placeholder:"Value of the category" %>
<%= f.hint "Value of the category" %>

<%= f.label :duration %>
<%= f.text_field :duration , placeholder:"Duration fo category" %>
<%= f.hint "Duration of category" %>

<%= f.label :state, "State" %>
<div class="field-cluster"><%= f.check_box :state %></div>
<%= f.hint "State of the category" %>

<%= f.label :iva %>
<%= f.text_field :iva , placeholder:"Iva for the category" %>
<%= f.hint "Iva of the category" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>