<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_slide", "change_slide").present? || user.is_superuser == true %>

<%= f.label :title %>
<%= f.text_field :title, placeholder:"Post title" %>
<%= f.hint "Title of slide" %>

<%= f.label :text %>
<%= f.text_area :text, placeholder:"Post title" %>
<%= f.hint "Text of the slide" %>

<%= f.label :image_id, "Image" %>
<%= f.searchable_select :image_id, MediaMedium.where('type = ?','image'), :id, :title, include_blank:false %>
<%= f.hint "Image of slide" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>