<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_quote", "change_quote").present? || user.is_superuser == true %>

<%= f.label :author %>
<%= f.text_field :author, placeholder:"Author name" %>
<%= f.hint "Name of the author" %>

<%= f.label :quote %>
<%= f.text_area :quote, placeholder:"Quote" %>
<%= f.hint "Quote of the author" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>