<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ? OR "auth_permission"."codename" = ?', "add_subscriptioninformation", "change_subscriptioninformation").present? || user.is_superuser == true %>

<%= f.label :reference %>
<%= f.text_field :reference , placeholder:"Reference of payment" %>
<%= f.hint "Reference of payment" %>

<%= f.label :moneda %>
<%= f.text_field :moneda , placeholder:"Moneda del pago" %>
<%= f.hint "Moneda del pago" %>

<%= f.label :valor %>
<%= f.text_field :valor , placeholder:"Valor del pago" %>
<%= f.hint "Valor del pago" %>

<%= f.label :respuesta %>
<%= f.text_field :respuesta , placeholder:"Respuesta del pago" %>
<%= f.hint "Respuesta del pago" %>

<%= f.label :cuentanro %>
<%= f.text_field :cuentanro , placeholder:"Número de cuenta" %>
<%= f.hint "Número de cuenta" %>

<%= f.label :metodousado %>
<%= f.text_field :metodousado , placeholder:"Método usado" %>
<%= f.hint "Método usado" %>

<%= f.label :autorizacion %>
<%= f.text_field :autorizacion , placeholder:"Autorización del pago" %>
<%= f.hint "Autorización del pago" %>

<%= f.label :nrotransaccion %>
<%= f.text_field :nrotransaccion , placeholder:"Número de transacción" %>
<%= f.hint "Número de transacción" %>

<%= f.label :user_id, "User" %>
<%= f.searchable_select :user_id, AuthUser.all, :id, :username%>
<%= f.hint "Select the user of payment" %>

<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>