<% user = AuthUser.find(current_administrator.auth_user_id)%>
<% if user.auth_permissions.where('"auth_permission"."codename" = ?', "delete_subscriptioninformation").present? || user.is_superuser == true %>

<%= index_table do %>
  <thead>
    <tr>
      <%= index_th :user_id %>
      <%= index_th :reference %>
      <%= actions_th %>
    </tr>
  </thead>
  <tbody>
    <% @resources.each do |payment| %>
      <tr>
        <%= index_td payment, AuthUser.find(payment.user_id).username %>
        <%= index_td payment, :reference %>
        <%= actions_td payment %>
      </tr>
    <% end %>
  </tbody>
<% end %>
<% else %>
  No tienes los permisos necesarios para modificar la página
<% end %>