<footer id="footer">
    <div class="container">
        <div class="col">
            <ul class="footer-menu">    
                <li><a href="http://elpost.co/auth_users/sign_in">Log In</a></li>
                <li><a href="http://www.larousse.com/es/diccionarios/espanol-ingles">Diccionario</a></li>
                <li><a href="/about/about-us">Sobre Nosotros</a></li>
                <li><a href="http://www.britannica.com">Enciclopedia</a></li>
                <li><a target="_blank" href="https://s3-us-west-2.amazonaws.com/elpost/Terminos_y_Condiciones_elPost.co.pdf">Términos y Condiciones</a></li>
                <li><a href="http://www.playhangman.com">Juegos</a></li>    
            </ul>
        </div>
        <div class="col">
            <div class="modules_sidebar" data-position="footer">
                <p><a href="http://latinamericanpost.com/" target="_blank">Latinamerican Post</a></p>
                <p><a href="http://thecolombianpost.com/" target="_blank">The Colombian Post</a></p>
                <p><a href="http://www.latamradio.com/" target="_blank">Latam Radio</a></p>
                <p><a href="http://latamart.com/" target="_blank">Latam Art</a></p>
                <p>&nbsp;</p>
                <p><strong>Postphorism<br></strong></p>
                <p><em>"When a thing has been said, and said well, have no scruple. Take it and copy it".</em></p>
                <p class="p1" style="text-align: right;">Anatole France</p>
            </div>
        </div>
    </div>
</footer>