<header id="header" style="position: fixed;width: 100%;z-index: 1;">

    <nav id="mainMenu" class="menu">
        <ul>        
        <% if !current_auth_user.nil?
            if !current_auth_user.latamusers_students.empty?
                logo = LatamusersIntitution.find(current_auth_user.latamusers_students.first.institution_id).logo
            elsif !current_auth_user.latamusers_students_teacher.empty?
                logo = LatamusersIntitution.find(current_auth_user.latamusers_students_teacher.first.institution_id).logo
            end
        %>
        <% if !logo.url.nil? %>
        <li style="padding-left:1em;"><%= image_tag(logo.thumb.url, alt: "") %></li>
        <% else %> 
        <% end %>
        <li><%= image_tag("LOGO-EL-POST-600PX-WHITE.png") %></li>
        <% end %>
        <li><a href="/articles">Articles</a></li>
        <li><a href="/activities">Activities</a></li>

            <%CmsMenu.all do |itm|%>
                <% if itm.location == 'header' %>
                    <li><a href="<%= itm.url %>"><%= itm.name %></a></li>
                <%end%>
            <%end%>

            <li class="submenu">
                <a title="Tutorials">
                    <div style="float: left;">Tutorials</div><svg xmlns="http://www.w3.org/2000/svg" width="102.61" height="72.122" viewBox="0 0 102.61 72.122"><g fill="#58595B"><path d="M51.305 63.818c-15.306 0-27.757-12.452-27.757-27.758 0-15.304 12.452-27.756 27.757-27.756 15.305 0 27.757 12.452 27.757 27.757 0 15.305-12.452 27.757-27.757 27.757zm0-52.514c-13.651 0-24.757 11.106-24.757 24.757 0 13.651 11.106 24.758 24.757 24.758 13.651 0 24.757-11.106 24.757-24.758 0-13.651-11.106-24.757-24.757-24.757zM43.855 51.704v-30.596l23.489 15.298-23.489 15.298zm3-25.061v19.527l14.992-9.764-14.992-9.763z"></path></g></svg>
                </a>
                <ul>
                    <% if auth_user_signed_in? %>
                        <li><a href="https://s3.us-west-2.amazonaws.com/elpost/manualdeusuario1.mp4" target="_blank">Manual de usuario</a></li>
                        <% if current_auth_user.auth_groups.where("group_id = '4'").blank? %>
                            <li><a href="https://www.youtube.com/watch?v=5jwU6nz8EKw" target="_blank">Inicio</a></li>
                            <li><a href="https://www.youtube.com/watch?v=aol1TNZSw_Ex" target="_blank">Actividades</a></li>
                        <% else %>
                            <li><a href="https://elpost.s3.amazonaws.com/videostv/manualdelprofe2.mp4" target="_blank">Asignar actividad</a></li>
                            <li class="submenu">
                                <a href="https://elpost.s3.amazonaws.com/videostv/manualdelprofe2.mp4" target="_blank">Preguntas</a>
                                <ul class="menu">
                                    <li><a href="https://s3.us-west-2.amazonaws.com/elpost/VOICE_RECORDING.mp4" target="_blank">Voice recording</a></li>
                                    <li><a href="https://s3.us-west-2.amazonaws.com/elpost/open_cuestion.mp4" target="_blank">Open cuestion</a></li>
                                    <li><a href="https://s3.us-west-2.amazonaws.com/elpost/FILL_IN_THE_BLANKS.mp4" target="_blank">Fill in the blanks</a></li>
                                    <li><a href="https://s3-us-west-2.amazonaws.com/elpost/Drag_and_drop.mp4" target="_blank">Drag and drop</a></li>
                                </ul>
                            </li>
                        <% end %>
                        <% if current_auth_user.administrator.present? %>
                            <li><a href="https://youtu.be/OXIG8qpNpCc" target="_blank">Crear actividades</a></li>
                            <li><a href="https://youtu.be/5CGBTX_wWIM" target="_blank">Subir artículos</a></li>
                            <li><a href="https://youtu.be/aE4_Jl4eONI" target="_blank">Subir media</a></li>
                        <% end %>
                    <% end %>
                </ul>
            </li>

            <% if auth_user_signed_in? %>
                <% if current_auth_user.auth_groups.where("group_id = '4'").blank? %>
                <li><a href="/assigned_activities"><b>Assigned activities</a></li>
                <li><a href="/guided_content"><b>Guided content</a></li>
                <%end%>
            <%end%>
            <li class="profile_nav submenu">  
                <% if auth_user_signed_in? %>
                    
                    <a href="/profile">
                    
                    <%=current_auth_user.username%>
                    <% if current_auth_user.latamusers_userprofiles.first.present? %>
                        <% if current_auth_user.latamusers_userprofiles.first.thumbnail.present? %>
                            <%= image_tag(current_auth_user.latamusers_userprofiles.first.thumbnail.url.sub("/media/users/users/", "/media/users/"), size: "30x30", class: "thumbnail-image")%>
                        <% else %>
                            <%= image_tag("profile.png") %>
                        <% end %>
                    <% else %>
                        <%= image_tag("profile.png") %>
                    <% end %>

                    </a>
                    <ul>
                        <li><a href="/profile">Profile</a></li>
                        <li><%= link_to "Logout", destroy_auth_user_session_path, method: :delete %></li>
                    </ul>
                <% else %>
                    <a href="/profile/">
                    <%= image_tag("profile.png") %>
                    </a><ul><a href="/profile/">
                    </a><li><a href="/profile/"></a><a href="/profile/">Login</a></li>
                    </ul>
                <% end %>
            </li>

            <% unless @config.facebook.nil? || @config.facebook.blank? %>
                <li class="profile_nav"><a target="_blank" style="width: 70px" href="<%= @config.facebook %>" target="_blank"><%= image_tag("facebook.png") %></a></li>
            <% end %>
            <% unless @config.twitter.nil? || @config.twitter.blank? %>
                <li class="profile_nav"><a target="_blank" style="width: 70px" href="<%= @config.twitter %>"><%= image_tag("twitter.png") %></a></li>
            <% end %>
            <% unless @config.youtube.nil? || @config.youtube.blank? %>
                <li class="profile_nav"><a target="_blank" style="width: 70px" href="<%= @config.youtube %>"><%=image_tag("youtube.png") %></a></li>
            <% end %>
            <% unless @config.linkedin.nil? || @config.linkedin.blank? %>
                <li class="profile_nav"><a target="_blank" style="width: 70px" href="<%= @config.linkedin %>"><%= image_tag("linkedin") %></a></li>
            <% end %>
        </ul>
    </nav>    
</header>

<script>
$('.submenu').hover(function () {
            $(this).children('ul').stop().slideDown();
        },
        function () {
            $(this).children('ul').stop().slideUp();
        }
);
</script>