<!DOCTYPE html>
<html>
  <head lang="en">
    <meta name="google" content="notranslate" value="notranslate">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta charset="UTF-8"/>
    <title>El Post<%= yield(:title) %></title>

    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= favicon_link_tag %>

    <%= stylesheet_link_tag 'owl.theme' %>
    <%= stylesheet_link_tag 'post' %>
    <%= stylesheet_link_tag 'application' %>
    <%= stylesheet_link_tag 'animate.min' %>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= stylesheet_link_tag 'fonts' %>
    
  </head>
  <%= render 'layouts/header' unless @disable_nav %>

  <body class=notranslate >
    <% unless flash.empty? %>
      <script type="text/javascript">
        <% flash.each do |key, value| %>
          <% type = key.to_s.gsub('danger','error').gsub('alert','warning').gsub('notice','success') %>
          toastr['<%=type%>']("<%=value.html_safe%>", "", { closeButton: true, timeOut: 10000, allowHtml: true });
        <% end %>
      </script>
    <% end %>
    <%= yield %>
  </body>
  <%= render 'layouts/footer' unless @disable_foot %>
</html>
 