<%= javascript_include_tag Ckeditor.cdn_url %>
<script type="text/javascript">
	CKEDITOR.config.pasteFromWordPromptCleanup = true;
	CKEDITOR.config.pasteFromWordRemoveFontStyles = true;
	CKEDITOR.config.forcePasteAsPlainText = true;
	CKEDITOR.config.ignoreEmptyParagraph = true;
	CKEDITOR.config.removeFormatAttributes = true;
</script>

<%= f.label :title %>
<%= f.text_field :title %>
<%= f.hint "Add a title for the template" %>
<br><br><br><br><br><br>

<%= f.label :template %><br><br><br>
<%= f.cktext_area :template %>
<%= f.hint "YOU CAN ADD RUBY ON RAILS TAGS TO PERSONALIZE IT. Ex: <b> \#{@user.username} <b>" %>